<html>
    <head>
        <title>Rendereziação PDF</title>
        <style>

            @font-face {
                font-family:bebaskai;
                font-style:normal;
                font-weight:400;
                src:local('BebasKai'),
                url({{ url_for('static', filename='fonts/BebasKai-Regular.woff') }}) format('woff')
            }

            #pagina {
                width: 729px;
                height: 1062px;
                color: black;
                margin-top: -6px;
                margin-left: -7px;
                background-color: white;
            }

            #tb-principal {
                width: 100%;
                height: 100%;
                border-collapse: collapse;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                /*border: 4px solid black;*/
            }

            #tb-principal th {
                border: 1px solid black;
                text-align: center;
                padding: 8px;
                font-family: Arial, Helvetica, sans-serif;
            }

            #tb-principal td {
                background-color: white;
                border: 1px solid black;
                text-align: center;
                padding: 3px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 11px;
            }    

            #tb-principal td:last-of-type {
                border-right: 4px solid black !important;
            }

            #tb-principal tr:last-of-type td {
                border-bottom: 4px solid black !important;
            }            

            .vertical-text {
                writing-mode: vertical-rl; /* or vertical-lr */
                font-size: 25px !important;
                font-weight: bold;
                transform: rotate(180deg);
            }

            .gray {
                background-color: #e4e4e4 !important;
            }

            .d-2 {
                background-color: rgb(255, 242, 204) !important;    
            }

            .yellow {
                background-color: rgb(255, 242, 204) !important;
            }

            .d-none {
                background-color: orange !important;
            }

            .d-5 {
                background-color: rgb(204, 255, 204) !important;
            }

            .first-line {
                border-top: 4px solid black !important;
            }

            .first-head {
                border-top: 2px solid black !important;
            }

            .blue {
                color:white;
                background-color: #0070C0 !important;
                font-weight: bold;
            }

            .titulo {
                font-family:'BebasKai', sans-serif !important;
                font-size: 22px;
                font-weight: normal;    
                padding: 8px !important;
                border-top: 4px solid black !important;
                border-bottom: 2px solid black !important;
                border-left: 4px solid black !important;
                border-right: 4px solid black !important;
            }

            .red {
                color: red;
            }

            .head {
                height: 5px !important;
                padding: 8px !important;
                font-weight: bold;
                font-size: 13px !important;
            }

            .foot {
                text-align: left !important;
            }

            .quadrado_1 {
                width: 10px; /* Largura do quadrado */
                height: 10px; /* Altura do quadrado */
                background-color: white; /* Cor de fundo do quadrado */
                border: solid 1px black/* Cor da borda do quadrado */;
                display: inline-block;
            }

            .quadrado_2 {
                width: 10px; /* Largura do quadrado */
                height: 10px; /* Altura do quadrado */
                background-color: rgb(255, 242, 204); /* Cor de fundo do quadrado */
                border: solid 1px black/* Cor da borda do quadrado */;
                display: inline-block;
            }

            .quadrado_5 {
                width: 10px; /* Largura do quadrado */
                height: 10px; /* Altura do quadrado */
                background-color: rgb(204, 255, 204); /* Cor de fundo do quadrado */
                border: solid 1px black/* Cor da borda do quadrado */;
                display: inline-block;
            }

            .semana_2 {
                background-color: #DBE9F6 !important;
            }

            .semana_3 {
                background-color: #F1CEEE !important;
            }        

            .semana_4 {
                background-color: #FCE2D5 !important;
            }        

            .semana_5 {
                background-color: #D8F4CC !important;
            }        

            .semana_6 {
                background-color: #92DEF5 !important;
            }  

            .interval {
                height: 20px;
                border-left: 1px solid white !important;
                border-right: 1px solid white !important;
                border-top: 4px solid black !important;
                border-bottom:none;
            } 

            .ALMOÇO {
                background-color: #ff5e00 !important;
                color: white !important;
            }                                    

        </style>
    </head>
    <body>
        <div id="pagina">
            
            <table id="tb-principal">
                <thead>
                    <tr>
                        <th class="titulo" colspan="{{turmas|length + 2}}"><span class="red">Horário Geral</span> - {{tipo}} - <span class="red">{{data}}</span></th>
                    </tr>

                    <tr>
                        <td class="yellow head" style="border-left: 4px solid black;">Dia</td>
                        <td class="yellow head">Horário</td>
                        {% for item in turmas %}
                        <td class="yellow head">{{item['nome_turma']}}</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody> 
                    {% set count = namespace(value=0) %}

                    {% for n in range(2, 7) %}

                        {% set count.value = 0 %}
                        
                        <!-- {{dias_semana[n - 2]}} -->
                        {% for item in horario %}
                        <tr>
                            {% if loop.index == 1 %}
                                <td class="{{'first-line' if n != 2 else 'first-head'}} semana_{{n}}" rowspan="{{rowspan}}" style="border-left: 4px solid black;border-bottom: 4px solid black;"><span class="vertical-text">{{dias_semana[n - 2]}}</span></td>
                                <td class="semana_{{n}} {{'first-line' if n != 2 else 'first-head'}}">{{item['horario']}}</td>

                                <!-- Agora se inicia o processo de inclusão das disciplinas -->
                                {% for turma in turmas %}
                                <td class="semana_{{n}} {{'first-line' if n != 2 else 'first-head'}}">{{grade[n][count.value]['abv']}} {{grade[n][count.value]['nome']}}</td>
                                {% set count.value = count.value + 1 %}
                            {% endfor %}

                            {% else %}
                                <td class="semana_{{n}}">{{item['horario']}}</td>

                                {% for turma in turmas %}
                                <td class="semana_{{n}}">{{grade[n][count.value]['abv']}} {{grade[n][count.value]['nome']}}</td>
                                {% set count.value = count.value + 1 %}
                                {% endfor %}

                            {% endif %}

                        </tr>

                        {% if item['intervalo'] %}
                        <tr>
                            <td class="blue">{{item['intervalo']}}</td><td class="blue" colspan="{{turmas|length}}">INTERVALO</td>
                        </tr>
                        {% endif %}

                        {% endfor %}


                    {% if n < 6 %}
                    <tr>
                        <th class="interval" colspan="{{turmas|length + 2}}"></th>
                    </tr>
                    {% endif %}


                    {% endfor %}


                </tbody>

            </table>

        </div>
    </body>
</htmL>