<html>
    <head>
        <title>Rendereziação PDF</title>
        <style>

            @font-face {
                font-family:bebaskai;
                font-style:normal;
                font-weight:400;
                src:local('BebasKai'),
                url({{ url_for('static', filename='fonts/BebasKai-Regular.woff') }}) format('woff')
            }

            #pagina {
                width: 729px;
                height: 1057px;
                border-width: 2px;
                border-style: solid;
                border-color: {{cor}};
                position: absolute;
                top:30px;
                left: 30px;
                background-color: white;
            }          

            #logo {
                width: 117px;
                height: 136px;

                position: relative;
                top: 0px;
                left: 0px;
            }

            #head {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                position: absolute;
                top:0px;
                left:132px;
                line-height: 0.55;                 
            }
         
            #titulo {
                text-align: center;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 22px;
                margin-top: {{distancia}};
            }

            #texto {
                font-family: Arial, Helvetica, sans-serif;
                text-align: justify;
                width: 90%;
                position: relative;
                left: 5%;
                font-size: 19px;
                margin-top: {{distancia}};
                line-height: 2;
                text-indent: 100px
            }

            #texto2 {
                font-family: Arial, Helvetica, sans-serif;
                text-align: justify;
                width: 90%;
                position: relative;
                left: 5%;
                font-size: 19px;
                line-height: 2;
                text-indent: 100px;
            }

            #data {
                font-family: Arial, Helvetica, sans-serif;
                text-align: right;
                margin-top: 60px;
                font-size: 19px;
                margin-right: 5%;
            }

            #tb_anos {
                font-family: Arial, Helvetica, sans-serif;
                margin-top: 10px;
                position: relative;
                left: 5%;
                font-size: 20px;
                text-indent: 100px;
                line-height: 1.75;
            }

            .assinatura {
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                margin-top: 100px;
                font-size: 13px;
                position: relative;
                border-top: 1px solid black;
                width: 250px;
                left: 32vw;
                line-height: 0.8;
            }

        </style>
    </head>
    <body>
        <div id="pagina">
            <img id="logo" src="../static/images/brasao.svg">
            <div id="head">
                <p>GOVERNO DO ESTADO DE SÃO PAULO</p>
                <p>SECRETARIA DE ESTADO DA EDUCAÇÃO</p>
                <p>UNIDADE REGIONAL DE ENSINO DE GUARATINGUETÁ</p>
                <p>{{nome_escola}}</p>
                <p>{{endereco_escola}}</p>
            </div>
            <div id="titulo">{{titulo}}</div>
            <div id="texto">{{texto}}</div>
            {% if anos %}
            <div id="texto2">Comunicamos também que nos <b>últimos anos</b> {{pronome}} alun{{pronome}} estudou nas seguintes Instituições de Ensino:</div>
            <table id="tb_anos">
                {% for item in anos %}
                <tr>
                    <td><b>{{item['ano']}}</b> - {{item['escola']}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td><b>{{data[-4:]}}</b> - EE Profª. Alice Vilela Galvão - Canas/SP <b>(Cursando)</b></td>
                </tr>
            </table>
            {% endif %}
            <div id="data">Canas, {{data}}</div>

            {% if assinatura %}
            <div class="assinatura">
                <p>{{assinatura['nome']}}</p>
                <p>{{assinatura['rg']}}</p>
                <p>{{assinatura['cargo']}}</p>
            </div>
            {% endif %}

        </div>
    </body>
</htmL>