<html>
    <head>
        <title>Rendereziação PDF</title>
        <style>

            @font-face {
                font-family:bebaskai;
                font-style:normal;
                font-weight:400;
                src:local('BebasKai'),
                url({{ url_for('static', filename='fonts/BebasKai-Regular.woff') }}) format('woff')
            }

            @font-face {
                font-family:greatvibes-regular;
                font-style:normal;
                font-weight:400;
                src:local('GreatVibes-Regular'),
                url({{ url_for('static', filename='fonts/GreatVibes-Regular.woff') }}) format('woff')
            }            

            #capa {
                width: 699px;
                height: 1057px;
                border-width: 5px;
                border-style: solid;
                border-color: black;
                position: absolute;
                top:30px;
                left: 60px;                
            }

            #capa:before {
                content: " ";
                position: absolute;
                z-index: -1;
                top: 5px;
                left: 5px;
                right: 5px;
                bottom: 5px;
                border: 1px solid black;
            }              


            .blank_pag {
                width: 729px;
                height: 1057px;
                border-width: 2px;
                border-style: solid;
                border-color: white;
                position: absolute;
                left: 30px;
            }            

            #pag2 {
                top:1155px;                
            }

            #pag3 {
                width: 699px;
                height: 1057px;
                border-width: 2px;
                border-style: solid;
                border-color: white;
                position: absolute;
                top:2280px;
                left: 60px;
            }

            #pag4 {
                top:3405px;
                width: 699px;
                height: 1057px;
                border-width: 2px;
                border-style: solid;
                border-color: black;
                position: absolute;
                left: 60px;                
            }

            #logo {
                width: 270px;
                height: 270px;

                position: relative;
                top: -64px;
                left: -20px;
            }

            #titulo {
                font-family:'BebasKai', sans-serif;
                font-size: 25px;
                position: absolute;
                top: 5px;
                left: 100px;
            }

            .blue {
                color: rgb(12, 146, 255);
            }

            .red {
                color:red;
            }

            #head {
                font-family: 'Helvetica', 'sans-serif';
                position: absolute;
                top: 30px;
                left: 210px;
                line-height: 0.62;
            }

            .subtitulo {
                font-family:'BebasKai', sans-serif;
                font-size: 25px;
                position: absolute;
                top: 100px;
            }

            #sub1 {
                color:rgb(12, 146, 255);
                left: 516px;
            }

            #sub2 {
                color:rgb(21, 179, 0);
                left: 540px;
            }

            table, th, td {
                font-family: 'Helvetica', 'sans-serif';
                border: 1px solid;
                border-color: black;
                border-collapse: collapse;
            }

            table {
                position: absolute;
                top: 150px;
                left: 0px;
                height: 910px;
            }

            table {
                border-width: 2px;
            }

            thead {
                font-size:15px;
            }

            tbody {
                font-size: 12px;
            }

            .center {
                text-align: center;
            }

            #dados_matricula th, #dados_matricula td {
                border-left-width: 1px;
                border-bottom-color: rgb(0, 0, 0, 0.2);
            }

            #dados_matricula th {
                background-color: #FFFFE3;
            }

            .data {
                position: absolute;
                font-family: 'Helvetica', 'sans-serif';
                font-weight: bold;
                font-size: 14px;
                top: 130px;
                left: 512px;
            }

            #titulo_capa {
                font-family:'BebasKai', sans-serif;
                font-size: 65px;
                position: absolute;
                top: 20px;
                text-align: center;
                width: 100%;
            }

            #sub_titulo_capa {
                font-family:'GreatVibes-Regular', sans-serif;
                font-size: 75px;
                position: relative;
                text-align: center;
                width: 100%;
                margin-top: 500px;
            }

            #foot_capa {
                font-family:'BebasKai', sans-serif;
                font-size: 80px;
                position: absolute;
                margin-top: 340px;
                text-align: center;
                width: 100%;  
                color:red;              
            }

            #mapao {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0%;
                table-layout: fixed;
            }

            #mapao_line1 {
                font-family: 'Times New Roman', Times, serif;
                font-size: 20px;
            }

            .nota {
                font-size: 9px;
            }
         
        </style>
    </head>
    <body>
        <div id="capa">
            <div id="titulo_capa">EE PROFª ALICE VILELA GALVÃO</div>
            <div id="sub_titulo_capa">Conselho de classe/série</div>
            <div id="foot_capa">{{bimestre}}º Bimestre de {{turma['ano']}}</div>
        </div>
        <div id="pag2" class="blank_pag"></div>
        <div id="pag3">
            <img id="logo" src="../static/images/Logo Neo Sed White.png">
            <div id="titulo">Lista Geral - <span class="red">{{turma['nome_turma']}}</span> - {{turma['tipo_ensino']}} - {{turma['duracao']}}</div>
            <div id="head">
                <p><b>Número da Classe: </b>{{turma['num_classe']}}</p>
                <p><b>Período:</b> {{turma['periodo']}}</p>
                <p><b>Duração:</b> {{turma['duracao_tempo']}}</p>
                <p><b>Total:</b> {{total['total_ativos']}} ativos ({{total['total']}} no total)</p>
            </div>
            <div id="sub1" class="subtitulo">
                Dados de Matrícula
            </div>           
            <table id="dados_matricula">
                <thead>
                    <tr>
                        <th style="width:25px">Nº</th>
                        <th style="width:33px">RM</th>
                        <th>SÉRIE</th>
                        <th style="width:360px;text-align:left;">&nbsp;NOME</th>
                        <th style="width:85px">RA</th>
                        <th style="width:85px">MATR.</th>
                        <th style="width:85px">FIM MATR.</th>
                    </tr>
                </thead>
                <tbody>
                {% for n in range(0, 50) %}
                    {% if loop.index <= alunos|length %}
                    {% if alunos[n]['fim_mat'] != '' %}
                    <tr class="red"> 
                    {% else %}
                    <tr>
                    {% endif %}
                        <td class="center">{{'%02d' % alunos[n]['num']}}</td>
                        <td class="center">{{alunos[n]['rm']}}</td>
                        <td class="center">{{alunos[n]['serie']}}</td>
                        <td>&nbsp;{{alunos[n]['nome']}}</td>
                        <td class="center">{{alunos[n]['ra']}}</td>
                        {% if alunos[n]['fim_mat'] != '' %}
                        <td class="center"><b>{{alunos[n]['mat']}}</b></td>
                        {% else %}
                        <td class="center blue"><b>{{alunos[n]['mat']}}</b></td>
                        {% endif %}
                        <td class="center"><b>{{alunos[n]['fim_mat']}}</b></td>
                    </tr>
                    {% else %}
                    <tr>
                        <td class="center">{{'%02d' % loop.index}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="pag4">
            <table id="mapao">
                <thead>
                    <tr>
                        <th id="mapao_line1" colspan="{{disciplinas|length * 3 + 1}}">REGISTRO DE CONTROLE DO RENDIMENTO ESCOLAR</th>
                    </tr>
                    <tr><th colspan="{{disciplinas|length * 3 + 1}}">TURMA: <span class="red">{{turma['nome_turma']}}</span>&nbsp;&nbsp;&nbsp;&nbsp;BIMESTRE: <span class="red">{{bimestre}}º</span>&nbsp;&nbsp;&nbsp;&nbsp;ANO: <span class="red">{{turma['ano']}}</span>&nbsp;&nbsp;&nbsp;&nbsp;{{turma['tipo_ensino']}}</th></tr>
                    <tr>
                        <th rowspan="2">Nº</th>
                        {% for item in disciplinas %}
                            <td colspan="3" class="center">{{item['desc_disc']}}</td>    
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for item in disciplinas %}
                            <td class="center nota">N</td>
                            <td class="center nota">F</td>
                            <td class="center nota">AC</td>
                        {% endfor %}                    
                    </tr>
                </thead>
                <tbody>
                    {% for n in range(0, 48) %}
                        <tr>
                        {% if loop.index <= alunos|length %}
                            <th>{{alunos[n]['num']}}</th>
                            {% for disc in disciplinas %}
                                {% if alunos[n]['fim_mat'] == '' %}
                                    <td class="center" style="width: 100%;">{{disc['notas'][alunos[n]['ra_bruto']]['nota']}}</td>
                                    <td class="center" style="width: 100%;">{{disc['notas'][alunos[n]['ra_bruto']]['falta']}}</td>
                                    <td class="center" style="width: 100%;">{{disc['notas'][alunos[n]['ra_bruto']]['ac']}}</td>
                                {% else %}
                                    <td colspan="3" class="red center">{{alunos[n]['mat']}}</td>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <td></td>
                            <td></td>
                            <td></td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </body>
    <script>
        var notas = {{disciplinas}};
        console.log(notas);
        var alunos = {{alunos}};
        console.log(alunos);
    </script>
</htmL>