<html>
    <head>
        <title>Etiquetas para Impressão</title>

        <style>

            @font-face {
                font-family:bebaskai;
                font-style:normal;
                font-weight:400;
                src:local('BebasKai'),
                url({{ url_for('static', filename='fonts/BebasKai-Regular.woff') }}) format('woff')
            }

            .pagina {
                height: 1030px;
                width: 702px;
                border-width: 2px;
                border-style: solid;
                border-color: white;
                margin-top:0px;
                margin-left:0px;
            }

            .quadro {
                border-width: 3px;
                border-style: solid;
                border-color: black;
                width: 330px;
                height: 60px;
                margin: 8px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
            }

            .nome {
                margin-top: 10px;
                margin-left: 5px;
                margin-bottom: 0px;
                white-space: nowrap;         /* Impede a quebra de linha */
                overflow: hidden;            /* Esconde o que ultrapassar o tamanho */
                text-overflow: ellipsis;     /* Exibe "..." no final do texto cortado */
            }

            .serie {
                margin-top: 5px;
                margin-left: 5px;
            }

            .container {
                display: flex;
            }            

        </style>
    </head>

    <body>
        <div class="pagina">
            {% for i in range(0, alunos|length, 2) %}
                <div class="container">
                    <div class="quadro">
                        <p class="nome"><b>Nome: </b>{{alunos[i]['nome']}}</p>
                        <p class="serie"><b>Série: </b>{{turma}}</p>                                       
                    </div>

                    {% if i < alunos|length - 1 %}
                    <div class="quadro">
                        <p class="nome"><b>Nome: </b>{{alunos[i + 1]['nome']}}</p>
                        <p class="serie"><b>Série: </b>{{turma}}</p>                                       
                    </div>                  
                    {% endif %}  
                </div>

            {% endfor %}
        </div>
    </body>
</html>