<html>
    <head>
        <title>Render Horário Individual</title>
        <style>

            .thead {
                font-family: Arial, Helvetica, sans-serif;
            }

            .dark {
                background-color: #333;
                color: white;
                border-right: white solid 1px;
            }

            table {
                width: 729px;
                height: 340px;
                border-collapse: collapse;
                margin-bottom: 20px;
                border: solid black 2px;
            }

            .aula {
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;  
                border: solid black 1px;
                font-size: 11px;
            }

            .info-ROE,
            .info-Atpg,
            .info-Atpa,
            .info-Atpc,
            .info-Mult,
            .info-PAT,
            .info-PATN,
            .info-SL,
            .info-SLN {
                background-color: #ffea97;
            }

            .info-PCA {
                background-color: #fff3c1;
            }

            .info-Tut {
                background-color: #FFA500;
            }

            .info-ELE {
                background-color: #FEDEFF;
            }

            .info-CLB {
                background-color: #663399;
                color: white;
            }

            .intervalo {
                background-color: #0070C0;
                color: white;
                text-align: center;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 11px;
            }

            .almoco {
                background-color: #663399;
                color: white;
                text-align: center;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 11px;
            }

            .intervalo_professor {
                background-color: #333;
                height: 3px !important;
                max-height: 3px !important;
            }
            
        </style>
    </head>
    <body>
        {% for professor in professores %}
        <table>
            <thead>
                <tr>
                    <td colspan="6" class="thead" style="padding-top:10px;padding-left:10px;"><b>Professor(a):</b> {{ professor.nome }}</td>
                </tr>
                <tr>
                    <td colspan="6" class="thead" style="padding-left:10px;padding-bottom:10px;"><b>Quantidade de Aulas:</b> {{ professor['qtd_aulas'] + professor['total_quadro_manual'] }}</td>
                </tr>
                <tr>
                    <th class="thead dark" style="width:104px;">Horário</th>
                    <th class="thead dark" style="width:125px;">Segunda</th>
                    <th class="thead dark" style="width:125px;">Terça</th>
                    <th class="thead dark" style="width:125px;">Quarta</th>
                    <th class="thead dark" style="width:125px;">Quinta</th>
                    <th class="thead dark" style="width:125px;">Sexta</th>
                </tr>
            </thead>
            <tbody>
                {% for aula in professor['quadro'] %}

                <tr>
                    <td class="aula">{{aula['horario']}}</td>
                    <td class="aula info-{{aula['seg']}}">{{aula['seg']|replace("ROE", "Reunião OE")|replace('Tut', 'TUTORIA')|replace('Atpg', 'ATPCG')|replace('Atpa', 'ATPCA')|replace('ELE', 'ELETIVA')|replace('Mult', 'MULTIPLICA')|replace('PAT', 'PAEET')|replace('PAEETN', 'PAEET')|replace('SLN', 'Sala de Leitura')|replace('SL', 'Sala de Leitura')|replace('Atpc', 'ATPC')|replace('CLB', 'CLUBE')}}</td>
                    <td class="aula info-{{aula['ter']}}">{{aula['ter']|replace("ROE", "Reunião OE")|replace('Tut', 'TUTORIA')|replace('Atpg', 'ATPCG')|replace('Atpa', 'ATPCA')|replace('ELE', 'ELETIVA')|replace('Mult', 'MULTIPLICA')|replace('PAT', 'PAEET')|replace('PAEETN', 'PAEET')|replace('SLN', 'Sala de Leitura')|replace('SL', 'Sala de Leitura')|replace('Atpc', 'ATPC')|replace('CLB', 'CLUBE')}}</td>
                    <td class="aula info-{{aula['qua']}}">{{aula['qua']|replace("ROE", "Reunião OE")|replace('Tut', 'TUTORIA')|replace('Atpg', 'ATPCG')|replace('Atpa', 'ATPCA')|replace('ELE', 'ELETIVA')|replace('Mult', 'MULTIPLICA')|replace('PAT', 'PAEET')|replace('PAEETN', 'PAEET')|replace('SLN', 'Sala de Leitura')|replace('SL', 'Sala de Leitura')|replace('Atpc', 'ATPC')|replace('CLB', 'CLUBE')}}</td>
                    <td class="aula info-{{aula['qui']}}">{{aula['qui']|replace("ROE", "Reunião OE")|replace('Tut', 'TUTORIA')|replace('Atpg', 'ATPCG')|replace('Atpa', 'ATPCA')|replace('ELE', 'ELETIVA')|replace('Mult', 'MULTIPLICA')|replace('PAT', 'PAEET')|replace('PAEETN', 'PAEET')|replace('SLN', 'Sala de Leitura')|replace('SL', 'Sala de Leitura')|replace('Atpc', 'ATPC')|replace('CLB', 'CLUBE')}}</td>
                    <td class="aula info-{{aula['sex']}}">{{aula['sex']|replace("ROE", "Reunião OE")|replace('Tut', 'TUTORIA')|replace('Atpg', 'ATPCG')|replace('Atpa', 'ATPCA')|replace('ELE', 'ELETIVA')|replace('Mult', 'MULTIPLICA')|replace('PAT', 'PAEET')|replace('PAEETN', 'PAEET')|replace('SLN', 'Sala de Leitura')|replace('SL', 'Sala de Leitura')|replace('Atpc', 'ATPC')|replace('CLB', 'CLUBE')}}</td>
                </tr>

                {% try %}
                    {% if professor['quadro'][loop.index]['inicio'] != aula['fim'] %}

                        {% if professor['afastamento'] %}
                        <tr>
                            <td class="intervalo">{{aula['fim']|formatar_timedelta}} - {{professor['quadro'][loop.index]['inicio']|formatar_timedelta}}</td>
                            <td class="intervalo" colspan="5">INTERVALO DOS ALUNOS</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="6" class="intervalo_professor"></td>
                        </tr>                        
                        {% endif %}
                    {% endif %}
                {% catch %}
                {% endtry %}

                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </body>
</html>
