<html>
    <head>
        <title>Rendereziação PDF</title>
        <style>

            @font-face {
                font-family:bebaskai;
                font-style:normal;
                font-weight:400;
                src:local('BebasKai'),
                url({{ url_for('static', filename='fonts/BebasKai-Regular.woff') }}) format('woff')
            }

            #pagina {
                width: 729px;
                height: 1057px;
                border-width: 2px;
                border-style: solid;
                border-color: rgb(0,0,0,0);
                position: absolute;
                top:30px;
                left: 30px;
            }

            #pagina2 {
                width: 729px;
                height: 1057px;
                border-width: 2px;
                border-style: solid;
                border-color: white;
                position: absolute;
                top:1155px;
                left: 30px;
            }            

            #logo {
                width: 270px;
                height: 270px;

                position: relative;
                top: -64px;
                left: -20px;
            }

            #titulo {
                font-family:'BebasKai', sans-serif;
                font-size: 25px;
                text-align: center;
                background-color: rgb(255, 245, 230);

            }

            .blue {
                color: rgb(12, 146, 255);
            }

            .red {
                color:red;
            }

            #head {
                font-family: 'Helvetica', 'sans-serif';
                position: absolute;
                top: 30px;
                left: 210px;
                line-height: 0.62;
            }

            .subtitulo {
                font-family:'BebasKai', sans-serif;
                font-size: 25px;
                position: absolute;
                top: 100px;
            }

            #sub1 {
                color:rgb(12, 146, 255);
                left: 516px;
            }

            #sub2 {
                color:rgb(21, 179, 0);
                left: 540px;
            }

            table, th, td {
                font-family: 'Helvetica', 'sans-serif';
                border: 1px solid;
                border-color: black;
                border-collapse: collapse;
            }

            #principal {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 980;
                width: 730px;
            }

            table {
                border-width: 2px;
            }

            thead {
                font-size:15px;
            }

            tbody {
                font-size: 12px;
            }

            .center {
                text-align: center;
            }

            th, td {
                border-left-width: 1px;
            }

            th {
                border-top-width: 2px;
                border-bottom-width: 2px;
            }

            .left {
                border-left-width: 2px;
            }

            .data {
                position: absolute;
                font-family: 'Helvetica', 'sans-serif';
                font-weight: bold;
                font-size: 14px;
                top: 130px;
                left: 512px;
            }

            .subtitle {
                background-color: rgb(255, 245, 230);                
            }

            .classe_1 {
                background-color: rgb(215, 238, 249);
            }

            .classe_2 {
                background-color: rgb(233, 248, 228);
            }
         
            #legenda {
                position: relative;
                top:1000px;
                left:20px;
                width: 100px;
            }

        </style>
    </head>
    <body>
        <div id="pagina">
            <table id="principal">
                <thead>
                    <tr><td colspan="6" id="titulo">Itineráfio Formativo - <span class="red">{{serie}}</span></td></tr>
                    <tr>
                        {% for item in classes_if %}
                        <th class="left subtitle" colspan="3">{{item['nome_turma']}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in lista_final %}
                            <tr>
                            {% for aluno in item %}
                                <td class="center left {{class_color[aluno['serie']]}}">{{aluno['num_chamada']}}</td>
                                <td class="{{class_color[aluno['serie']]}}">&nbsp;{{aluno['nome']}}</td>
                                <td class="{{class_color[aluno['serie']]}}">&nbsp;{{aluno['serie']}}</td>
                            {% endfor %}
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table id="legenda">
                <thead>
                    <tr><th>Legenda</th></tr>
                </thead>
                <tbody>
                    {% for item in classes_regulares %}
                    <tr><td class="{{class_color[item['nome_turma']]}}">{{item['nome_turma']}}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</htmL>