<html>
    <head>
        <title>Render Boletim</title>

        <style>

            @font-face {
                font-family:bebaskai;
                font-style:normal;
                font-weight:400;
                src:local('BebasKai'),
                url({{ url_for('static', filename='fonts/BebasKai-Regular.woff') }}) format('woff')
            }

            .tb_boletim {
                font-family: 'Helvetica', 'sans-serif';
                border: 2px solid;
                border-color: black;
                border-collapse: collapse;
                table-layout: fixed;
                text-align: center;
                width: 680px;
            }

            .titulo {
                font-family:'BebasKai', sans-serif;
                font-size: 25px;
            }

            .red {
                color: red;
            }

            .border {
                border-top: solid 1px black;
                border-bottom: solid 1px black;
                border-right: solid 2px black;
            }

            .border-basic {
                border: solid 1px black;
            }

        </style>
    </head>
    <body>
        {% for aluno in alunos %}
            <div class="pagina">
                <table class="tb_boletim">
                    <thead>
                        <tr><td colspan="15" class="titulo"><span class="red">{{info_classe['nome_turma']}}</span> - {{info_classe['tipo_ensino']}}</td></tr>
                        <tr>
                            <td colspan="10" style="text-align: left;padding:10px;">
                                <b>Nome: </b>{{aluno['nome']}}
                            </td>
                            <td colspan="5">
                                <b>Situação: </b>{{aluno['descricao']}}
                            </td>
                        <tr>
                            <th class="border" rowspan="2">Disc.</th>
                            <th class="border" colspan="3">1º Bimestre</th>
                            <th class="border" colspan="3">2º Bimestre</th>
                            <th class="border" colspan="3">3º Bimestre</th>
                            <th class="border" colspan="3">4º Bimestre</th>
                            <th class="border-basic" colspan="2">Conceito Final</th>
                        </tr>
                        <tr>
                            {% for n in range(0,4) %}
                            <td class="border-basic">N</td>
                            <td class="border-basic">F</td>
                            <td class="border">AC</td>
                            {% endfor %}

                            <td class="border-basic">M</td>
                            <td class="border-basic">Freq</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for disc in disciplinas %}
                        <tr>
                            <td class="border">{{disc['abv']}}</td>
                            {% if aluno['1'][disc['disciplina']] is defined %}
                            <td class="border-basic">{{aluno['1'][disc['disciplina']]['n']}}</td>
                            <td class="border-basic">{{aluno['1'][disc['disciplina']]['f']}}</td>
                            <td class="border">{{aluno['1'][disc['disciplina']]['ac']}}</td>
                            {% else %}
                            <td class="border-basic">-</td>
                            <td class="border-basic">-</td>
                            <td class="border">-</td>
                            {% endif %}

                            {% if aluno['2'][disc['disciplina']] is defined %}
                            <td class="border-basic">{{aluno['2'][disc['disciplina']]['n']}}</td>
                            <td class="border-basic">{{aluno['2'][disc['disciplina']]['f']}}</td>
                            <td class="border">{{aluno['2'][disc['disciplina']]['ac']}}</td>
                            {% else %}
                            <td class="border-basic">-</td>
                            <td class="border-basic">-</td>
                            <td class="border">-</td>
                            {% endif %}                            

                            {% if aluno['3'][disc['disciplina']] is defined %}
                            <td class="border-basic">{{aluno['3'][disc['disciplina']]['n']}}</td>
                            <td class="border-basic">{{aluno['3'][disc['disciplina']]['f']}}</td>
                            <td class="border">{{aluno['3'][disc['disciplina']]['ac']}}</td>
                            {% else %}
                            <td class="border-basic">-</td>
                            <td class="border-basic">-</td>
                            <td class="border">-</td>
                            {% endif %} 

                            {% if aluno['4'][disc['disciplina']] is defined %}
                            <td class="border-basic">{{aluno['4'][disc['disciplina']]['n']}}</td>
                            <td class="border-basic">{{aluno['4'][disc['disciplina']]['f']}}</td>
                            <td class="border">{{aluno['4'][disc['disciplina']]['ac']}}</td>
                            {% else %}
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            {% endif %}

                            {% if aluno['cf'][disc['disciplina']] is defined %}
                            <td class="border-basic">{{aluno['cf'][disc['disciplina']]['m']}}</td>
                            <td class="border-basic">{{aluno['cf'][disc['disciplina']]['freq']}}%</td>
                            {% else %}
                            <td class="border-basic">-</td>
                            <td class="border-basic">-</td>
                            {% endif %}                            
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </body>
</html>