<html>
    <head>
        <title>Render Boletim</title>

        <style>

            @font-face {
                font-family:bebaskai;
                font-style:normal;
                font-weight:400;
                src:local('BebasKai'),
                url({{ url_for('static', filename='fonts/BebasKai-Regular.woff') }}) format('woff')
            }

            .tb_boletim {
                font-family: 'Helvetica', 'sans-serif';
                border: 2px solid;
                border-color: black;
                border-collapse: collapse;
                table-layout: fixed;
                text-align: center;
                width: 680px;
            }

            .titulo {
                font-family:'BebasKai', sans-serif;
                font-size: 25px;
            }

            .red {
                color: red;
            }

            .border {
                border-top: solid 1px black;
                border-bottom: solid 1px black;
                border-right: solid 2px black;
            }

            .border-basic {
                border: solid 1px black;
            }

        </style>
    </head>
    <body>
        {% for aluno in alunos %}
            <div class="pagina">
                <table class="tb_boletim">
                    <thead>
                        <tr><td colspan="15" class="titulo"><span class="red">{{info_classe['nome_turma']}}</span> - {{info_classe['tipo_ensino']}}</td></tr>
                        <tr>
                            <td colspan="10" style="text-align: left;padding:10px;">
                                <b>Nome: </b>{{aluno['nome']}}
                            </td>
                            <td colspan="5">
                                <b>Situação: </b>{{aluno['situacao']}}
                            </td>
                        <tr>
                            <th class="border" rowspan="2">Disc.</th>
                            <th class="border" colspan="3">1º Bimestre</th>
                            <th class="border" colspan="3">2º Bimestre</th>
                            <th class="border" colspan="3">3º Bimestre</th>
                            <th class="border" colspan="3">4º Bimestre</th>
                            <th class="border-basic" colspan="2">Conceito Final</th>
                        </tr>
                        <tr>
                            {% for n in range(0,4) %}
                            <td class="border-basic">N</td>
                            <td class="border-basic">F</td>
                            <td class="border">AC</td>
                            {% endfor %}

                            <td class="border-basic">M</td>
                            <td class="border-basic">Freq</td>
                        </tr>
                    </thead>
                    <tbody>
    
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </body>
</html>