<html>
    <head>
        <title>Rendereziação PDF</title>
        <style>

            @font-face {
                font-family:bebaskai;
                font-style:normal;
                font-weight:400;
                src:local('BebasKai'),
                url({{ url_for('static', filename='fonts/BebasKai-Regular.woff') }}) format('woff')
            }

            @font-face {
                font-family:greatvibes-regular;
                font-style:normal;
                font-weight:400;
                src:local('GreatVibes-Regular'),
                url({{ url_for('static', filename='fonts/GreatVibes-Regular.woff') }}) format('woff')
            }            

            #capa {
                width: 699px;
                height: 1057px;
                border-width: 5px;
                border-style: solid;
                border-color: black;
                position: absolute;
                top:30px;
                left: 60px;                
            }

            #capa:before {
                content: " ";
                position: absolute;
                z-index: -1;
                top: 5px;
                left: 5px;
                right: 5px;
                bottom: 5px;
                border: 1px solid black;
            }              


            .blank_pag {
                width: 729px;
                height: 1057px;
                border-width: 2px;
                border-style: solid;
                border-color: white;
                position: absolute;
                left: 30px;
            }            

            #pag2 {
                top:1154px;
            }

            .lista-piloto {
                width: 699px;
                height: 1057px;
                border-width: 2px;
                border-style: solid;
                border-color: white;
                position: absolute;
                /*top:2280px;*/
                left: 60px;
            }

            .pag-mapao {
                /*top:3405px;*/
                width: 699px;
                height: 1057px;
                border-width: 2px;
                border-style: solid;
                border-color: black;
                position: absolute;
                left: 30px;
            }

            .pag-verso {
                /*top:4530px;*/
                width: 699px;
                height: 1057px;
                left: 60px;                
                border-style: solid;
                border-color: black;
                position: absolute;
            }

            #pag6 {
                top:5655px;
            }

            .pag-mapao-if {
                /*top:6780px;*/
                width: 699px;
                height: 1057px;
                border-width: 2px;
                border-style: solid;
                border-color: black;
                position: absolute;
                left: 60px;
            }

            .pag-verso-if {
                /*top:7905px;*/
                width: 699px;
                height: 1057px;
                border-width: 2px;
                border-style: solid;
                border-color: black;
                position: absolute;
                left: 30px;                
            }

            .logo {
                width: 270px;
                height: 270px;

                position: relative;
                top: -64px;
                left: -20px;
            }

            .titulo {
                font-family:'BebasKai', sans-serif;
                font-size: 25px;
                position: absolute;
                top: 5px;
                left: 100px;
            }

            .blue {
                color: rgb(12, 146, 255);
            }

            .red {
                color:red;
            }

            .head {
                font-family: 'Helvetica', 'sans-serif';
                position: absolute;
                top: 30px;
                left: 210px;
                line-height: 0.62;
            }

            .subtitulo {
                font-family:'BebasKai', sans-serif;
                font-size: 25px;
                position: absolute;
                top: 100px;
            }

            .sub1 {
                color:rgb(12, 146, 255);
                left: 516px;
            }

            .sub2 {
                color:rgb(21, 179, 0);
                left: 540px;
            }

            table, th, td {
                font-family: 'Helvetica', 'sans-serif';
                border: 1px solid;
                border-color: black;
                border-collapse: collapse;
            }

            table {
                position: absolute;
                top: 150px;
                left: 0px;
                height: 910px;
            }

            table {
                border-width: 2px;
            }

            thead {
                font-size:15px;
            }

            tbody {
                font-size: 12px;
            }

            .center {
                text-align: center;
            }

            .dados_matricula th, .dados_matricula td {
                border-left-width: 1px;
                border-bottom-color: rgb(0, 0, 0, 0.2);
            }

            .dados_matricula th {
                background-color: #FFFFE3;
            }

            .data {
                position: absolute;
                font-family: 'Helvetica', 'sans-serif';
                font-weight: bold;
                font-size: 14px;
                top: 130px;
                left: 512px;
            }

            #titulo_capa {
                font-family:'BebasKai', sans-serif;
                font-size: 65px;
                position: absolute;
                top: 20px;
                text-align: center;
                width: 100%;
            }

            #sub_titulo_capa {
                font-family:'GreatVibes-Regular', sans-serif;
                font-size: 75px;
                position: relative;
                text-align: center;
                width: 100%;
                margin-top: 500px;
            }

            #foot_capa {
                font-family:'BebasKai', sans-serif;
                font-size: 80px;
                position: absolute;
                margin-top: 340px;
                text-align: center;
                width: 100%;  
                color:red;              
            }

            .mapao,
            .mapao_if {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0%;
                table-layout: fixed;
            }

            .verso,
            .verso_if {
                position: absolute;
                width: 501px;
                height: 1059px;
                top: -1px;
                left: -1px;
                table-layout: fixed;
                border:none;
            }

            .ata_verso_if,
            .ata_verso {
                position: absolute;
                top:0%;
                left:505px;
                height: 1059px;
                width: 189px;
                table-layout: fixed;
                border:none;
            }

            .intermediario {
                position: absolute;
                top:0%;
                left:500px;
                height: 100%;
                width: 5px;
            }

            .espaco_final {
                position: absolute;
                top:0%;
                left:694px;
                height: 100%;
                width: 5px;             
            }

            .mapao_line1 {
                font-family: 'Times New Roman', Times, serif;
                font-size: 20px;
                border-bottom: solid 1px rgb(0,0,0,0);
            }

            .mapao_line2 {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .nota {
                font-size: 9px;
                text-align: center;
            }

            .nota_if {
                font-size: 12px;
                text-align: center;                
            }

            .nota_verso {
                font-size: 10px;
                text-align: center;
            }

            .head_verso {
                font-size: 12px;
            }

            .ac {
                font-size: 7px;
            }

            .num_bim_verso {
                writing-mode: vertical-rl;
                text-combine-upright: all;
            }

            .upright_text {
                writing-mode: vertical-rl;
                text-orientation: upright;
                color:red;
            }

            .vertical_text {
                writing-mode: vertical-rl;
                transform:scale(-1);
                text-orientation: mixed;
            }

            .destaque_ata {
                font-weight: bold;
                text-decoration: underline;
            }

            .head_ata {
                font-size: 12px;
                line-height: 25px;
                text-align: justify;
                text-indent: 50px;
            }

            .if_background_1 {
                background-color: #C6E7F6;
            }


            .if_background_2 {
                background-color: #FFFFE1;
            }         

            .dificuldade {
                text-align: center;
                font-weight: bold;
            }

            .dificuldade_label {
                font-size: 11px;                
            }
         
            .dificuldade_min {
                font-size: 9px;
            }

        </style>
    </head>
    <body>
        <div id="capa">
            <div id="titulo_capa">EE PROFª ALICE VILELA GALVÃO</div>
            <div id="sub_titulo_capa">Conselho de classe/série</div>
            <div id="foot_capa">{{bimestre}}º Bimestre de {{ano}}</div>
        </div>
        <div id="pag2" class="blank_pag"></div>

        {% for turma in turmas %}
        <div class="lista-piloto" style="top:{{turma['top']}}px" >
            <img class="logo" src="../static/images/Logo Neo Sed White.png">
            <div class="titulo">Lista Geral - <span class="red">{{turma['nome_turma']}}</span> - {{turma['tipo_ensino_desc']}} - {{turma['desc_duracao']}}</div>
            <div class="head">
                <p><b>Número da Classe: </b>{{turma['num_classe']}}</p>
                <p><b>Período:</b> {{turma['periodo']}}</p>
                <p><b>Duração:</b> {{turma['inicio']}} até {{turma['fim']}}</p>
                <p><b>Total:</b> {{turma['total']['total_ativos']}} ativos ({{turma['total']['total']}} no total)</p>
            </div>
            <div class="sub1 subtitulo">
                Dados de Matrícula
            </div>           
            <table class="dados_matricula">
                <thead>
                    <tr>
                        <th style="width:25px">Nº</th>
                        <th style="width:33px">RM</th>
                        <th>SÉRIE</th>
                        <th style="width:360px;text-align:left;">&nbsp;NOME</th>
                        <th style="width:85px">RA</th>
                        <th style="width:85px">MATR.</th>
                        <th style="width:85px">FIM MATR.</th>
                    </tr>
                </thead>
                <tbody>
                {% for n in range(0, 50) %}
                    {% if loop.index <= turma['alunos']|length %}
                        {% if turma['alunos'][n]['fim_mat'] != '' %}
                        <tr class="red"> 
                        {% else %}
                        <tr>
                        {% endif %}
                            <td class="center">{{'%02d' % turma['alunos'][n]['num']}}</td>
                            <td class="center">{{turma['alunos'][n]['rm']}}</td>
                            <td class="center">{{turma['alunos'][n]['serie']}}</td>
                            <td>&nbsp;{{turma['alunos'][n]['nome']}}</td>
                            <td class="center">{{turma['alunos'][n]['ra']}}</td>
                            {% if turma['alunos'][n]['fim_mat'] != '' %}
                            <td class="center"><b>{{turma['alunos'][n]['mat']}}</b></td>
                            {% else %}
                            <td class="center blue"><b>{{turma['alunos'][n]['mat']}}</b></td>
                            {% endif %}
                            <td class="center"><b>{{turma['alunos'][n]['fim_mat']}}</b></td>
                        </tr>
                    {% else %}
                    <tr>
                        <td class="center">{{'%02d' % loop.index}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="pag-mapao" style="top:{{turma['top_mapao']}}px">
            <table class="mapao">
                <thead>
                    <tr>
                        <th class="mapao_line1" colspan="{{turma['disciplinas']|length * 3 + 2}}">REGISTRO DE CONTROLE DO RENDIMENTO ESCOLAR</th>
                    </tr>
                    <tr>
                        <th class="mapao_line2" colspan="{{turma['disciplinas']|length * 3 + 2}}"><p>TURMA: <span class="red">{{turma['nome_turma']}}</span>&nbsp;&nbsp;&nbsp;&nbsp;BIMESTRE: <span class="red">{{bimestre}}º</span>&nbsp;&nbsp;&nbsp;&nbsp;ANO: <span class="red">{{turma['ano']}}</span>&nbsp;&nbsp;&nbsp;&nbsp;{{turma['tipo_ensino_desc']}}</p></th></tr>
                    <tr>
                        <th style="border-top:solid 2px;border-bottom:solid 2px;border-right:solid 2px;" rowspan="2" colspan="2">Nº</th>
                        {% for item in turma['disciplinas'] %}
                            <td style="border-top:solid 2px;border-right:solid 2px;" colspan="3" class="center">{{item['desc_disc']}}</td>    
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for item in turma['disciplinas'] %}
                            <td style="border-bottom:solid 2px;" class="center nota">N</td>
                            <td style="border-bottom:solid 2px;" class="center nota">F</td>
                            <td style="border-bottom:solid 2px;border-right:solid 2px;" class="center ac">AC</td>
                        {% endfor %}                    
                    </tr>
                </thead>
                <tbody>
                    {% for n in range(0, 50) %}
                        <tr>
                        {% if loop.index <= turma['alunos']|length %}
                            <th style="border-right:solid 2px;" colspan="2">{{'%02d' % turma['alunos'][n]['num']}}</th>
                            {% for disc in turma['disciplinas'] %}
                                {% if turma['alunos'][n]['fim_mat'] == '' %}
                                    {% if disc['notas'][turma['alunos'][n]['ra_bruto']]['nota']|int < 5 %}
                                    <td class="center nota red" style="width: 100%;">{{disc['notas'][turma['alunos'][n]['ra_bruto']]['nota']}}</td>
                                    {% else %}
                                    <td class="center nota" style="width: 100%;">{{disc['notas'][turma['alunos'][n]['ra_bruto']]['nota']}}</td>
                                    {% endif %}
                                    <td class="center nota" style="width: 100%;">{{disc['notas'][turma['alunos'][n]['ra_bruto']]['falta']}}</td>
                                    <td style="border-right:solid 2px;" class="center nota" style="width: 100%;">{{disc['notas'][turma['alunos'][n]['ra_bruto']]['ac']}}</td>
                                {% else %}
                                    <td style="border-right:solid 2px rgb(0,0,0);" colspan="3" class="red center nota">{{turma['alunos'][n]['mat']}}</td>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <th style="border-right:solid 2px;" colspan="2">{{'%02d' % loop.index}}</th>
                            {% for disc in turma['disciplinas'] %}
                                <td></td>
                                <td></td>
                                <td style="border-right:solid 2px;"></td>
                            {% endfor %}
                        {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th style="border-top:solid 2px;border-right:solid 2px;" class="nota" colspan="2">Prof</th>
                        {% for disc in turma['disciplinas'] %}
                            <td style="border-top:solid 2px;border-right:solid 2px;" class="nota" colspan="3">{{disc['nome_ata']}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th style="border-right:solid 2px;" class="nota" colspan="2">AD</th>
                        {% for disc in turma['disciplinas'] %}
                            <td style="border-right:solid 2px;" class="nota" colspan="3">{{disc['aulas_dadas']}}</td>
                        {% endfor %}                        
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="pag-verso" style="top:{{turma['top_verso']}}px">
            <table class="verso">
                <thead>
                    <tr>
                        <th class="upright_text"><span class="num_bim_verso">1º</span>&nbsp;BIMESTRE</th>
                        {% for disc in turma['disciplinas'] %}
                        <td class="vertical_text head_verso" rowspan="2">&nbsp;&nbsp;{{disc['completo']}}</td>
                        {% endfor %}
                        <td class="vertical_text head_verso" rowspan="2" style="font-weight: bold;border-left:solid 2px;">&nbsp;&nbsp;FALTAS</td>
                        <td class="vertical_text head_verso" rowspan="2" style="font-weight: bold;">&nbsp;&nbsp;% FREQUÊNCIA</td>
                        <td class="vertical_text head_verso" rowspan="2" style="font-weight: bold;">&nbsp;&nbsp;AUSÊNCIAS COMPENSADAS</td>
                        <td class="vertical_text" rowspan="2" colspan="4" style="font-weight: bold;border-left:solid 2px black;border-right:solid 2px black;">&nbsp;&nbsp;OBSERVAÇÕES</td>
                    </tr>
                    <tr><th>Nº</th></tr>
                </thead>
                <tbody>
                {% for n in range(0, 50) %}
                    <tr>
                        {% if loop.index <= turma['alunos']|length %}
                            <th>{{'%02d' % turma['alunos'][n]['num']}}</th>
                            {% for disc in turma['disciplinas'] %}
                                {% if turma['alunos'][n]['fim_mat'] == '' %}
                                    {% if disc['notas'][turma['alunos'][n]['ra_bruto']]['nota']|int < 5 %}
                                    <td class="center nota_verso red" style="width: 100%;">{{disc['notas'][turma['alunos'][n]['ra_bruto']]['nota']}}</td>
                                    {% else %}
                                    <td class="center nota_verso" style="width: 100%;">{{disc['notas'][turma['alunos'][n]['ra_bruto']]['nota']}}</td>
                                    {% endif %}
                                {% else %}
                                    <td class="center nota_verso">-</td>
                                {% endif %}
                            {% endfor %}
                            {% if turma['alunos'][n]['fim_mat'] == '' %}
                            <th class="nota_verso" style="border-left:solid 2px;">{{turma['alunos'][n]['total_faltas']}}</th>
                                {% if turma['alunos'][n]['freq']|int < 75 %}
                                <th class="red nota_verso">{{turma['alunos'][n]['freq']}}</th>
                                {% else %}
                                <th class="nota_verso">{{turma['alunos'][n]['freq']}}</th>
                                {% endif %}
                            <th class="nota_verso">{{turma['alunos'][n]['ac']}}</th>
                            <td colspan="4" class="dificuldade" style="border-left:solid 2px black;border-right:solid 2px black;"><span class="dificuldade_label">{{turma['alunos'][n]['dificuldade']}}</span></td>
                            {% else %}
                            <th style="border-left:solid 2px;">-</th>
                            <th>-</th>
                            <th>-</th>
                            <th class="red" style="text-align:center;border-left:solid 2px black;border-right:solid 2px black;" colspan="4">{{turma['alunos'][n]['mat']}}</th>
                            {% endif %}
                        {% else %}
                            <th>{{'%02d' % loop.index}}</th>
                            {% for disc in turma['disciplinas'] %}
                            <td></td>
                            {% endfor %}
                            <td style="border-left:solid 2px black;"></td>
                            <td></td>
                            <td></td>
                            <td colspan="4" style="border-left:solid 2px black;border-right:solid 2px black;"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="intermediario"></div>

            <table class="ata_verso">
                <thead>
                    <tr><th colspan="4" style="border:none">CONSELHO DE CLASSE</th></tr>
                    <tr>
                        <td colspan="4" class="head_ata" style="border:none;padding-top:10px;">
                            Aos <span class="destaque_ata">{{turma['fim_bimestre'].strftime('%d')}}</span> dias do mês de <span class="destaque_ata">{{turma['fim_bimestre'].strftime("%B")}}</span> de <span class="destaque_ata">{{turma['fim_bimestre'].strftime("%Y")}}</span> realizou-se o Conselho de
Classe e Série dos alunos da <span class="red" style="font-weight: bold;">{{turma['nome_turma']}}</span> do <b>{{turma['tipo_ensino_desc']}}</b> da EE Profª Alice Vilela Galvão.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="font-size:12px;text-align:right;border:none;padding-bottom: 10px;">Canas, {{turma['fim_bimestre'].strftime("%d/%m/%Y")}}</td>
                    </tr>
                </thead>
                <tbody style="padding-bot:30px">
                    <tr style="font-size:9px;">
                        <td style="border-right:solid 1px white;border-bottom:solid 1px white;border-left:none;">Matéria</td>
                        <td style="border-right:solid 1px white;border-bottom:solid 1px white;">Professor</td>
                        <td colspan="2" style="border-bottom:solid 1px white;border-right:none;">Assinatura</td>
                    </tr>
                    {% for disc in turma['disciplinas'] %}
                    <tr style="font-size:11px;font-weight: bold;">
                        <td style="border-right:solid 1px white;border-left:none;border-bottom: solid 1px rgba(0,0,0,0.2);">{{disc['desc_disc']}}</td>
                        <td style="border-right:solid 1px white;border-bottom: solid 1px rgba(0,0,0,0.2);">{{disc['nome_ata']}}</td>
                        <td colspan="2" style="border-right: none;border-bottom: solid 1px rgba(0,0,0,0.2);"></td>
                    </tr>
                    {% endfor %}
                    <tr><td colspan="4" style="font-weight: bold;border-left: none;border-right: none;border-bottom:none;padding-top:10px;">OBSERVAÇÕES</td></tr>
                    {% for dif in dificuldades %}
                    <tr><td colspan="4" style="font-size:7px;border:none;border-bottom: solid 1px rgba(0,0,0,0.2);"><b>{{dif['id']}}</b> - {{dif['descricao']}}</td></tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr><td colspan="4" style="padding-bottom:30px;border:none"></td></tr>
                    <tr><td colspan="4" style="font-size:12px;text-align:center;border-right: none;border-left:none;padding-bottom:30px;">Coordenador Pedagógico</td></tr>
                    <tr><td colspan="4" style="font-size:12px;text-align:center;border-right: none;border-left:none;padding-bottom:30px;">Diretor de Escola</td></tr>
                </tfoot>
            </table>
        </div>

        <div class="blank_pag" style="top:{{turma['top_blank']}}px"></div>

            {% if turma['turmas_if']|length > 0 %}

            <div class="pag-mapao-if" style="top:{{turma['top_mapao_if']}}px">
                <table class="mapao_if">
                    <thead>
                        <tr>
                            <th class="mapao_line1" colspan="{{turma['colspan_if'] * 3 + 2}}">REGISTRO DE CONTROLE DO RENDIMENTO ESCOLAR</th>
                        </tr>
                        <tr>
                            <th class="mapao_line2" colspan="{{turma['colspan_if'] * 3 + 2}}"><p>TURMA: <span class="red">{{turma['nome_turma']}}</span>&nbsp;&nbsp;&nbsp;&nbsp;BIMESTRE: <span class="red">{{bimestre}}º</span>&nbsp;&nbsp;&nbsp;&nbsp;ANO: <span class="red">{{turma['ano']}}</span>&nbsp;&nbsp;&nbsp;&nbsp;Itinerário Formativo</p></th>
                        </tr>
                        <tr>
                            {% for item in turma['turmas_if'] %}
                                {% if loop.index == 1 %}
                                    <th class="if_background_{{loop.index}}" style="border-top: solid 2px black;{{'border-right: solid 4px black;' if turma['turmas_if']|length > 1 else ''}}" colspan="{{item['disciplinas']|length * 3 + 2}}">{{item['nome']}}</th>
                                {% else %}
                                    <th class="if_background_{{loop.index}}" style="border-top: solid 2px black;" colspan="{{item['disciplinas']|length * 3}}">{{item['nome']}}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <th style="border-top:solid 2px;border-bottom:solid 2px;border-right:solid 2px;" rowspan="2" colspan="2">Nº</th>
                            {% for item in turma['turmas_if'] %}
                                {% set indice = loop.index %}
                                {% for disc in item['disciplinas'] %}
                                    {% if loop.index == item['disciplinas']|length and indice == 1 and turma['turmas_if']|length > 1 %}
                                    <td class="if_background_{{indice}}" style="border-top:solid 2px;border-right:solid 4px black;text-align:center;" colspan="3" class="center">{{disc['abv']}}</td>
                                    {% else %}
                                    <td  class="if_background_{{indice}}" style="border-top:solid 2px;border-right:solid 2px black;text-align:center;" colspan="3" class="center">{{disc['abv']}}</td>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for item in turma['turmas_if'] %}
                                {% set indice = loop.index %}
                                {% for disc in item['disciplinas'] %}
                                    <td style="border-bottom:solid 2px;" class="center nota_if">N</td>
                                    <td style="border-bottom:solid 2px;" class="center nota_if">F</td>
                                    {% if loop.index == item['disciplinas']|length and indice == 1 and turma['turmas_if']|length > 1 %}
                                    <td style="border-bottom:solid 2px;border-right:solid 4px;" class="center nota_if">AC</td>
                                    {% else %}
                                    <td style="border-bottom:solid 2px;border-right:solid 2px;" class="center nota_if">AC</td>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}                  
                        </tr>
                    </thead>
                    <tbody>
                    {% for n in range(0, 50) %}
                        <tr>
                        {% if loop.index <= turma['alunos']|length %}
                            <th style="border-right:solid 2px;" colspan="2">{{'%02d' % turma['alunos'][n]['num']}}</th>
                            {% for item in turma['turmas_if'] %}
                                {% set indice = loop.index %}
                                {% for disc in item['disciplinas'] %}

                                    {% if turma['alunos'][n]['fim_mat'] != '' %}
                                        {% if loop.index == item['disciplinas']|length and indice == 1 and turma['turmas_if']|length > 1 %}
                                        <td colspan="3" class="nota_if red" style="border-right: solid 4px black;">{{turma['alunos'][n]['mat']}}</td>
                                        {% else %}
                                        <td colspan="3" class="nota_if red" style="border-right: solid 2px black;">{{turma['alunos'][n]['mat']}}</td>
                                        {% endif %}
                                    {% else %}
                                        {% if turma['alunos'][n]['if'][disc['disciplina']] is defined %}
                                            {% if turma['alunos'][n]['if'][disc['disciplina']]['nota']|int < 5 %}
                                            <td class="nota_if red">{{turma['alunos'][n]['if'][disc['disciplina']]['nota']}}</td>
                                            {% else %}
                                            <td class="nota_if">{{turma['alunos'][n]['if'][disc['disciplina']]['nota']}}</td>
                                            {% endif %}
                                        <td class="nota_if">{{turma['alunos'][n]['if'][disc['disciplina']]['falta']}}</td>
                                            {% if loop.index == item['disciplinas']|length and indice == 1 and turma['turmas_if']|length > 1 %}
                                            <td class="nota_if" style="border-right: solid 4px black;">{{turma['alunos'][n]['if'][disc['disciplina']]['ac']}}</td>
                                            {% else %}
                                            <td class="nota_if" style="border-right: solid 2px black;">{{turma['alunos'][n]['if'][disc['disciplina']]['ac']}}</td>
                                            {% endif %}
                                        {% else %}
                                        <td class="nota_if">-</td>
                                        <td class="nota_if">-</td>
                                            {% if loop.index == item['disciplinas']|length and indice == 1 and turma['turmas_if']|length > 1 %}
                                            <td class="nota_if" style="border-right: solid 4px black;">-</td>
                                            {% else %}
                                            <td class="nota_if" style="border-right: solid 2px black;">-</td>
                                            {% endif %}
                                        {% endif %}                                
                                    {% endif %}

                                {% endfor %}
                            {% endfor %}

                        {% else %}
                            <th style="border-right:solid 2px;" colspan="2">{{'%02d' % loop.index}}</th>
                            {% for item in turma['turmas_if'] %}
                                {% set indice = loop.index %}
                                {% for disc in item['disciplinas'] %}
                                    {% if loop.index == item['disciplinas']|length and indice == 1 and turma['turmas_if']|length > 1 %}
                                    <td></td><td></td><td style="border-right: solid 4px black;"></td>
                                    {% else %}
                                    <td></td><td></td><td style="border-right: solid 2px black;"></td>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}                                               
                        {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2" class="nota_if" style="border-top: solid 2px black;border-right: solid 2px black;">Prof</th>
                            {% for item in turma['turmas_if'] %}
                                {% set indice = loop.index %}
                                {% for disc in item['disciplinas'] %}
                                    {% if loop.index == item['disciplinas']|length and indice == 1 and turma['turmas_if']|length > 1 %}
                                    <td colspan="3" class="nota_if" style="border-top: solid 2px black;border-right: solid 4px black;">{{disc['professor']}}</td>
                                    {% else %}
                                    <td colspan="3" class="nota_if" style="border-top: solid 2px black;border-right: solid 2px black;">{{disc['professor']}}</td>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <th colspan="2" class="nota_if" style="border-right: solid 2px black;">AD</th>
                            {% for item in turma['turmas_if'] %}
                                {% set indice = loop.index %}
                                {% for disc in item['disciplinas'] %}
                                    {% if loop.index == item['disciplinas']|length and indice == 1 and turma['turmas_if']|length > 1 %}
                                    <td colspan="3" class="nota_if" style="border-right: solid 4px black;">{{disc['aulas_dadas']}}</td>
                                    {% else %}
                                    <td colspan="3" class="nota_if" style="border-right: solid 2px black;">{{disc['aulas_dadas']}}</td>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tr>                    
                    </tfoot>
                </table>
            </div>

            <div class="pag-verso-if" style="top:{{turma['top_verso_if']}}px">
                <table class="verso_if">
                    <thead>
                        <tr>
                            <th class="upright_text"><span class="num_bim_verso">1º</span>&nbsp;BIMESTRE</th>
                            {% for item in turma['turmas_if'] %}
                                {% set indice = loop.index %}
                                {% for disc in item['disciplinas'] %}
                                    <td class="vertical_text head_verso if_background_{{indice}}" style="{{ 'border-right: solid 2px black;' if loop.index == item['disciplinas']|length and indice == 1 else 'border-right: solid 1px black;' }}" rowspan="2">&nbsp;&nbsp;{{disc['descricao']}}</td>
                                {% endfor %}
                            
                            {% endfor %}
                            <td class="vertical_text head_verso" rowspan="2" style="font-weight: bold;border-left:solid 2px;">&nbsp;&nbsp;FALTAS</td>
                            <td class="vertical_text head_verso" rowspan="2" style="font-weight: bold;">&nbsp;&nbsp;% FREQUÊNCIA</td>
                            <td class="vertical_text head_verso" rowspan="2" style="font-weight: bold;">&nbsp;&nbsp;AUSÊNCIAS COMPENSADAS</td>
                            <td class="vertical_text" rowspan="2" colspan="4" style="font-weight: bold;border-left:solid 2px black;border-right:solid 2px black;">&nbsp;&nbsp;OBSERVAÇÕES</td>
                        </tr>
                        <tr><th>Nº</th></tr>
                    </thead>
                    <tbody>
                    {% for n in range(0, 50) %}
                        <tr>
                            {% if loop.index <= turma['alunos']|length %}
                                <th>{{'%02d' % turma['alunos'][n]['num']}}</th>
                                {% for item in turma['turmas_if'] %}
                                    {% set indice = loop.index %}
                                    {% for disc in item['disciplinas'] %}
                                        {% if turma['alunos'][n]['fim_mat'] == '' %}
                                            {% if turma['alunos'][n]['if'][disc['disciplina']] is defined %}
                                                {% if turma['alunos'][n]['if'][disc['disciplina']]['nota']|int < 5 %}
                                                <td class="center nota_verso red" style="width: 100%;{{ 'border-right: solid 2px black;' if loop.index == item['disciplinas']|length and indice == 1 else '' }}">{{turma['alunos'][n]['if'][disc['disciplina']]['nota']}}</td>
                                                {% else %}
                                                <td class="center nota_verso" style="width: 100%;{{ 'border-right: solid 2px black;' if loop.index == item['disciplinas']|length and indice == 1 else '' }}">{{turma['alunos'][n]['if'][disc['disciplina']]['nota']}}</td>
                                                {% endif %}
                                            {% else %}
                                            <td class="center nota_verso" style="{{ 'border-right: solid 2px black;' if loop.index == item['disciplinas']|length and indice == 1 else '' }}">-</td>
                                            {% endif %}
                                        {% else %}
                                            <td class="center nota_verso" style="{{ 'border-right: solid 2px black;' if loop.index == item['disciplinas']|length and indice == 1 else '' }}">-</td>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                {% if turma['alunos'][n]['fim_mat'] == '' and turma['alunos'][n]['freq_if']['total_faltas_if'] is not none %}
                                <th class="nota_verso" style="border-left:solid 2px;">{{turma['alunos'][n]['freq_if']['total_faltas_if']}}</th>
                                    {% if turma['alunos'][n]['freq_if']['freq_if']|int < 75 %}
                                    <th class="red nota_verso">{{turma['alunos'][n]['freq_if']['freq_if']}}</th>
                                    {% else %}
                                    <th class="nota_verso">{{turma['alunos'][n]['freq_if']['freq_if']}}</th>
                                    {% endif %}
                                <th class="nota_verso">{{turma['alunos'][n]['freq_if']['total_ac_if']}}</th>
                                <td colspan="4" style="border-left:solid 2px black;border-right:solid 2px black;">{{turma['alunos'][n]['dificuldades']}}</td>
                                {% else %}
                                <th style="border-left:solid 2px;">-</th>
                                <th>-</th>
                                <th>-</th>
                                    {% if turma['alunos'][n]['fim_mat'] == '' %}
                                    <th style="text-align:center;border-left:solid 2px black;border-right:solid 2px black;" colspan="4"></th>
                                    {% else %}
                                    <th class="red" style="text-align:center;border-left:solid 2px black;border-right:solid 2px black;" colspan="4">{{turma['alunos'][n]["mat"]}}</th>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <th>{{'%02d' % loop.index}}</th>
                                {% for item in turma['turmas_if'] %}
                                    {% set indice = loop.index %}
                                    {% for disc in item['disciplinas'] %}
                                    <td style="{{ 'border-right: solid 2px black;' if loop.index == item['disciplinas']|length and indice == 1 else '' }}"></td>
                                    {% endfor %}
                                {% endfor %}
                                <td style="border-left:solid 2px black;"></td>
                                <td></td>
                                <td></td>
                                <td colspan="4" style="border-left:solid 2px black;border-right:solid 2px black;"></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>           
                </table>

                <div class="intermediario"></div>

                <table class="ata_verso_if">
                    <thead>
                        <tr><th colspan="4" style="border:none">CONSELHO DE CLASSE</th></tr>
                        <tr>
                            <td colspan="4" class="head_ata" style="border:none;padding-top:10px;">
                                Aos <span class="destaque_ata">{{turma['fim_bimestre'].strftime('%d')}}</span> dias do mês de <span class="destaque_ata">{{turma['fim_bimestre'].strftime("%B")}}</span> de <span class="destaque_ata">{{turma['fim_bimestre'].strftime("%Y")}}</span> realizou-se o Conselho de
    Classe e Série das turmas de <span class="destaque_ata">Itinerário Formativo</span> da <span class="red" style="font-weight: bold;">{{turma['nome_turma']}}</span> do <b>{{turma['tipo_ensino']}}</b> da EE Profª Alice Vilela Galvão.
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="font-size:12px;text-align:right;border:none;padding-bottom: 10px;">Canas, {{turma['fim_bimestre'].strftime("%d/%m/%Y")}}</td>
                        </tr>
                    </thead>
                    <tbody style="padding-bot:30px">
                        <tr style="font-size:9px;">
                            <td style="border-right:solid 1px white;border-bottom:solid 1px white;border-left:none;">Matéria</td>
                            <td style="border-right:solid 1px white;border-bottom:solid 1px white;">Professor</td>
                            <td colspan="2" style="border-bottom:solid 1px white;border-right:none;">Assinatura</td>
                        </tr>
                        {% for item in turma['turmas_if'] %}
                            {% for disc in item['disciplinas'] %}
                            <tr style="font-size:11px;font-weight: bold;">
                                <td style="border-right:solid 1px white;border-left:none;border-bottom: solid 1px rgba(0,0,0,0.2);">{{disc['abv']}}</td>
                                <td style="border-right:solid 1px white;border-bottom: solid 1px rgba(0,0,0,0.2);">{{disc['professor']}}</td>
                                <td colspan="2" style="border-right: none;border-bottom: solid 1px rgba(0,0,0,0.2);"></td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                        <tr><td colspan="4" style="font-weight: bold;border-left: none;border-right: none;border-bottom:none;padding-top:10px;">OBSERVAÇÕES</td></tr>
                        {% for dif in dificuldades %}
                        <tr><td colspan="4" style="font-size:7px;border:none;border-bottom: solid 1px rgba(0,0,0,0.2);"><b>{{dif['id']}}</b> - {{dif['descricao']}}</td></tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr><td colspan="4" style="padding-bottom:30px;border:none"></td></tr>
                        <tr><td colspan="4" style="font-size:12px;text-align:center;border-right: none;border-left:none;padding-bottom:30px;">Coordenador Pedagógico</td></tr>
                        <tr><td colspan="4" style="font-size:12px;text-align:center;border-right: none;border-left:none;padding-bottom:30px;">Diretor de Escola</td></tr>
                    </tfoot>
                </table>

            </div>

            {% endif %}

        {% endfor %}

    </body>
    <script src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script> 
    <script>
        $(".dificuldade_label").each(function() {
            if ($(this).text().length > 14) {
                $(this).removeClass('dificuldade_label');
                $(this).addClass('dificuldade_min')
            }
        });
    </script>
</html>