<html>
    <head>
        <title>Etiquetas para Impressão</title>
        <link href="{{ url_for('static', filename='stylesheets/print-default.css') }}" rel="stylesheet">

        <style>

            @font-face {
                font-family:bebaskai;
                font-style:normal;
                font-weight:400;
                src:local('BebasKai'),
                url({{ url_for('static', filename='fonts/BebasKai-Regular.woff') }}) format('woff')
            }

            .pagina {
                height: 1030px;
                width: 702px;
                border-width: 2px;
                border-style: solid;
                padding:10mm;
                margin-top:0px;
                margin-left:0px;
            }

            .quadro {
                border-width: 3px;
                border-style: solid;
                border-color: black;
                width: 330px;
                height: 60px;
                margin: 8px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
            }

            .nome {
                margin-top: 10px;
                margin-left: 5px;
                margin-bottom: 0px;
                white-space: nowrap;         /* Impede a quebra de linha */
                overflow: hidden;            /* Esconde o que ultrapassar o tamanho */
                text-overflow: ellipsis;     /* Exibe "..." no final do texto cortado */
            }

            .serie {
                margin-top: 5px;
                margin-left: 5px;
            }

            .container {
                display: flex;
            }            

        </style>
    </head>

    <body>
        <div id="loading">
            <div class="loader"></div>
            <p id="progresso-texto">Preparando PDF...</p>
            <!-- <div id="barra-container">
            <div id="barra"></div> -->
            </div>
        </div>

        <button class="btn no-print" onclick="window.print()">Imprimir</button>

        {% set ns = namespace(contagem=1) %}

        <div class="pagina">
            {% for i in range(0, alunos|length, 2) %}
                <div class="container">
                    <div class="quadro">
                        <p class="nome"><b>Nome: </b>{{alunos[i]['nome']}}</p>
                        <p class="serie"><b>Série: </b>{{turma}}</p>
                    </div>

                    {% set ns.contagem = ns.contagem + 2 %}

                    {% if i < alunos|length - 1 %}
                    <div class="quadro">
                        <p class="nome"><b>Nome: </b>{{alunos[i + 1]['nome']}}</p>
                        <p class="serie"><b>Série: </b>{{turma}}</p>
                    </div>
                    {% endif %}

        {% if ns.contagem > 23 %}
                {% set ns.contagem = 1 %}
                </div>
        </div>
        <div class="pagina">
                <div class="container">
        {% endif %}
                </div>

            {% endfor %}
        </div>
        <script src="{{ url_for('static', filename='js/print-default.js') }}"></script>
    </body>
</html>