<html>
    <head>
        <title>Rendereziação PDF</title>
        <style>

            @font-face {
                font-family:bebaskai;
                font-style:normal;
                font-weight:400;
                src:local('BebasKai'),
                url({{ url_for('static', filename='fonts/BebasKai-Regular.woff') }}) format('woff')
            }

            @font-face {
                font-family:greatvibes-regular;
                font-style:normal;
                font-weight:400;
                src:local('GreatVibes-Regular'),
                url({{ url_for('static', filename='fonts/GreatVibes-Regular.woff') }}) format('woff')
            }            
             

            .blank_pag {
                width: 729px;
                height: 1057px;
                border-width: 2px;
                border-style: solid;
                border-color: black;
                position: absolute;
                left: 30px;
            }            


            .pag {
                width: 699px;
                height: 1057px;
                border-width: 2px;
                border-style: solid;
                border-color: white;
                position: absolute;
                top: 30px;
                left: 60px;
            }

            .pag2 {
                width: 699px;
                height: 1057px;
                border-width: 2px;
                border-style: solid;
                border-color: white;
                position: absolute;
                top: 1160px;
                left: 30px;                
            }
          
            .logo {
                height: 100px;
            }     

            .tb_head {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                line-height: 7px;
                border: solid black 2px;
                border-collapse: collapse;
                width: 100%;
            }     

            .cell_logo {
                border-right: 2px solid black;
                padding: 10px;
                text-align: center;
            }

            .txt_head {
                padding: 10px;
            }

            #txt_dados {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 13px;
                line-height: 7px;
            }

            #tb_dados {
                margin-top: 15px;
            }

            #col2-dados {
                padding-left: 70px;
            }

            #tb_dias {
                border-collapse: collapse;
                font-family: Arial, Helvetica, sans-serif;
                width: 100%;
                margin-top: 15px;
                font-size: 14px;
                border: solid 2px black;
            }

            #tb_dias th,
            #tb_dias td {
                border: solid black 1px;
                text-align: center;
            }

            .red {
                color:red;
            }

            #tb_foot {
                font-family: Arial, Helvetica, sans-serif;
                width: 100%;
                border-collapse: collapse;
                text-align: center;
                margin-top: 20px;
            }

            #tb_foot td {
                font-size: 9px;
            }

            .border {
                border-top: solid black 1px;
                border-left: solid black 1px;
                border-right: solid black 1px;
            }

            .border-bottom {
                border-bottom: solid black 1px;
            }

            .border-right {
                border-right: solid black 1px;
            }

            .colmun-120 {
                width: 120px;
            }

            .tb_assinatura {
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                width: 100%;
                font-size: 14px;
                position: absolute;
                bottom: 0px;
            }

            .border-top {
                border-top: 1px solid black;
                width: 240px;
            }

            .line-afastamento {
                position: absolute;
                width: 485px;
                /*height: 285px;
                border: solid 1px red;*/
            }

            .line {
                border-right: solid 2px red !important;
            }

            .title {
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
            }

            #tb_anotacoes {
                border-collapse: collapse;
                width: 100%;
            }

            #tb_anotacoes td {
                border: solid black 1px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                padding-left: 10px;
                height: 22px;
            }

            .folha {
                margin-left: 200px;
            }

            .line_day {
                height: 19px !important; 
            }

            .line-afast {
                position: relative;             
            }

            .line-afast::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 30px;
                width: 480px;
                border-top: 1px solid red;
                transform: translateY(-50%);                
            }

            .red-line {
                /*border:1px solid green;*/
                position:absolute;
                top: 289px;
                left: 27px;
                width:491px;
                height: 303px;

                background: 
                    linear-gradient(to top right,
                        rgba(220,53,69,0) 0%,
                        rgba(220,53,69,0) calc(50% - 0.8px),
                        rgba(220,53,69,1) 50%,
                        rgba(220,53,69,0) calc(50% + 0.8px),
                        rgba(220,53,69,0) 100%);
             
            }            

        </style>
    </head>
    <body>

        <!-- Aqui será feita primeira página -->
        <div class="pag capa">

            {% for item in afastamentos %}
            <div class="red-line" style="top:{{289 + item['inicio'] * 19}}px; height:{{(item['fim'] - 1 - item['inicio']) * 19}}px" data="{{item}}"></div>
            {% endfor %}

            <table class="tb_head">
                <tr>
                    <td class="cell_logo">
                        <img class="logo" src="../static/images/brasao.svg">
                    </td>
                    <td class="txt_head">
                        <p>GOVERNO DO ESTADO DE SÃO PAULO</p>
                        <p>SECRETARIA DE ESTADO DA EDUCAÇÃO</p>
                        <p>DIRETORIA DE ENSINO - REGIÃO DE GUARATINGUETÁ</p>
                        <p>EE PROFª ALICE VILELA GALVÃO</p>
                        <p>REGISTRO DE PONTO: {{mes}}/{{ano}}<span class="folha">Folha</span></p>
                    </td>
                </tr>
            </table>

            <table id="tb_dados">
                <tr id="txt_dados">
                    <td>
                        <p><b>Servidor:</b> {{dados['nome']}}</p>
                        <p><b>Cargo/Função:</b> {{dados['cargo']}}</p>
                        <p><b>Jornada de Trabalho:</b> 40 horas semanais</p>
                        <p><b>Horário de Trabalho:</b> {{dados['horario']}}</p>
                        <p><b>Almoço e Descanso:</b> {{dados['intervalo']}}</p>
                    </td>
                    <td id="col2-dados">
                        <p><b>RG:</b> {{dados['rg']}}</p>
                        <p><b>CPF:</b> {{dados['cpf']}}</p>
                        <p><b>Regime de Plantão:</b> {{dados['plantao']}}</p>
                        <p><b>Horário de Estudante:</b> {{dados['estudante']}}</p>
                        <p>&nbsp;</p>
                    </td>
                </tr>
            </table>

            <table id="tb_dias">
                <thead>
                    <tr>
                        <th rowspan="2">Dia</th>
                        <th colspan="2">Entrada</th>
                        <th colspan="2">Saída</th>
                        <th rowspan="2" colspan="2" style="width: 120px">Observações</th>
                        <th rowspan="2" style="font-size:11px; width: 60px">Visto do Superior Imediato</th>
                    </tr>
                    <tr>
                        <th style="width: 80px;">Hora</th>
                        <th style="width: 160px;">Assinatura</th>
                        <th style="width: 80px;">Hora</th>
                        <th style="width: 160px;">Assinatura</th>                        
                    </tr>
                </thead>
                <tbody>
                {% for dia in dias %}
                    <tr {{dia['tr-class']}}>
                        <td class="line_day">{{dia['dia']}}</td>
                        <td id="dia_{{dia['dia']}}">&nbsp;</td>
                        <td class="{{dia['class']}}">{{dia['tipo']}}</td>
                        <td>&nbsp;</td>
                        <td class="{{dia['class']}}">{{dia['tipo']}}</td> 
                        {% if dia['class'] == 'divisor' %}
                        <td class="line"></td>
                        <td></td>
                        {% else %}
                        <td colspan="2" class="{{dia['class']}}">{{dia['obs']}}</td>
                        {% endif %}
                        <td>&nbsp;</td>
                    </tr>
                {% endfor %}                
                </tbody>
            </table>

            <table id="tb_foot">
                <tr>    
                    <th colspan="6">INFORMAÇÕES FINANCEIRAS</th>
                </tr>
                <tr>
                    <td class="border border-bottom" rowspan="2">FÉRIAS</td>
                    <td class="border colmun-120">Período</td>
                    <td class="border colmun-120">MÉDIA de GTN</td>
                    <td class="border colmun-120">ACA</td>
                    <td class="border">Período de &nbsp;&nbsp;/&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp; até &nbsp;&nbsp;/&nbsp;&nbsp;/&nbsp;&nbsp;</td>
                    <td class="border">Quantidade</td>
                </tr>
                <tr>
                    <td class="border-bottom border-right">de&nbsp;&nbsp;/&nbsp;&nbsp;/&nbsp;&nbsp; até &nbsp;&nbsp;/&nbsp;&nbsp;/&nbsp;&nbsp;</td>
                    <td class="border-bottom border-right">&nbsp;</td>
                    <td class="border-bottom border-right">&nbsp;</td>
                    <td class="border-bottom border-right" style="font-size:8px;">(Entre 8 e 12 / superior a 12) horas diárias</td>
                    <td class="border-bottom border-right">&nbsp;</td>
                </tr>

                <tr>
                    <td class="border border-bottom" rowspan="2">GTN</td>
                    <td class="border">Período</td>
                    <td class="border">Percentual GTN</td>
                    <td class="border border-bottom" rowspan="2">SERVIÇO EXTRAORDINÁRIO</td>
                    <td class="border">Período</td>
                    <td class="border">Quantidade</td>
                </tr>
                <tr>
                    <td class="border-bottom border-right">de&nbsp;&nbsp;/&nbsp;&nbsp;/&nbsp;&nbsp; até &nbsp;&nbsp;/&nbsp;&nbsp;/&nbsp;&nbsp;</td>
                    <td class="border-bottom border-right">(&nbsp;&nbsp;) 20%&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;) 10%</td>
                    <td class="border-bottom border-right">de&nbsp;&nbsp;/&nbsp;&nbsp;/&nbsp;&nbsp; até &nbsp;&nbsp;/&nbsp;&nbsp;/&nbsp;&nbsp;</td>
                    <td class="border-bottom border-right">&nbsp;</td>
                </tr>

                <tr>
                    <td class="border border-bottom" rowspan="2">SUBSTITUIÇÃO<br>EVENTUAL</td>
                    <td class="border">Período</td>
                    <td class="border" colspan="2">Cargo/função substituído</td>
                    <td class="border" colspan="2">VALE TRANSPORTE-CLT</td>
                </tr>
                <tr>
                    <td class="border-bottom border-right">de&nbsp;&nbsp;/&nbsp;&nbsp;/&nbsp;&nbsp; até &nbsp;&nbsp;/&nbsp;&nbsp;/&nbsp;&nbsp;</td>
                    <td class="border-bottom border-right" colspan="2">&nbsp;</td>
                    <td class="border-bottom border-right" colspan="2">(Sim/Não)</td>
                </tr>                

            </table>

            <table class="tb_assinatura">
                <tr>
                    <td class="border-top">Assinatura do Servidor</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td class="border-top">Assinatura do Superior Imediato</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>Data: &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;</td>
                </tr>
            </table>
        </div>

        <div class="pag2">
            <table class="tb_head">
                <tr>
                    <td class="cell_logo">
                        <img class="logo" src="../static/images/brasao.svg">
                    </td>
                    <td class="txt_head">
                        <p>GOVERNO DO ESTADO DE SÃO PAULO</p>
                        <p>SECRETARIA DE ESTADO DA EDUCAÇÃO</p>
                        <p>DIRETORIA DE ENSINO - REGIÃO DE GUARATINGUETÁ</p>
                        <p>EE PROFª ALICE VILELA GALVÃO</p>
                        <p>REGISTRO DE PONTO: {{mes}}/{{ano}}</p>
                    </td>
                </tr>
            </table>
            <p class="title">CONSOLIDAÇÃO</p>

            <table id="tb_anotacoes">
                {% for n in range(0, 37) %}
                <tr><td>{{verso[n] if verso[n] else '&nbsp;'}}</td></tr>
                {% endfor %}
            </table>

            <table class="tb_assinatura">
                <tr>
                    <td style="text-align: left; width: 200px;">Data: ___/___/_______ </td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td style="text-align: center; width: 400px;" class="border-top">Assinatura do Superior Imediato ou Responsável</td>
                </tr>
            </table>
        </div>

    </body>

    <script src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script> 
    <script>

    </script>
</html>