<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de Alunos</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='stylesheets/navbar-top-fixed.css') }}" rel="stylesheet">   
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='datatable/datatables.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/icon_sed.png') }}">

    <style>
        #loading {
            background-color: white;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 9999;
        }

        .loader {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            bottom: 0;
            margin: auto;
            border: 20px solid #EAF0F6;
            border-radius: 50%;
            border-top: 20px solid #FF7A59;
            width: 200px;
            height: 200px;
            animation: spinner 4s linear infinite;
        }
        @keyframes spinner {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }  

        .center {
            margin: auto;
            text-align: center;
            position: fixed;
            top: 30%;
            left: 45%;
        }

        .TRAN {
            color:red;
            font-weight: bold;
        }

        .BXTR {
            color:red;
            font-weight: bold;
        }

        .REMA {
            color:red;
            font-weight: bold;
        }

        .NCOM {
            color:red;
            font-weight: bold;
        }

        .ATIVO {
            color:rgba(0, 89, 161);
            font-weight: bold;
        }

        .CONCL {
            color:rgb(0, 89, 161);
            font-weight: bold;
        }              
    </style>

  </head>
  <body style="background-color: rgba(244, 244, 244);">

    {% block menu_superior %}
      {% include 'menu.jinja' %}
    {% endblock %} 

    <div class="modal fade" id="modal_five" tabindex="-1" aria-labelledby="modal_painel_headLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal_painel_headLabel">Declaração Completa Com Últimos 5 Anos</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        {% for n in range(1,6) %}
                        <div class="col-sm-7 align-self-end mb-3">
                            <label class="form-label" for="txt_nome1">Escola:</label>
                            <input type="text" class="form-control" placeholder="Nome Completo da Instituição" name="nome{{n}}" id="txt_nome{{n}}" maxlength="200" required>
                        </div>
                        <div class="col-sm-5 align-self-end mb-3">
                            <label class="form-label" for="txt_ano1">Ano:</label>
                            <input type="text" class="form-control" placeholder="Ano de Conclusão" name="ano{{n}}" id="txt_ano{{n}}" maxlength="200" required>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" id="btn_confirmar_five">Confirmar</button>
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <!-- <button id="btn-importar_if" class="btn btn-warning">Importar Alunos</button> -->
                </div>
            </div>
        </div>
    </div>    

    <div class="modal fade" id="modal_transf" tabindex="-1" aria-labelledby="modal_painel_headLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal_painel_headLabel">Painel de Transferência</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-9 align-self-end">
                            <label for="cb_tipo_declaracao">Tipo:</label>
                            <select class="form-select" id="cb_tipo_declaracao">
                                <option value="1">Declaração Simples</option>
                                <option value="2">Desistência de Vaga - Ensino Profissionalizante (menor de idade)</option>
                                <option value="3">Desistência de Vaga - Ensino Profissionalizante (maior de idade)</option>
                                <option value="4">Solicitação de Baixa (menor de idade)</option>
                                <option value="5">Solicitação de Baixa (maior de idade)</option>
                            </select>                        
                        </div>
                        <div class="col-sm-3 align-self-end d-flex">
                            <button class="btn btn-danger" id="btn_confirmar_preview_transf">Confirmar</button>
                        </div>
                    </div>

                    <div class="row" id="painel_dados_resp" hidden>
                        <div class="col-sm-9 pt-2">
                            <label for="txt_nome_resp">Nome do Responsável:</label>
                            <input class="form-control" type="input" id="txt_nome_resp">
                        </div>
                        <div class="col-sm-9 pt-2">
                            <label for="txt_rg_resp">RG do Responsável:</label>
                            <input class="form-control" type="input" id="txt_rg_resp">
                        </div>                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <!-- <button id="btn-importar_if" class="btn btn-warning">Importar Alunos</button> -->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_detalhe_aluno" tabindex="-1" aria-labelledby="modal_lista_turma_ifLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal_lista_turma_ifLabel">Histórico de Matrícula</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="fw-bold">Nome: </span><span id="txtnome"></span>
                        </div>                    
                        <div class="col-sm-4">
                            <span class="fw-bold">RA: </span><span id="txtra"></span>
                        </div>
                        <div class="col-sm-4">
                            <span class="fw-bold">RG: </span><span id="txtrg"></span>
                        </div>      
                        <div class="col-sm-4">
                            <span class="fw-bold">CPF: </span><span id="txtcpf"></span>
                        </div> 
                        <div class="col-sm-4">
                            <span class="fw-bold">Nascimento: </span><span id="txtnasc"></span>
                        </div>
                        <div class="col-sm-4">
                            <span class="fw-bold">Idade: </span><span id="txtidade"></span>
                        </div>
                        <div class="col-sm-4">
                            <span class="fw-bold">Sexo: </span><span id="txtsexo"></span>
                        </div>                                                                          
                    </div>
                    <div class="row"><div class="col-sm-12">&nbsp;</div></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-hover">
                                <thead class="table-dark">
                                    <tr>
                                        <th class="text-center">Ano</th>
                                        <th class="text-center">Série</th>
                                        <th class="text-center">Turma</th>
                                        <th class="text-center">Ensino</th>
                                        <th class="text-center">Matrícula</th>
                                        <th class="text-center">Fim Mat.</th>
                                        <th class="text-center">Situação</th>
                                    </tr>
                                </thead>
                                <tbody id="alunos_dados_dinamicos"></tbody>
                            </table>
                        </div>
                        <div class="col-sm-12">
                            <button id="btn_declaracao_matricula" class="btn btn-primary" hidden>Declaração de Matrícula</button>
                            <button id="btn_declaracao_matricula_freq" class="btn btn-success" hidden>Declaração de Matrícula com Freq (%)</button>
                            <button id="btn_declaracao_transferencia" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal_transf" hidden>Declaração de Transferência</button>
                        </div>
                        <div class="col-sm-12 mt-3">
                            <button id="btn_declaracao_matricula_five" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_five" hidden>Declaração de Últimos 5 anos</button>
                        </div>                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <!-- <button id="btn-importar_if" class="btn btn-warning">Importar Alunos</button> -->
                </div>
            </div>
        </div>
    </div>

    <main class="container-xxl">
        <div id="loading"><div class="loader"></div></div>
        <div class="row">
            <div class="col-sm-12">
                <p class="fs-2">Lista de Alunos</p>
            </div>
            <div class="col-sm-12">
                <table id="tabelaPrincipal" class="table table-hover table-striped">   
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center">RM</th>
                            <th>Nome</th>
                            <th>RA</th>
                            <th class="text-center">Nascimento</th>
                            <th class="text-center">Idade</th>
                            <th class="text-center">Sexo</th>
                            <th>RG</th>
                            <th>CPF</th>
                            <th class="text-center">Detalhes</th>
                        </tr>
                    </thead>                     
                    <tbody class="table-light">
                        {% set ns = namespace(cont=1) %}
                        {% for item in lista %}
                            <tr>
                                <td class="text-center">{{item['rm']}}</td>
                                <td data-order="{{ns.cont}}">{{item['nome']}}</td>
                                <td>{{item['ra']}}</td>
                                <td class="text-center" data-order="{{item['nascimento_val']}}">{{item['nascimento_show']}}</td>
                                <td class="text-center">{{item['idade']}}</td>
                                <td class="text-center">{{item['sexo']}}</td>
                                <td>{{item['rg']}}</td>
                                <td>{{item['cpf']}}</td>
                                <td class="text-center"><a href="javascript:consultarAluno('{{item['ra_val']}}', '{{item['ra']}}', '{{item['nome']}}', '{{item['rg']}}', '{{item['cpf']}}', '{{item['nascimento_show']}}', '{{item['sexo']}}', '{{item['idade']}}')"><i class="fa-solid fa-search"></i></a></td>
                            </tr>
                            {% set ns.cont = ns.cont + 1 %}
                        {% endfor %}
                    </tbody>
                </table>            
            </div>
        </div>
    </main>

    <script src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script> 
    <!-- <script src="{{ url_for('static', filename='js/jquery.mask.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='datatable/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jspdf/jspdf.umd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='font-custom/BebasKai-normal.js') }}"></script>
    <script src="{{ url_for('static', filename='font-custom/GreatVibes-Regular-normal.js') }}"></script>  
    <script src="{{ url_for('static', filename='js/gerador-pdf.js') }}"></script>      
    <script>

        window.onload=function() {
            $("#loading").remove();
        }

        $( document ).ready(function() {
            let dataTable = new DataTable("#tabelaPrincipal", {
                    order: [[1, 'asc']],
                    lengthMenu: [
                        [15, 100, 500, 1000],
                        [15, 100, 500, 1000],
                    ], 
                    "autoWidth": false,
                    "oLanguage": {
                        "sSearch": "Pesquisar:",
                    },
                    "language": {
                        "lengthMenu": "Exibir _MENU_ itens por página",
                        "zeroRecords": "Nada encontrado - Desculpe",
                        "info": "Exibindo _START_ até _END_ de um total de _TOTAL_ registro(s)",
                        "infoEmpty": "Sem registros",
                        "infoFiltered": "(filtrado de um total de _MAX_ registro(s))",
                        "paginate": {
                            "previous": "Anterior",
                            "next": "Próximo"
                        }
                    }                    
            }); 
        });

        function consultarAluno(ra, desc_ra, nome, rg, cpf, nasc, sexo, idade) {
            
            $("#txtnome").text(nome);
            $("#txtra").text(desc_ra);
            $("#txtrg").text(rg);
            $("#txtcpf").text(cpf);
            $("#txtnasc").text(nasc);
            $("#txtsexo").text(sexo);
            $("#txtidade").text(idade);

            $("#alunos_dados_dinamicos").empty();

            $("#modal_detalhe_aluno").modal('show');

            $.ajax({
                type: "POST",
                url: "{{ url_for('listaAlunos') }}",
                contentType: "application/json",
                data: JSON.stringify(ra),
                dataType: "json",
                success: function(response) {     
                    for (val in response) {
                        $("#alunos_dados_dinamicos").append("<tr><td class='text-center'>" + response[val]['ano'] + "</td><td class='text-center'>" + response[val]['serie'] + "</td><td class='text-center'>" + response[val]['nome_turma'] + "</td><td class='text-center'>" + response[val]['ensino'] + "</td><td class='text-center'>" +  response[val]['mat'] + "</td><td class='text-center'>" + response[val]['fim_mat'] + "</td><td class='text-center " + response[val]['abv'] + "'>" + response[val]['situacao'] + "</td></tr>");
                    }

                    if ($("#alunos_dados_dinamicos tr .ATIVO").length > 0) {
                        $("#btn_declaracao_matricula").removeAttr('hidden');
                        $("#btn_declaracao_matricula_freq").removeAttr('hidden');
                        $("#btn_declaracao_transferencia").removeAttr('hidden');
                        $("#btn_declaracao_matricula_five").removeAttr('hidden');
                    } else {
                        $("#btn_declaracao_matricula").attr('hidden', '');
                        $("#btn_declaracao_matricula_freq").attr('hidden', '');
                        $("#btn_declaracao_matricula_five").attr('hide', '');

                        if ($("#alunos_dados_dinamicos tr .TRAN").length > 0) {
                            $("#btn_declaracao_transferencia").removeAttr('hidden');
                        } else {
                            $("#btn_declaracao_transferencia").attr('hidden', '');
                        }
                    }

                /*console.log($("#alunos_dados_dinamicos tr .ATIVO").length);
                console.log($("#alunos_dados_dinamicos tr .ATIVO").parent().find("td:nth-child(4)").text());*/
                },
                error: function(err) {
                    console.log(err);
                }
            }); 

        }


        $("#btn_declaracao_matricula").on('click', function(e) {
            declaracaoMatricula("{{url_for('static', filename='images/brasao.png')}}", $("#txtnome").text(), $("#txtrg").text(), $("#txtcpf").text(), $("#txtra").text(), $("#txtnasc").text(), $("#txtsexo").text(), $("#alunos_dados_dinamicos tr .ATIVO").parent().find("td:nth-child(2)").text(), $("#alunos_dados_dinamicos tr .ATIVO").parent().find("td:nth-child(4)").text());
        });

        $("#cb_tipo_declaracao").on('change', function() {
            let val = $("#cb_tipo_declaracao").val();

            if (val == 2 || val == 4) {
                $("#painel_dados_resp").removeAttr('hidden');
            } else {
                $("#painel_dados_resp").attr('hidden', '');
            }
        });

        $("#btn_declaracao_transferencia").on('click', function(e) {
            /*nome = $("#txtnome").text();
            rg = $("#txtrg").text();
            cpf = $("#txtcpf").text();
            ra = $("#txtra").text();
            nasc = $("#txtnasc").text()

            if ($("#alunos_dados_dinamicos tr .ATIVO").length > 0) {
                serie = $("#alunos_dados_dinamicos tr .ATIVO").parent().find("td:nth-child(2)").text();
                ensino = $("#alunos_dados_dinamicos tr .ATIVO").parent().find("td:nth-child(4)").text().replace(/ EJA| Regular/g, "");
            } else {
                serie = $("#alunos_dados_dinamicos tr .TRAN").parent().find("td:nth-child(2)").text();
                ensino = $("#alunos_dados_dinamicos tr .TRAN").parent().find("td:nth-child(4)").text().replace(/ EJA| Regular/g, "");
            }

            declaracaoTransferencia("{{url_for('static', filename='images/brasao.png')}}", nome, rg, cpf, ra, nasc, serie, ensino);*/
        });

        $("#btn_declaracao_matricula_freq").on('click', function() {
            $("#btn_declaracao_matricula_freq").html('<div class="spinner-border text-ligth" role="status"><span class="sr-only">Carregando...</span></div>');
            $("#btn_declaracao_matricula_freq").attr('disabled', '');            
            $.ajax({
                type: "POST",
                url: "gerar_pdf",
                contentType: "application/json",
                data: JSON.stringify({'destino':11, 'ra':$("#txtra").text()}),
                dataType: "json",
                success: function(data) {
                    window.open(data);
                    $("#btn_declaracao_matricula_freq").html('Declaração de Matrícula com Freq (%)');
                    $("#btn_declaracao_matricula_freq").removeAttr('disabled');
                },
            });                        
        });

        $("#btn_confirmar_five").on('click', function() {
            $("#btn_confirmar_five").html('<div class="spinner-border text-ligth" role="status"><span class="sr-only">Carregando...</span></div>');
            $("#btn_confirmar_five").attr('disabled', '');

            anos = [];

            for (let i = 1; i < 6; i++) {
                anos.push({'escola':$("#txt_nome" + i).val(), 'ano':$("#txt_ano" + i).val()});
            }

            console.log(anos);

            $.ajax({
                type: "POST",
                url: "gerar_pdf",
                contentType: "application/json",
                data: JSON.stringify({'destino':13, 'ra':$("#txtra").text(), 'anos':anos}),
                dataType: "json",
                success: function(data) {
                    window.open(data);
                    $("#btn_confirmar_five").html('Declaração de Últimos 5 anos');
                    $("#btn_confirmar_five").removeAttr('disabled');
                },
            });              
        });

    </script>
  </body>
</html>