<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro do Calendário Letivo</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='stylesheets/navbar-top-fixed.css') }}" rel="stylesheet">   
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/icon_sed.png') }}">

    <style>
        table {
            border: solid 4px rgba(0,0,0,1);
        }
    </style>

  </head>
  <body style="background-color: rgba(244, 244, 244);">

    {% block menu_superior %}
      {% include 'menu.jinja' %}
    {% endblock %}   

    <div class="modal fade" id="modal_instancias" tabindex="-1" aria-labelledby="modal_instanciasLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <form action="{{url_for('calendario')}}" method="POST">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal_instanciasLabel">Cadastar Nova Instância do Calendário</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <input type="text" name="nova_instancia" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <input type="submit" class="btn btn-primary" value="Cadastrar" />
                    <!-- <button type="button" class="btn btn-primary">Cadastrar Nova Turma</button> -->
                </div>
            </form>
            </div>
        </div>
    </div>

    <form id="form_change_inst" action="{{url_for('calendario')}}" method="POST">
        <input id="var_instancia" type="hidden" name="cb_instancias" value="{{instancia}}">
    </form>


    <main class="container-xxl">
        <div class="row">
            <div class="col-sm-12 input-group mb-3">
                <span class="fs-2">Cadastro do Calendário Letivo - {{ano}} - <b>Dias Letivos no Ano: {{letivos}}</b></span>
                <select id="cb_instancias" class="form-control" style="margin-left: 1vw;">
                    {% for item in instancias %}
                    <option value="{{item['id']}}" {{ "selected" if item['id'] == instancia else "" }}>{{item['descricao']}}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal_instancias"><i class="fa-solid fa-plus"></i></button>
            </div>
            <div class="col-sm-12">{{status}}</div>
            <div class="col-sm-12">
                <form method="POST" action="/calendario">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">De: </span>
                        <input type="date" class="form-control" id="data_inicial" name="data_inicial" min="{{ano}}-01-01" max="{{ano}}-12-31" value="{{ano}}-01-01" required>
                        <span class="input-group-text" id="basic-addon1">Até: </span>
                        <input type="date" class="form-control" id="data_final" name="data_final" min="{{ano}}-01-01" max="{{ano}}-12-31" value="{{ano}}-01-01" required>
                        <span class="input-group-text" id="basic-addon1">Tipo de Evento: </span>
                        <select class="form-select" name="cb_evento">
                            {% for opcao in eventos %}
                                <option value="{{opcao['id']}}">{{opcao['descricao']}}</option>
                            {% endfor %}
                        </select>
                        <span class="input-group-text" id="basic-addon1">Descrição: </span>
                        <input type="text" class="form-control" name="descricao">
                        <input type="hidden" name="instancia" value="{{instancia}}">
                        <input type="submit" value="Cadastrar Novo Evento" class="btn btn-primary">
                        
                    </div>
                </form>
            </div>
            <div class="col-sm-12">&nbsp;</div>
            {% for item in calendario %}
                <div class="col-sm-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <td colspan="3" class="table-warning text-center"><b>{{item['descricao']}} - {{item['letivos']}}</b> dias letivos</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dia in item['dias'] %}
                            <tr>
                                <th class="text-center {{dia['color']}}">{{'%02d' % dia['dia']}}</th>
                                <td class="text-center {{dia['color']}}">{{dia['semana']}}</td>
                                <td class="text-center {{dia['color']}}">{{dia['situacao']}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>

    </main>

    <script src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script> 
    <!-- <script src="{{ url_for('static', filename='js/jquery.mask.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <script>

    $("#cb_instancias").on('change', function() {
        $("#var_instancia").val($(this).val());
        $("#form_change_inst").submit();
    });

    $("#data_inicial").on('change', function(){
        $("#data_final").val($(this).val());
        $("#data_final").attr('min', $(this).val());
    });

    </script>
  </body>
</html>