<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro de Livro Ponto</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='stylesheets/navbar-top-fixed.css') }}" rel="stylesheet">   
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='datatable/datatables.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/icon_sed.png') }}">

    <style>
        #loading {
            background-color: white;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 9999;
        }

        .loader {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            bottom: 0;
            margin: auto;
            border: 20px solid #EAF0F6;
            border-radius: 50%;
            border-top: 20px solid #FF7A59;
            width: 200px;
            height: 200px;
            animation: spinner 4s linear infinite;
        }
        @keyframes spinner {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }  

        .form-check-input {
            cursor: pointer;
        }

        th, td {
            vertical-align: middle;
        }

        #tb-quadro-principal td {
            border: solid 1px black;
            text-align: center;
        }

        #body-quadro th {
            border: solid 1px white;
        }

        #tb-quadro-principal td:last-child { border-right: none; }
        
        #tb-quadro-principal td:first-child { border-left: none; }

        .quadro_aulas, .row_professor, .view_professor, .afs_professor, .desativar_prof, .bt_delete_afs, .reativar_professor { cursor: pointer; }
    </style>

  </head>
  <body style="background-color: rgba(244, 244, 244);">

    {% block menu_superior %}
      {% include 'menu.jinja' %}
    {% endblock %}  

    <div class="modal fade" tabindex="-1" id="modal_afastamentos">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Afastamentos - <span class="text-danger" id="lb_nome_afastamento"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon_de">DE:</span>
                        <input type="date" class="form-control" id="txt_de" name="txt_de">
                        <span class="input-group-text" id="basic-addon_ate">ATÉ:</span>
                        <input type="date" class="form-control" id="txt_ate" name="txt_ate">
                        <span class="input-group-text" id="basic-addon_ate">Tipo:</span>
                        <select class="form-select" id="cb_tipo_afastamento" name="cb_tipo_afastamento">
                            {% for afastamento in licencas %}
                            <option value="{{afastamento['id']}}">{{afastamento['descricao']}}</option>
                            {% endfor %}
                        </select>
                        <span class="input-group-text" id="basic-addon_ate">DESC:</span>
                        <input type="text" class="form-control" id="txt_desc" name="txt_desc" style="width: 10%;">
                        <button id="btn_add_row" class="btn btn-success"><i class="fa-solid fa-plus"></i></button>
                    </div>                    
                    <table id="tb_afastamentos" class="table table-hover table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th>De</th>
                                <th>Até</th>
                                <th>Tipo</th>
                                <th>Descrição</th>
                                <th class="text-center">Excluir</th>
                            </tr>
                        </thead>
                        <tbody id="tbody_afs"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="btn_confirm_salvar_afs" type="button" class="btn btn-warning">Confirmar Salvamento</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div> 

    <div class="modal fade" tabindex="-1" id="modal_visualizar">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Detalhes do Professor:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row" id="body-detalhes"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="modal_quadro_aula">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Quadro Aulas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="body-quadro">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" id="btn_cadastrar_quadro" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="modal_confirmar_desativacao">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar Desativação de Professor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Você tem certeza que deseja desativar o(a) professor(a) <span class="fw-bold" id="lb_professor_nome_exclusao"></span> do Livro Ponto?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                    <button type="button" id="btn_enviar_desativacao" class="btn btn-danger">Sim</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="modal_lista_desativados">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Lista de Professores Desativados</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th>Nome</th>
                                <th>RG</th>
                                <th>CPF</th>
                                <th class="text-center">Reativar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for professor in desativados %}
                            <tr>
                                <td>{{professor['nome']}}</td>
                                <td>{{professor['rg']}}</td>
                                <td>{{professor['cpf']}}</td>
                                <td class="reativar_professor text-center" data-id="{{professor['raw_cpf']}}" data-di="{{professor['di']}}"><i class="fa-solid fa-trash-can-arrow-up"></i></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div> 


    <div class="modal fade" id="modal_cadastro_professor" tabindex="-1" aria-labelledby="modal_mapaoLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <form action="ponto" method="POST" id="enviarDadosProf">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal_mapaoLabel">Cadastro de Professor:</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="scoll-tree">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label" for="txt_nome">Nome:</label>
                                    <input type="text" class="form-control" placeholder="Nome Completo" name="nome" id="txt_nome" maxlength="200" required>                                
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label class="form-label" for="txt_cpf">CPF:</label>
                                    <input type="text" class="form-control" placeholder="Somente Números" name="cpf" id="txt_cpf" maxlength="11" required>                                
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="mb-3">
                                    <label class="form-label" for="txt_cpf">Faixa/Nível/REF:</label>
                                    <input type="text" class="form-control" name="faixa" id="txt_faixa" maxlength="11">                                
                                </div>
                            </div>

                            <div class="col-sm-5">
                                <label class="form-label" for="txt_rg">RG:</label>
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" id="txt_rg" name="rg" style="width: 50%" required>
                                    <span class="input-group-text" id="basic-addon1">-</span>
                                    <input type="text" class="form-control" id="txt_digito_rg" name="digito_rg" maxlength="1">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <label class="form-label" for="txt_rs">RS/PV:</label>
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" id="txt_rs" name="rs" style="width: 50%" required>
                                    <span class="input-group-text" id="basic-addon1">-</span>
                                    <input type="number" class="form-control" id="txt_pv" name="pv">
                                </div>                                
                            </div> 
                            <div class="col-sm-2">
                                <div class="mb-3">
                                    <label class="form-label" for="txt_di">DI:</label>
                                    <input type="number" class="form-control" id="txt_di" name="di">
                                </div>
                            </div>  

                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label" for="cb_cargo">Cargo:</label>
                                    <select class="form-select" id="cb_cargo" name="cargo">
                                        {% for cargo in cargos %}
                                        <option value="{{cargo['id']}}">{{cargo['descricao']}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="mb-3">
                                <label class="form-label" for="cb_categoria">Categoria:</label>
                                    <select class="form-select" id="cb_categoria" name="categoria">
                                        {% for item in categorias %}
                                        <option value="{{item['id']}}">{{item['descricao']}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="mb-3">
                                <label class="form-label" for="cb_jornada">Jornada:</label>
                                    <select class="form-select" id="cb_jornada" name="jornada">
                                        {% for item in jornadas %}
                                        <option value="{{item['id']}}">{{item['descricao']}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label class="form-label" for="txt_atpc">Qtd ATPC:</label>
                                    <input type="number" class="form-control" id="txt_atpc" name="atpc">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label class="form-label" for="txt_atpl">Qtd ATPL:</label>
                                    <input type="number" class="form-control" id="txt_atpl" name="atpl">
                                </div>
                            </div>  

                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label class="form-label" for="txt_aulas">Qtd Aulas outra UE:</label>
                                    <input type="number" class="form-control" id="txt_aulas" name="aulas">
                                </div>
                            </div>                                                        

                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label" for="cb_sede_classificacao">Sede de Classificação:</label>
                                    <select class="form-select" id="cb_sede_classificacao" name="sede_classificacao">
                                        {% for item in escolas %}
                                        <option value="{{item['id']}}">{{item['descricao']}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label" for="cb_sede_frequencia">Sede de Controle de Frequência:</label>
                                    <select class="form-select" id="cb_sede_frequencia" name="sede_frequencia">
                                        {% for item in escolas %}
                                        <option value="{{item['id']}}">{{item['descricao']}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label class="form-label" for="cb_disciplina">Disciplina:</label>
                                    <select class="form-select" id="cb_disciplina" name="disciplina">
                                        <option value="null">-</option>
                                        {% for item in disciplinas %}
                                        <option value="{{item['id']}}">{{item['descricao']}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>                            

                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label class="form-label" for="cb_afastamento">Afastamento:</label>
                                    <select class="form-select" id="cb_afastamento" name="afastamento">
                                        <option value="null">-</option>
                                        {% for item in afastamentos %}
                                        <option value="{{item['id']}}">{{item['desc_longo']}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label class="form-label" for="cb_afastamento">Nome Ata:</label>
                                    <input class="form-control" type="text" name="nome_ata" id="txt_nome_ata">
                                </div>
                            </div>                             

                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="1" id="assina" name="assina" checked>
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Assina o livro ponto?
                                        </label>
                                    </div>                               
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-check-label" for="txt_obs">Observação Rodapé</label>
                                    <textarea class="form-control" name="obs" id="txt_obs"></textarea>                       
                                </div>                            
                            </div>

                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-check-label" for="txt_obs">Instância do Calendário</label>
                                    <select id="cb_instancia" name="cb_instancia" class="form-control">
                                        {% for item in instancias %}
                                        <option value="{{item['id']}}">{{item['descricao']}}</option>
                                        {% endfor %}
                                    </select>                    
                                </div>                            
                            </div>                            

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" id="btn-confirmar" class="btn btn-warning">Confirmar Dados</button>
                </div>
            </div>
            </form>
        </div>
    </div>

    <main class="container-xxl">
        <div id="loading"><div class="loader"></div></div>
        <div class="row">
            <div class="col-sm-12">
                <p class="fs-2">Cadastro de Livro Ponto</p>
            </div>
            <div class="col-sm-12" id="status_result">{{msg|safe}}</div>
        </div>

        <hr>
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_cadastro_professor">Cadastrar Novo Professor</button>
                {% if desativados|length > 0 %}
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal_lista_desativados">Professores Desativados</button>
                {% endif %}
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">Selecione o mês: </span>
                        <select class="form-control" id="cb_mes">
                            {% for mes in meses %}
                            {% if mes['atual'] %}
                            <option value="{{mes['valor']}}" selected>{{mes['desc']}}</option>
                            {% else %}
                            <option value="{{mes['valor']}}">{{mes['desc']}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <span class="input-group-text" id="basic-addon2">Ano: </span>
                        <input id="txt_ano" type="number" class="form-control" value="{{ano}}">
                        <button class="btn btn-danger" id="btn_gerar_livro_completo">Gerar Livro Completo</button>
                    </div>
                </div>            
            </div>
        </div>     
        <hr>

        <div class="row">
            <div class="col-sm-12">
                <table id="tb-principal" class="table table-hover table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">RG</th>
                            <th scope="col">CPF</th>   
                            <th scope="col">Categoria</th>
                            <th class="text-center" scope="col">Quadro Aula</th>
                            <th class="text-center" scope="col">Visualizar</th>
                            <th class="text-center" scope="col">Editar</th>
                            <th class="text-center" scope="col">Licenças</th>
                            <th class="text-center" scope="col">Desativar</th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        {% for professor in professores %}
                        <tr>
                            <td>{{professor['nome']}}</td>
                            <td>{{professor['rg']}}</td>
                            <td>{{professor['cpf']}}</td>
                            <td>{{professor['categoria']}}</td>
                            <td class="quadro_aulas text-center" data-id="{{professor['raw_cpf']}}" data-di="{{professor['di']}}"><i class="fa-solid fa-table"></i></td>
                            <td class="view_professor text-center" data-id="{{professor['raw_cpf']}}" data-di="{{professor['di']}}"><i class="fa-solid fa-magnifying-glass"></i></td>
                            <td class="row_professor text-center" data-id="{{professor['raw_cpf']}}" data-di="{{professor['di']}}"><i class="fa-solid fa-pen-to-square"></i></td>
                            <td class="afs_professor text-center" data-id="{{professor['raw_cpf']}}"><i class="fa-solid fa-table-list"></i></td>
                            <td class="desativar_prof text-center" data-id="{{professor['raw_cpf']}}" data-di="{{professor['di']}}"><i class="fa-solid fa-trash"></i></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>           

    <form id="form_ativacao_prof" action="/ponto" method="POST">
        <input type="hidden" name="cpf" id="cpf_ativacao">
        <input type="hidden" name="ativacao" id="ativacao">
        <input type="hidden" name="di" id="di_ativacao">
    </form>

    <form id="form_quadro_aula" action="/ponto" method="POST">
        <input type="hidden" name="cpf" id="cpf_quadro">
        <input type="hidden" name="quadro" id="quadro_aula">    
    </form>

    <form id="form_afastamentos" action="/ponto" method="POST">
        <input type="hidden" name="cpf" id="cpf_afs">
        <input type="hidden" name="info_afs" id="info_afs">
    </form>      

    </main>

    <script src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script> 
    <!-- <script src="{{ url_for('static', filename='js/jquery.mask.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.mask.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='datatable/datatables.min.js') }}"></script>

    <script>

        var periodos = {{periodos}};

        periodo = '<select class="form-control cb_periodo">';
        
        for (let i = 0; i < periodos.length; i++) {
            periodo += '<option value="' + periodos[i]['id'] + '">' + periodos[i]['descricao'] + '</option>'
        }

        periodo += '</select>';     

        basic_row = '<tr><td>' + periodo + '</td><td><input type="time" class="form-control txt_inicio_quadro"></td><td><input type="time" class="form-control txt_fim_quadro"></td><td contenteditable="true" class="seg"></td><td contenteditable="true" class="ter"></td><td contenteditable="true" class="qua"></td><td contenteditable="true" class="qui"></td><td contenteditable="true" class="sex"></td><td contenteditable="true" class="sab"></td><td contenteditable="true" class="dom"></td><td><button class="btn btn-danger btn-remove-row"><i class="fa-sharp fa-solid fa-minus"></i></button></td></tr>';

        window.onload=function() {
            $("#loading").remove();
        }

        $( document ).ready(function() {
            let dataTable = new DataTable("#tb-principal", {
                    order: [[0, 'asc']],
                    lengthMenu: [
                        [15, 100, 500, 1000],
                        [15, 100, 500, 1000],
                    ], 
                    "autoWidth": false,
                    "oLanguage": {
                        "sSearch": "Pesquisar:",
                    },
                    "language": {
                        "lengthMenu": "Exibir _MENU_ itens por página",
                        "zeroRecords": "Nada encontrado - Desculpe",
                        "info": "Exibindo _START_ até _END_ de um total de _TOTAL_ registro(s)",
                        "infoEmpty": "Sem registros",
                        "infoFiltered": "(filtrado de um total de _MAX_ registro(s))",
                        "paginate": {
                            "previous": "Anterior",
                            "next": "Próximo"
                        }
                    }                    
            }); 
        });

        $("#txt_cpf").mask('000.000.000-00', {reverse: true});

        $("#txt_nome").on('change', function() {
            $(this).val(capitalizeFirstLetter($(this).val()));
        });

        $("#btn_gerar_livro_completo").on('click', function() {
            $(this).attr('disabled');
            $(this).html('<div class="spinner-border text-ligth" role="status"><span class="sr-only">Carregando...</span></div>');

            info = {'destino':7, 'mes':$("#cb_mes").val(), 'ano':$("#txt_ano").val()}

            $.ajax({
                type: "POST",
                url: "gerar_pdf",
                contentType: "application/json",
                data: JSON.stringify(info),
                dataType: "json",
                success: function(data) {
                window.open(data);
                $("#btn_gerar_livro_completo").html('Gerar Livro Completo');
                $("#btn_gerar_livro_completo").removeAttr('disabled');
                },
            });
        });

        $(".afs_professor").on("click", function() {
            let nome = $(this).parent().find('td:first').text();
            let cpf = $(this).attr('data-id');

            $.ajax({
                type: "POST",
                url: "ponto",
                contentType: "application/json",
                data: JSON.stringify({'destino':3, 'cpf':cpf}),
                dataType: "json",
                success: function(data) {

                    $("#tbody_afs").empty();

                    for (let i = 0; i < data.length; i++) {
                        $("#tbody_afs").append("<tr  class='item-afs'><td>" + data[i]['inicio'] + "</td><td>" + data[i]['fim'] + "</td><td data-tipo='" + data[i]['id_tipo'] + "'>" + data[i]['desc_tipo'] + '</td><td>' + data[i]['descricao'] + '</td><td class="text-center bt_delete_afs"><i class="fa-solid fa-trash"></i></td></tr>')
                    }

                    $("#lb_nome_afastamento").html(nome);
                    $("#cpf_afs").val(cpf);
                    $("#modal_afastamentos").modal('show');
                },
            });             


        });  

        $("#btn_add_row").on('click', function() {

            if ($("#txt_de").val() != '' && $("#txt_ate").val().split("-") != '') {
                let [ano_i, mes_i, dia_i] = $("#txt_de").val().split("-");
                let [ano_f, mes_f, dia_f] = $("#txt_ate").val().split("-");
                let desc = $("#txt_desc").val();
                let tipo = $("#cb_tipo_afastamento").val();
                let tipo_desc = $("#cb_tipo_afastamento option:selected").text();

                $("#tbody_afs").append('<tr class="item-afs"><td>' + `${dia_i}/${mes_i}/${ano_i}` + '</td><td>' + `${dia_f}/${mes_f}/${ano_f}` + '</td><td data-tipo="' + tipo + '">' + tipo_desc + '</td><td>' + desc + '</td><td class="text-center bt_delete_afs"><i class="fa-solid fa-trash"></i></td></tr>')
            }
        });

        $("#tbody_afs").on('click', '.bt_delete_afs', function() {
            $(this).parent().remove();
        });

        $("#btn_confirm_salvar_afs").on('click', function() {
            // criar uma lista com os dados
            var ls_final = [];

            $(".item-afs").each(function(index, element) {
                let data_de = converterData($(element).find('td:first').text());
                let data_ate = converterData($(element).find('td:eq(1)').text());
                let tipo = $(element).find('td:eq(2)').attr('data-tipo');
                let desc = $(element).find('td:eq(3)').text();

                ls_final.push({'inicio':data_de, 'fim':data_ate, 'tipo':tipo, 'desc':desc})
            });

            $("#info_afs").val(JSON.stringify(ls_final));

            console.log(ls_final);

            $("#form_afastamentos").submit();
        });                  

        $(".desativar_prof").on('click', function() {
            $("#lb_professor_nome_exclusao").text($(this).parent().find('td:first').text());
            $("#ativacao").val(0);
            $("#cpf_ativacao").val($(this).attr('data-id'));
            $("#di_ativacao").val($(this).attr('data-di'));
            $("#modal_confirmar_desativacao").modal('show');
        });

        $(".reativar_professor").on('click', function() {
            $("#ativacao").val(1);
            $("#cpf_ativacao").val($(this).attr('data-id'));
            $("#di_ativacao").val($(this).attr('data-di'));
            $("#form_ativacao_prof").submit();
        });

        $("#btn_enviar_desativacao").on('click', function() {
            $("#form_ativacao_prof").submit();
        });

        $(".view_professor ").on('click', function() {
            cpf = $(this).attr('data-id');
            di = $(this).attr('data-di');

            info = {'destino':2, 'cpf':cpf, 'di':di}

            $.ajax({
                type: "POST",
                url: "{{ url_for('ponto') }}",
                contentType: "application/json",
                data: JSON.stringify(info),
                dataType: "json",
                success: function(response) {
                    console.log(response);

                    $("#body-detalhes").empty();
                    $("#body-detalhes").append("<div class='col-sm-4'><b>Nome: </b>" + response['detalhes']['nome'] + "</div>");
                    $("#body-detalhes").append("<div class='col-sm-4'><b>RG: </b>" + response['detalhes']['rg'] + "</div>");
                    $("#body-detalhes").append("<div class='col-sm-4'><b>Faixa/Nível/REF: </b>" + response['detalhes']['FNREF'] + "</div>");

                    $("#body-detalhes").append("<div class='col-sm-4'><b>CPF: </b>" + response['detalhes']['cpf'] + "</div>");
                    $("#body-detalhes").append("<div class='col-sm-4'><b>RS/PV: </b>" + response['detalhes']['rs'] + " / " + response['detalhes']['pv'] + "</div>");
                    $("#body-detalhes").append("<div class='col-sm-4'><b>DI: </b>" + response['detalhes']['di'] + "</div>");

                    $("#body-detalhes").append("<div class='col-sm-4'><b>Cargo: </b>" + response['detalhes']['cargo'] + "</div>");
                    $("#body-detalhes").append("<div class='col-sm-4'><b>Categoria: </b>" + response['detalhes']['categoria'] + "</div>");
                    $("#body-detalhes").append("<div class='col-sm-4'><b>Jornada: </b>" + response['detalhes']['jornada'] + "</div>");

                    $("#body-detalhes").append("<div class='col-sm-4'><b>Disciplina: </b>" + response['detalhes']['disciplina'] + "</div>");
                    $("#body-detalhes").append("<div class='col-sm-8'><b>Sede de Classificação: </b>" + response['detalhes']['sede_classificacao'] + "</div>");

                    $("#body-detalhes").append("<div class='col-sm-4'><b>Assina Livro Ponto: </b>" + response['detalhes']['assina_livro'] + "</div>");
                    $("#body-detalhes").append("<div class='col-sm-8'><b>Sede de Frequência: </b>" + response['detalhes']['sede_controle_freq'] + "</div>");

                    if (response['detalhes']['aulas_outra_ue'] != '') {
                        $("#body-detalhes").append("<div class='col-sm-4'><b>Aulas em outra UE: </b>" + response['detalhes']['aulas_outra_ue'] + "</div>");
                    }                    

                    if (response['detalhes']['atpc'] != '') {
                        $("#body-detalhes").append("<div class='col-sm-4'><b>" + response['detalhes']['atpc'] + "</b></div>");
                    }                    

                    $("#body-detalhes").append("<div class='col-sm-12'><b>Afastamento: </b>" + response['detalhes']['afastamento'] + "</div>");
                    $("#body-detalhes").append("<div class='col-sm-12'><b>OBS no Rodapé: </b>" + response['detalhes']['obs'] + "</div>");

                    if (response['quadro'].length > 0) {
                        $("#body-detalhes").append("<div class='col-sm-12'><hr></div>");
                        $("#body-detalhes").append("<div class='col-sm-12'><b>Quadro de Aula:</b></div>");

                        tabela = "<table class='table table-stripped'><thead class='table-dark'><tr><th class='text-center'>Período</th><th class='text-center' colspan='2'>Horário</th><th>Seg</th><th>Ter</th><th>Qua</th><th>Qui</th><th>Sex</th><th>Sáb</th><th>Dom</th></tr></thead>";

                        for (let i = 0;  i < response['quadro'].length; i++) {
                            tabela += '<tr>';
                            tabela += '<td class="text-center">' + response['quadro'][i]['periodo'] + '</td>';
                            tabela += '<td class="text-center">' + response['quadro'][i]['inicio'] + '</td>';
                            tabela += '<td class="text-center">' + response['quadro'][i]['fim'] + '</td>';
                            tabela += '<td class="text-center">' + response['quadro'][i]['seg'] + '</td>';
                            tabela += '<td class="text-center">' + response['quadro'][i]['ter'] + '</td>';
                            tabela += '<td class="text-center">' + response['quadro'][i]['qua'] + '</td>';
                            tabela += '<td class="text-center">' + response['quadro'][i]['qui'] + '</td>';
                            tabela += '<td class="text-center">' + response['quadro'][i]['sex'] + '</td>';
                            tabela += '<td class="text-center">' + response['quadro'][i]['sab'] + '</td>';
                            tabela += '<td class="text-center">' + response['quadro'][i]['dom'] + '</td>';
                            tabela += '</tr>';
                        }

                        tabela += "</table>"

                        $("#body-detalhes").append("<div class='col-sm-12'>" + tabela + "</div>")
                    }


                    // Acrescentar botão para gerar folha de ponto extra
                    $("#body-detalhes").append("<div class='col-sm-12'><hr></div>");

                    let form_adicional = '<div class="col-sm-9"><div class="form-group">';
                    form_adicional += '<div class="input-group">';
                    form_adicional += '<span class="input-group-text">Selecione o mês: </span>';

                    form_adicional += '<select class="form-control" id="cb_mes_extra">';
                            {% for mes in meses %}
                            {% if mes['atual'] %}
                            form_adicional += '<option value="{{mes["valor"]}}" selected>{{mes["desc"]}}</option>';
                            {% else %}
                            form_adicional += '<option value="{{mes["valor"]}}">{{mes["desc"]}}</option>'
                            {% endif %}
                            {% endfor %}
                    form_adicional += '</select>';
                    form_adicional += '<span class="input-group-text">Ano: </span>';
                    form_adicional += '<input id="txt_ano_extra" type="number" class="form-control" value="{{ano}}">'

                    form_adicional += '<span class="input-group-text">Folha: </span>';
                    form_adicional += '<input id="folha_extra" type="number" class="form-control" value="0">';
                    form_adicional += '<button class="btn_extra btn btn-danger">Gerar Folha Extra</button>';
                    form_adicional += '<input type="hidden" id="cpf_prof_extra" value="' + response['detalhes']['cpf'] + '">';
                    form_adicional += '<input type="hidden" id="di_prof_extra" value="' + response['detalhes']['di'] + '">';

                    form_adicional += '</div></div></div>';


                    $("#body-detalhes").append(form_adicional);

                    $("#modal_visualizar").modal('show');
                },
                error: function(err) {
                    console.log(err);
                }
            });             
        });

        $(".quadro_aulas").on('click', function() {
            cpf = $(this).attr('data-id');

            $("#cpf_quadro").val(cpf);

            info = {'destino':1, 'cpf':cpf}

            $.ajax({
                type: "POST",
                url: "{{ url_for('ponto') }}",
                contentType: "application/json",
                data: JSON.stringify(info),
                dataType: "json",
                success: function(response) {
                    console.log(response);
                    

                    $("#body-quadro").empty();
                    $("#body-quadro").append('<table class="table table-striped"><thead class="table-dark"><tr><th>Período</th><th>Início</th><th>Fim</th><th>Seg</th><th>Ter</th><th>Qua</th><th>Qui</th><th>Sex</th><th>Sab</th><th>Dom</th><td><button class="btn btn-success btn-add-row"><i class="fa-sharp fa-solid fa-plus"></i></button></td></tr></thead><tbody id="tb-quadro-principal"></tbody></table>');

                    if (response['quadro'].length > 0) {

                        for (let i = 0; i < response['quadro'].length; i++) {
                            
                            periodo_aux = '<select class="form-control cb_periodo">';
        
                            for (let j = 0; j < periodos.length; j++) {

                                if (response['quadro'][i]['periodo'] == periodos[j]['id']) {
                                    periodo_aux += '<option value="' + periodos[j]['id'] + '" selected>' + periodos[j]['descricao'] + '</option>'
                                } else {
                                    periodo_aux += '<option value="' + periodos[j]['id'] + '">' + periodos[j]['descricao'] + '</option>'
                                }

                                
                            }

                            periodo_aux += '</select>';
                            
                            
                            row = '<tr><td>' + periodo_aux + '</td>' +
                            '<td><input type="time" class="form-control txt_inicio_quadro" value="' + response['quadro'][i]['inicio'] + '"></td>' + 
                            '<td><input type="time" class="form-control txt_fim_quadro" value="' + response['quadro'][i]['fim'] + '"></td>' + 
                            '<td contenteditable="true" class="seg">' + response['quadro'][i]['seg'] + '</td>' + 
                            '<td contenteditable="true" class="ter">' + response['quadro'][i]['ter'] + '</td>' + 
                            '<td contenteditable="true" class="qua">' + response['quadro'][i]['qua'] + '</td>' + 
                            '<td contenteditable="true" class="qui">' + response['quadro'][i]['qui'] + '</td>' + 
                            '<td contenteditable="true" class="sex">' + response['quadro'][i]['sex'] + '</td>' + 
                            '<td contenteditable="true" class="sab">' + response['quadro'][i]['sab'] + '</td>' + 
                            '<td contenteditable="true" class="dom">' + response['quadro'][i]['dom'] + '</td>' + 
                            '<td><button class="btn btn-danger btn-remove-row"><i class="fa-sharp fa-solid fa-minus"></i></button></td></tr>'
                            
                            $("#tb-quadro-principal").append(row)
                        }

                    } else {

                        $("#tb-quadro-principal").append(basic_row)
                    }

                    aulas = response['aulas_ue'];

                    $("#body-quadro").append('<hr>');
                    $("#body-quadro").append('<div class="row">' +
                                                '<div class="col-sm-12 mb-3">' +
                                                    '<label class="form-label" for="txt_aulas">Qtd Aulas outras UEs:</label>' +
                                                    '<div class="form-group">' +
                                                        '<div class="input-group">' + 
                                                            '<span class="input-group-text">Seg</span>' +
                                                            '<input type="number" class="form-control txt_aulas_outra_ue" data-sem="seg" value="' + aulas['seg'] + '">' +
                                                            '<span class="input-group-text">Ter</span>' +
                                                            '<input type="number" class="form-control txt_aulas_outra_ue" data-sem="ter" value="' + aulas['ter'] + '">' +
                                                            '<span class="input-group-text">Qua</span>' +
                                                            '<input type="number" class="form-control txt_aulas_outra_ue" data-sem="qua" value="' + aulas['qua'] + '">' +
                                                            '<span class="input-group-text">Qui</span>' +
                                                            '<input type="number" class="form-control txt_aulas_outra_ue" data-sem="qui" value="' + aulas['qui'] + '">' +
                                                            '<span class="input-group-text">Sex</span>' +
                                                            '<input type="number" class="form-control txt_aulas_outra_ue" data-sem="sex" value="' + aulas['sex'] + '">' +
                                                        '</div>' +
                                                    '</div>' +
                                                '</div>' +
                                            '</div>')

                    $("#modal_quadro_aula").modal('show');
                },
                error: function(err) {
                    console.log(err);
                }
            }); 

        });

        $("#btn_cadastrar_quadro").on('click', function() {
            // pegar a listinha do quadro

            lista_final = [];

            $("#tb-quadro-principal tr").each(function( index ) {
                info = {'periodo':$(this).find('.cb_periodo').val()};
                info['inicio'] = '2000-01-01 ' + $(this).find('.txt_inicio_quadro').val();
                info['fim'] = '2000-01-01 ' + $(this).find('.txt_fim_quadro').val();
                info['seg'] = $(this).find('.seg').text();
                info['ter'] = $(this).find('.ter').text();
                info['qua'] = $(this).find('.qua').text();
                info['qui'] = $(this).find('.qui').text();
                info['sex'] = $(this).find('.sex').text();
                info['sab'] = $(this).find('.sab').text();
                info['dom'] = $(this).find('.dom').text();

                lista_final.push(info);
                
            });

            // pegar as aulas da outra ue
            aulas_outra_ue = {};

            $(".txt_aulas_outra_ue").each(function(index) {
                if ($(this).val() > 0) {
                    aulas_outra_ue[$(this).attr('data-sem')] = $(this).val();
                }
            });

            $("#quadro_aula").val(JSON.stringify({'lista_final':lista_final, 'aulas_ue':aulas_outra_ue}));
            $("#form_quadro_aula").submit();

        });

        $("#modal_visualizar").on('click', '.btn_extra', function() {
            $(this).attr('disabled');
            $(this).html('<div class="spinner-border text-ligth" role="status"><span class="sr-only">Carregando...</span></div>');

            info = {'destino':9, 'mes':$("#cb_mes_extra").val(), 'ano':$("#txt_ano_extra").val(), 'professor':$("#cpf_prof_extra").val(), 'di':$("#di_prof_extra").val(), 'number':$("#folha_extra").val()}

            $.ajax({
                type: "POST",
                url: "gerar_pdf",
                contentType: "application/json",
                data: JSON.stringify(info),
                dataType: "json",
                success: function(data) {
                window.open(data);
                $(".btn_extra").html('Gerar Folha Extra');
                $(".btn_extra").removeAttr('disabled');
                },
            });
        });

        $("#body-quadro").on('click', '.btn-add-row', function() {
            $("#tb-quadro-principal").append(basic_row);
        });

        $("#body-quadro").on('click', '.btn-remove-row', function() {
            $(this).parent().parent().remove();
        });        

        $(".row_professor").on('click', function() {
            cpf = $(this).attr('data-id');
            di = $(this).attr('data-di');

            info = {'destino':0, 'cpf':cpf, 'di':di}

            $.ajax({
                type: "POST",
                url: "{{ url_for('ponto') }}",
                contentType: "application/json",
                data: JSON.stringify(info),
                dataType: "json",
                success: function(response) {
                    console.log(response);
                    $("#txt_nome").val(response['nome']);
                    $("#txt_cpf").val(response['cpf']);
                    $("#txt_faixa").val(response['FNREF']);
                    $("#txt_rg").val(response['rg']);
                    $("#txt_digito_rg").val(response['digito']);
                    $("#txt_rs").val(response['rs']);
                    $("#txt_pv").val(response['pv']);
                    $("#txt_di").val(response['di']);
                    $("#cb_cargo").val(response['cargo']);
                    $("#cb_categoria").val(response['categoria']);
                    $("#cb_jornada").val(response['jornada']);
                    $("#cb_sede_classificacao").val(response['sede_classificacao']);
                    $("#cb_sede_frequencia").val(response['sede_controle_freq']);
                    $("#cb_disciplina").val(response['disciplina']);
                    $("#cb_afastamento").val(response['afastamento']);
                    $("#txt_obs").val(response['obs']);
                    $("#txt_atpl").val(response['atpl']);
                    $("#txt_atpc").val(response['atpc']);
                    $("#txt_aulas").val(response['aulas_outra_ue']);
                    $("#cb_instancia").val(response['instancia_calendario']);
                    $("#txt_nome_ata").val(response['nome_ata']);

                    if (response['assina_livro'] == 1) {
                        $("#assina").attr('checked', '');
                    } else {
                        $("#assina").removeAttr('checked');
                    }

                    $("#modal_cadastro_professor").modal('show');
                },
                error: function(err) {
                    console.log(err);
                }
            });            
        });

        function capitalizeFirstLetter(string) {
            // Converte toda a string para letras minúsculas
            result = string.toLowerCase();
            
            // Divide a string em palavras, capitaliza a primeira letra de cada palavra e junta novamente
            result = result.split(' ').map(word => {
                return word.charAt(0).toUpperCase() + word.slice(1);
            }).join(' ');

            // Substitui ocorrências específicas de palavras com letras maiúsculas por minúsculas
            result = result.replaceAll(' Da ', ' da ')
                        .replaceAll(' De ', ' de ')
                        .replaceAll(' Do ', ' do ')
                        .replaceAll(' Dos ', ' dos ');
            
            return result;
        }

        function converterData(data) {
            // Verifica se a data é válida
            const partes = data.split('/'); // Divide a data em dia, mês e ano
            if (partes.length === 3) {
                const dia = partes[0];  // Dia
                const mes = partes[1];  // Mês
                const ano = partes[2];  // Ano
                
                // Retorna a data no formato yyyy-mm-dd
                return `${ano}-${mes}-${dia}`;
            } else {
                return "Data inválida!";
            }
        }           

    </script>
  </body>
</html>