<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notas</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='stylesheets/navbar-top-fixed.css') }}" rel="stylesheet">   
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='datatable/datatables.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/icon_sed.png') }}">

    <style>
        #loading-mask {
            background-color: white;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 9999;
        } 

        .center {
            margin: auto;
            text-align: center;
            position: fixed;
            top: 30%;
            left: 45%;
        }        

        .modal-body {
            max-width: 100%;
            overflow-x: auto;
        }
        /*.scoll-tree {
            width:5000px;
        }*/

        #tb-mapao-show td
        {
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        #listaGeral {
            max-width: 100%;
            overflow-x: auto;      
        }

    </style>

  </head>
  <body style="background-color: rgba(244, 244, 244);">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">
               <i class="fa-solid fa-home"></i>
                Home
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="../listaAlunos">Lista de Alunos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Notas</a>
                    </li>                     
                </ul>                  
            </div>            
        </div>
    </nav>  

    <div class="modal fade" id="importDificuldades" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Importar Dificuldades</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="form_upload_dif" action="{{ url_for('notas') }}" enctype="multipart/form-data" method="post">
                <input class="form-control" type="file" id="fileDif" name="fileDif" accept=".xlsx">
                <input type="hidden" id="num_classe_import_dif" name="num_classe_import_dif">
                <input type="hidden" id="bimestre_import_dif" name="bimestre_import_dif">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="button" id="btn_confirmar_importacao" class="btn btn-primary" disabled>Importar</button>
        </div>
        </div>
    </div>
    </div>

    <div class="modal fade" id="modal_mapao" tabindex="-1" aria-labelledby="modal_mapaoLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 93%;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal_mapaoLabel">Mapão Importado:</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="scoll-tree">
                        <table id="tb-mapao" class="table table-hover table-bordered text-center"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button id="btn_salvarnotas" class="btn btn-primary">Salvar Notas</button>
                    <!-- <button id="btn-importar_if" class="btn btn-warning">Importar Alunos</button> -->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_mapao_show" tabindex="-1" aria-labelledby="modal_mapaoshowLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 99%;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal_mapaoshowLabel">Mapão Salvo:</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="scoll-tree">
                        <table id="tb-mapao-show" class="table table-hover table-bordered text-center"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>    

    <div class="modal fade" id="modal_vinculo" tabindex="-1" aria-labelledby="modal_vinculoLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal_vinculoLabel">Vínculo de Professores e Turmas</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div id="feedbackVinculo" class="col-sm-12"></div>
                        <div class="col-sm-6">
                            <p class="fs-4">Turmas</p>
                            <div class="list-group" id="listaVinculo">
                                {% for ensino in listaTurmas %}
                                    {% for turma in ensino['lista'] %}
                                        <a data-duracao="{{turma['duracao']}}" href="#" class="list-group-item list-group-item-action" data-id="{{turma['num_classe']}}">
                                            {{turma['nome_turma']}} - {{turma['duracao']}}
                                        </a>
                                    {% endfor %}
                                {% endfor %}    
                            </div>                        
                        </div>
                        <div class="col-sm-6">
                            <p class="fs-4">Professores</p>
                            {% for item in professores %}
                                <div class="form-check">
                                    <input class="form-check-input" name="checkProfs" type="checkbox" value="{{item['rg']}}" id="check{{item['rg']}}" disabled>
                                    <label class="form-check-label" for="check{{item['rg']}}">
                                        {{item['nome_ata']}}
                                    </label>
                                </div>
                            {% endfor %}  
                            <hr> 
                            <button id="btn_salvarvinculo" class="btn btn-primary">Salvar Vínculo</button>                          
                        </div>                                             
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <!-- <button id="btn-importar_if" class="btn btn-warning">Importar Alunos</button> -->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_professores" tabindex="-1" aria-labelledby="modal_professoresLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal_professoresLabel">Professores</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('notas') }}" method="post">
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="txt_rgprof">RG: (Sem dígito)</label>
                                <input type="number" class="form-control" name="txt_rgprof" id="txt_rgprof">                                                    
                            </div>
                            <div class="col-sm-6">
                                <label for="txt_nomeprof">Nome Completo:</label>
                                <input type="text" class="form-control" name="txt_nomeprof" id="txt_nomeprof">                                                    
                            </div>
                            <div class="col-sm-3">
                                <label for="txt_nomeata">Nome Curto (Ata):</label>
                                <input type="text" class="form-control" name="txt_nomeata" id="txt_nomeata">                               
                            </div>
                            <div class="col-sm-1 align-self-end">
                                <input type="submit" class="btn btn-primary" value="Salvar">
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="row">
                        <table id="tabelaProfessores" class="table table-hover table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th>RG</th>
                                    <th>Nome Ata</th>
                                    <th>Nome Completo</th>                                    
                                    <th class="text-center">Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in professores %}
                                <tr>
                                    <td>{{item['rg']}}</td>
                                    <td>{{item['nome_ata']}}</td>                                    
                                    <td>{{item['nome']}}</td>
                                    <td class="text-center"><a href="javascript:editarProf({{item['rg']}}, '{{item['nome']}}', '{{item['nome_ata']}}')"><i class="fa-solid fa-edit"></i></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>                        
                    </div>                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <!-- <button id="btn-importar_if" class="btn btn-warning">Importar Alunos</button> -->
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modal_disciplinas" tabindex="-1" aria-labelledby="modal_disciplinasLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal_disciplinasLabel">Disciplinas</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('notas') }}" method="post">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="txt_coddisciplina">Código:</label>
                                <input type="number" class="form-control" id="txt_coddisciplina" name="txt_coddisciplina" required>               
                            </div>            
                            <div class="col-sm-6">
                                <label for="txt_descricao">Descrição:</label>
                                <input type="text" class="form-control" id="txt_descricao" name="txt_descricao" required>               
                            </div>
                            <div class="col-sm-3">
                                <label for="txt_abv">Abreviação:</label>
                                <input type="text" class="form-control" id="txt_abv" name="txt_abv" required>               
                            </div>
                            <div class="col-sm-6">
                                <label for="cbClassificacao">Classificação:</label>
                                <select id="cbClassificacao" name="cbClassificacao" class="form-select" aria-label="Default select example">
                                    {% for item in classificacao %}
                                        <option value="{{item['id']}}">{{item['descricao']}}</option>
                                    {% endfor %}
                                </select>                    
                            </div>
                            <div class="col-sm-6 align-self-end">
                                <input type="submit" value="Cadastrar/Alterar Dados de Disciplina" class="btn btn-success">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">&nbsp;</div>
                            <div class="col-sm-12">
                                <table id="tabelaDisciplinas" class="table table-hover table-striped">
                                    <thead class="table-dark">
                                        <tr>
                                            <th class="text-center">Código</th>
                                            <th>Descrição</th>
                                            <th class="text-center">Abrev.</th>
                                            <th class="text-center">Classif.</th>
                                            <th class="text-center">Editar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% set ns = namespace(cont=1) %}
                                        {% for item in disciplinas %}
                                        <tr>
                                            <td class="text-center">{{item['codigo_disciplina']}}</td>
                                            <td data-order="{{ns.cont}}">{{item['descricao']}}</td>
                                            <td class="text-center">{{item['abv']}}</td>
                                            <td class="text-center">{{item['classificacao_desc']}}</td>
                                            <td class="text-center"><a href="javascript:editarDisc({{item['codigo_disciplina']}}, '{{item['descricao']}}', '{{item['abv']}}', {{item['classificacao']}})"><i class="fa-solid fa-edit"></i></a></td>
                                        </tr>
                                        {% set ns.cont = ns.cont + 1 %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <!-- <button id="btn-importar_if" class="btn btn-warning">Importar Alunos</button> -->
                </div>
            </div>
        </div>
    </div>

    <main class="container-xxl">
        <div id="loading-mask">
            <h1 class="center">AGUARDE...</h1>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="fs-2">Cadastro Notas</p>
            </div>
            <div class="col-sm-12">{{msg|safe}}</div>
            <div class="col-sm-12">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_disciplinas">Cadastro de Disciplinas</button>
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal_professores">Cadastro de Professores</button>
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal_vinculo">Vínculo de Professores e Turmas</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5">
                <div id="lista_geral" class="list-group">
                    {% for ensino in listaTurmas %}
                        <p class="fs-4">{{ensino['tipo_ensino']['tipo_ensino']}}</p>
                        {% for turma in ensino['lista'] %}
                            <a data-duracao="{{turma['duracao']}}" href="#" class="list-group-item list-group-item-action" data-id="{{turma['num_classe']}}">
                                {{turma['nome_turma']}} - {{turma['duracao']}}
                            </a>
                        {% endfor %}

                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="fs-4" for="cbBimestre">Bimestre:</label>
                        <select id="cbBimestre" class="form-select" aria-label="Default select example" disabled>
                            <option>Selecione uma turma antes...</option>
                        </select> 
                    </div> 
                    <div class="col-sm-8 d-flex align-items-end">
                        <input class="form-control" type="file" id="file" name="file" accept=".xls" disabled>
                    </div>
                    <div class="col-sm-12">&nbsp;</div>  
                    <div class="col-sm-12 align-items-end">
                        <button id="btnshowmapao" class="btn btn-secondary" disabled>Exibir Mapão Completo</button>
                        <button id="btn_gerar_conselho" class="btn btn-success" disabled>Gerar Ata do Conselho</button>
                        <button id="btn_dificuldades" class="btn btn-danger" disabled>Salvar Dificuldades</button>
                        <button id="btn_import_dificuldades" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#importDificuldades" disabled>Importar Dificuldades</button> 
                    </div>
                    <div id="feedback_geral" class="col-sm-12">&nbsp;</div>              
                    <div id="listaGeral" class="col-sm-12"></div>
                </div>

            </div>
        </div>
    </main>

    <script src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script> 
    <!-- <script src="{{ url_for('static', filename='js/jquery.mask.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='datatable/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jspdf/jspdf.umd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='font-custom/BebasKai-normal.js') }}"></script>
    <script src="{{ url_for('static', filename='font-custom/GreatVibes-Regular-normal.js') }}"></script>  
    <script src="{{ url_for('static', filename='js/gerador-pdf.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-multiselect/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-multiselect/bootstrap-multiselect.js') }}"></script>
    <script>

        const bimestres = {{bimestres|safe}};
        const array_nota = [];
        const array_disc = [];

        window.onload=function() {
            document.getElementById('loading-mask').style.display='none';         
        }

        $("#btn_confirmar_importacao").on('click', function(e) {
            $("#form_upload_dif").submit();
        });

        $("#listaGeral").on('click', '.dropdown-menu', function(e) {
            e.stopPropagation();

            lista = "";

            $(this).find('input').each(function(index,item){
                if ($(item).is(":checked")) {
                    lista += $(item).val() + ";";
                }
            });

            var ra = $(this).parent().parent().parent().attr('data-ra');

            if (lista == "") {
                lista = "Escolher Dificuldades";
                $("#btnCampaignSelector" + ra).addClass("btn-secondary");
                $("#btnCampaignSelector" + ra).removeClass("btn-primary");
            } else {
                lista = lista.slice(0, -1);
                $("#btnCampaignSelector" + ra).removeClass("btn-secondary");
                $("#btnCampaignSelector" + ra).addClass("btn-primary");
            }

            
            $("#btnCampaignSelector" + ra).text(lista);
            $(this).parent().parent().parent().attr('data-dif', lista);
        });   

        $("#fileDif").on('change', function() {
            $("#btn_confirmar_importacao").removeAttr('disabled');
            $("#bimestre_import_dif").val($("#cbBimestre").val());
            $("#num_classe_import_dif").val($('#lista_geral .active').attr("data-id"));
        });


        $("#file").on('change', function() {
            array_nota.splice(0, array_nota.length);
            array_disc.splice(0, array_disc.length);

            $.ajax({
                type: "POST",
                url: "{{ url_for('notas') }}",
                contentType: "application/json",
                data: JSON.stringify({'action':1, 'file':document.getElementById("file").files[0].name, 'num_classe':$("#lista_geral .active").attr("data-id"), 'duracao':$("#lista_geral .active").attr("data-duracao")}),
                dataType: "json",
                success: function(response) {     
                    console.log(response);
                    $("#tb-mapao").empty();
                    $("#tb-mapao").append("<thead class='table-secondary'></thead>")
                    $("#tb-mapao thead").append("<tr><th style='border-left-width:4px;border-right-width:4px;border-top-width:4px' rowspan='2'>Nº</th></tr>");                  

                    $("#tb-mapao thead").append("<tr class='subcab'></tr>")

                    //disciplinas = [];

                    for (var item in response['lista']) {
                        if ($("#cbBimestre").val() == 5) {
                            $("#tb-mapao thead tr:first").append("<th style='border-right-width:4px;border-top-width:4px'>" + response['lista'][item]['abv'] + "</th>");
                            $("#tb-mapao thead .subcab").append("<td style='border-right-width:4px;'>Média</td>");
                            
                            //array_disc.push({'disc':response['lista'][item]['disc']});
                        } else {
                            $("#tb-mapao thead tr:first").append("<th style='border-right-width:4px;border-top-width:4px' colspan='3'>" + response['lista'][item]['abv'] + "</th>");
                            $("#tb-mapao thead .subcab").append("<td>N</td><td>F</td><td style='border-right-width:4px'>AC</td>");
                            
                            array_disc.push({'disc':response['lista'][item]['disc'], 'AD':response['lista'][item]['AD']});

                        }
                    }

                    

                    $("#tb-mapao").append("<tbody></tbody>");

                    $("#tb-geral tbody tr").each(function( index ) {

                        if ((index + 1) == $("#tb-geral tbody tr").length) {
                            $("#tb-mapao tbody").append("<tr data-ra='" + $(this).attr('data-ra') + "' style='border-bottom-width:4px' class='aluno" + index + "'></tr>")
                        } else {
                            $("#tb-mapao tbody").append("<tr data-ra='" + $(this).attr('data-ra') + "' class='aluno" + index + "'></tr>")
                        }

                        
                        $("#tb-mapao tbody .aluno" + index).append("<th style='border-left-width:4px;border-right-width:4px'>" + $(this).find('td:first').text().padStart(2, '0') + "</th>");
                        
                        var id = $(this).find('td:first').text().padStart(2, '0');
                        

                        for (var item in response['lista']) {

                            if ($("#cbBimestre").val() == 5) {
                                array_nota.push({'ra':$(this).attr('data-ra'), 'disc':response['lista'][item]['disc'], 'M':response['lista'][item]['medias'][id]['M']});


                                if (parseInt(response['lista'][item]['medias'][id]['M']) < 5) {
                                    excessao = "table-danger";
                                } else if(response['lista'][item]['medias'][id]['M'] == "EP") {
                                    excessao = "table-warning";
                                }     

                                $("#tb-mapao tbody .aluno" + index).append("<td style='border-right-width:4px;' class='" + excessao + "''>" + response['lista'][item]['medias'][id]['M'] + "</td>");
                            } else {
                                array_nota.push({'ra':$(this).attr('data-ra'), 'disc':response['lista'][item]['disc'], 'N':response['lista'][item]['notas'][id]['N'], 'F':parseInt(response['lista'][item]['notas'][id]['F'].replace('-', '0')), 'AC':parseInt(response['lista'][item]['notas'][id]['AC'].replace('-', '0'))});

                                var excessao = "";

                                if (parseInt(response['lista'][item]['notas'][id]['N']) < 5) {
                                    excessao = "table-danger";
                                } else if(response['lista'][item]['notas'][id]['N'] == "EP") {
                                    excessao = "table-warning";
                                }


                                $("#tb-mapao tbody .aluno" + index).append("<td class='" + excessao + "''>" + response['lista'][item]['notas'][id]['N'] + "</td><td>" + parseInt(response['lista'][item]['notas'][id]['F'].replace('-', '0')) + "</td><td style='border-right-width:4px'>" + response['lista'][item]['notas'][id]['AC'] + "</td>");
                            }
                        }

                    });

                    $("#tb-mapao tbody").append("<tr class='profResp table-primary'></tr>");
                    
                    
                    if ($("#cbBimestre").val() != 5) {
                        $("#tb-mapao tbody .profResp").append("<th style='border-left-width:4px;border-right-width:4px'>Prof</th>");
                        $("#tb-mapao tbody").append("<tr style='border-bottom-width:4px;' class='aulas_dadas table-primary'></tr>");
                        $("#tb-mapao tbody .aulas_dadas").append("<th style='border-left-width:4px;border-right-width:4px'>AD</th>");
                    } else {
                        $("#tb-mapao tbody .profResp").append("<th style='border-bottom-width:4px;border-top-width:4px;border-left-width:4px;border-right-width:4px'>Prof</th>");
                    }

                    
                    for (i = 0; i < response['lista'].length; i++) {

                        if ($("#cbBimestre").val() == 5) {
                            $("#tb-mapao tbody .profResp").append("<td style='border-bottom-width:4px;border-top-width:4px;border-right-width:4px;'>" + response['lista'][i]['professor'] + "</td>");
                            console.log(i);
                        } else {
                            $("#tb-mapao tbody .profResp").append("<td style='border-right-width:4px;' colspan='3'><select id='prof" + response['lista'][i]['disc'] +"' class='form-select' aria-label='Default select example'></td>");
                            $("#tb-mapao tbody .aulas_dadas").append("<th style='border-right-width:4px;' colspan='3'>" + response['lista'][i]['AD'] + "</th>")

                            for (var prof in response['professores']) {
                                $("#prof" + response['lista'][i]['disc']).append("<option value='" + response['professores'][prof]['rg'] + "'>" + response['professores'][prof]['nome_ata'] + "</option>")
                            }
                        }
                    }

                    $("#modal_mapao").modal('show');
                    //console.log(array_nota);
                },
                error: function(err) {
                    console.log(err);
                }
            });             
        });

        $("#btnshowmapao").on('click', function() {
            $("#modal_mapao_show").modal('show');
            
        });

        $("#btn_salvarnotas").on('click', function() {

            for (var item in array_disc) {
                array_disc[item]['prof'] = $("#prof" + array_disc[item]['disc']).val()
            }

            info = {'action':4, 'bim':$("#cbBimestre").val(), 'num_classe':$("#lista_geral .active").attr("data-id"), 'notas':array_nota, 'vinculo':array_disc}

            $.ajax({
                type: "POST",
                url: "{{ url_for('notas') }}",
                contentType: "application/json",
                data: JSON.stringify(info),
                dataType: "json",
                success: function(response) {     
                    if (response) {
                        window.location.href = "notas?status=1";
                    } else {
                        window.location.href = "notas?status=0";
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            });            
        });

        $("#btn_salvarvinculo").on('click', function() {

            profs = [];

            $("input:checkbox[name=checkProfs]:checked").each(function(){
                profs.push($(this).val());
            });  

            if (profs.length  > 0 ) {                
                info = {'action':2, 'num_classe':$("#listaVinculo .active").attr('data-id'), 'profs':profs}
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('notas') }}",
                    contentType: "application/json",
                    data: JSON.stringify(info),
                    dataType: "json",
                    success: function(response) {     
                        if (response) {
                            //$("#feedbackVinculo").empty();
                            $("#feedbackVinculo").append('<div class="alert alert-success alert-dismissible fade show" role="alert"><strong>Operação bem-sucedida!</strong> Dados cadastrados com sucesso!<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                        } else {
                            $("#feedbackVinculo").append('<div class="alert alert-danger alert-dismissible fade show" role="alert"><strong>Erro falta!</strong> Por favor contate o administrador!<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                        }
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });                 
            }
        });

        $("#listaVinculo .list-group-item").on('click', function() {
            $("#listaVinculo .list-group-item").removeClass('active');
            $(this).addClass('active');

            $('input[name="checkProfs"]').removeAttr('disabled');

            // pegar professores vinculados
            $.ajax({
                type: "POST",
                url: "{{ url_for('notas') }}",
                contentType: "application/json",
                data: JSON.stringify({'action':3, 'num_classe':$(this).attr("data-id")}),
                dataType: "json",
                success: function(response) {    
                    $('input[name="checkProfs"]').prop("checked", false)
                    for (var item in response) {
                        $("#check" + response[item]['rg_prof']).prop("checked", true);
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            });             
        });

        $("#btn_dificuldades").on('click', function(e) {
            lista = [];

            $("#tb-geral tbody tr").each(function(index,item){
                var selected_itens = $(item).attr('data-dif');
                var ra = $(item).attr('data-ra');

                if(typeof selected_itens !== "undefined") {
                    if (selected_itens != "Escolher Dificuldades") {
                        lst = selected_itens.split(';');
                        
                        for (var lst_item in lst) {
                            lista.push({'ra':ra, 'item':lst[lst_item], 'bimestre':$("#cbBimestre").val(), 'num_classe':$('#lista_geral .active').attr("data-id")});
                        }
                    }
                }

            });

            $.ajax({
                type: "POST",
                url: "{{ url_for('save_dificuldades') }}",
                contentType: "application/json",
                data: JSON.stringify(lista),
                dataType: "json",
                success: function(response) {    
                    if (response) {
                        if (response) {
                            //$("#feedbackVinculo").empty();
                            $("#feedback_geral").append('<div class="alert alert-success alert-dismissible fade show" role="alert"><strong>Operação bem-sucedida!</strong> Dados cadastrados com sucesso!<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                        } else {
                            $("#feedback_geral").append('<div class="alert alert-danger alert-dismissible fade show" role="alert"><strong>Erro falta!</strong> Por favor contate o administrador!<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                        }                        
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            }); 
        });

        $("#btn_gerar_conselho").on('click', function() {
            // é aqui que o bicho pega, vamos sofridamente gerar a ata
            //confirm("Adicionar capa?\nEither OK or Cancel.");

            dificuldades = {{dificuldades}};
            
            const dataAtual = new Date();
            const anoAtual = dataAtual.getFullYear();
            const turma = $('#lista_geral .active').text().trim().replace(' - Anual', '').replace(' - 1º Semestre', '').replace(' - 2º Semestre', '');

            if ($("#cbBimestre").val() == 5) {

                duracao = $("#lista_geral .active").attr("data-duracao");
                var bimestre = 4;
                
                if (duracao == "1º Semestre") {
                    bimestre = 2;
                }

                $.ajax({
                    type: "POST",
                    url: "{{ url_for('getPDFConselhoFinal') }}",
                    contentType: "application/json",
                    data: JSON.stringify({'num_classe':$('#lista_geral .active').attr("data-id"), 'bimestre':bimestre}),
                    dataType: "json",
                    success: function(response) {    
                        console.log(response);
                        gerarAtaConselhoFinal(response);
                    },
                    error: function(err) {
                        console.log(err);
                    }
                }); 
            } else {
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('getPDFListConselho') }}",
                    contentType: "application/json",
                    data: JSON.stringify({'inicio':bimestres[$("#cbBimestre").val() + 'bim']['inicio'], 'fim_bim':bimestres[$("#cbBimestre").val() + 'bim']['fim'], 'num_classe':$('#lista_geral .active').attr("data-id"), 'bimestre':$("#cbBimestre").val()}),
                    dataType: "json",
                    success: function(response) {    
                        console.log(response);
                        gerarAtaConselho($("#cbBimestre").val(), anoAtual, turma, bimestres[$("#cbBimestre").val() + 'bim']['fim'], response, dificuldades);
                    },
                    error: function(err) {
                        console.log(err);
                    }
                }); 
            }            

            //gerarAtaConselho($("#cbBimestre").val(), anoAtual, turma);
        });

        $('#cbBimestre').on('change', function() {

            var inicio = "";
            var fim = "";
            var num_classe = $('#lista_geral .active').attr("data-id");

            if ($("#cbBimestre").val() == 5) {

                duracao = $("#lista_geral .active").attr("data-duracao");
                
                if (duracao == '1º Semestre') {
                    inicio = bimestres['2bim']['inicio'];
                    fim = bimestres['2bim']['fim'];                    
                } else {
                    inicio = bimestres['4bim']['inicio'];
                    fim = bimestres['4bim']['fim'];
                }
            } else {
                inicio = bimestres[$("#cbBimestre").val() + 'bim']['inicio'];
                fim = bimestres[$("#cbBimestre").val() + 'bim']['fim'];
            }

            carregarAlunos(inicio, fim, num_classe);

        });

        $("#lista_geral .list-group-item").on('click', function() {            

            $("#lista_geral .list-group-item").removeClass('active');
            $(this).addClass('active');
            $("#cbBimestre").removeAttr('disabled');
            $("#file").removeAttr('disabled');
            $("#cbBimestre").empty();

            var inicio = "";
            var fim = "";
            var num_classe = $(this).attr("data-id");

            if ($(this).attr("data-duracao") == "Anual") {
                $("#cbBimestre").append('<option value="1">1º Bimestre</option>');
                $("#cbBimestre").append('<option value="2">2º Bimestre</option>');
                $("#cbBimestre").append('<option value="3">3º Bimestre</option>');
                $("#cbBimestre").append('<option value="4">4º Bimestre</option>');
                $("#cbBimestre").append('<option value="5">Conceito Final</option>');

                // consulta primeiro bimestre
                inicio = bimestres['1bim']['inicio'];
                fim = bimestres['1bim']['fim'];

            } else {
                 if ($(this).attr("data-duracao") == "1º Semestre") {  
                    $("#cbBimestre").append('<option value="1">1º Bimestre</option>');
                    $("#cbBimestre").append('<option value="2">2º Bimestre</option>');
                    $("#cbBimestre").append('<option value="5">Conceito Final</option>');

                    inicio = bimestres['1bim']['inicio'];
                    fim = bimestres['1bim']['fim'];
                 } else {
                    $("#cbBimestre").append('<option value="3">1º Bimestre</option>');
                    $("#cbBimestre").append('<option value="4">2º Bimestre</option>');
                    $("#cbBimestre").append('<option value="5">Conceito Final</option>');

                    inicio = bimestres['3bim']['inicio'];
                    fim = bimestres['3bim']['fim'];                    
                 }
            }

            carregarAlunos(inicio, fim, num_classe);

        });


        function carregarAlunos(inicio, fim, num_classe) {

            dificuldades = {{dificuldades}};
            //console.log(dificuldades);

            var acao = 0;

            if ($("#cbBimestre").val() == 5) {
                acao = 5;
            }

            $.ajax({
                type: "POST",
                url: "{{ url_for('notas') }}",
                contentType: "application/json",
                data: JSON.stringify({'action':acao, 'inicio':inicio, 'fim':fim, 'num_classe':num_classe, 'bimestre':$("#cbBimestre").val()}),
                dataType: "json",
                success: function(response) {   

                    console.log(response);

                    $("#listaGeral").empty();

                    $("#listaGeral").append("<table id='tb-geral' class='table table-hover table-striped'></table>");

                    $("#tb-mapao-show").empty();

                    if ($("#cbBimestre").val() == 5) {
                        $("#tb-geral").append("<thead class='table-dark'><tr><th>Nº</th><th>Nome</th><th>Status Final</th></tr></thead>");
                    } else {
                        $("#tb-geral").append("<thead class='table-dark'><tr><th>Nº</th><th>Nome</th><th>Dificuldades</th></tr></thead>");
                    }
                    

                    if (response['notas'].length > 0) {
                        $("#btnshowmapao").removeAttr('disabled');
                        $("#btn_gerar_conselho").removeAttr('disabled');
                        $("#btn_dificuldades").removeAttr('disabled');
                        $("#btn_import_dificuldades").removeAttr('disabled');
                        $("#tb-mapao-show").append("<thead class='table-secondary'><tr style='border-left-width:4px;border-top-width:4px' class='cab'><th rowspan='2'>Nº</th><th style='border-right-width:4px' rowspan='2'>Nome</th></tr></thead>");
                        $("#tb-mapao-show thead").append("<tr style='border-left-width:4px' class='subcab'></tr>")

                        for (var item in response['notas']) {
                            $("#tb-mapao-show thead .cab").append("<th style='border-right-width:4px' class='text-center' colspan='3'>" + response['notas'][item]['abv'] + "</th>");
                            $("#tb-mapao-show thead .subcab").append("<th class='text-center'>N</th><th class='text-center'>F</th><th style='border-right-width:4px' class='text-center'>AC</th>");
                        }


                    } else if (response['medias'].length > 0) {
                        $("#btnshowmapao").removeAttr('disabled');
                        $("#btn_gerar_conselho").removeAttr('disabled');    
                        $("#btn_dificuldades").attr('disabled', '');
                        $("#btn_import_dificuldades").attr('disabled', '');

                        $("#tb-mapao-show").append("<thead class='table-secondary'><tr style='border-left-width:4px;border-top-width:4px' class='cab'><th rowspan='2'>Nº</th><th style='border-right-width:4px' rowspan='2'>Nome</th></tr></thead>");
                        $("#tb-mapao-show thead").append("<tr style='border-left-width:4px' class='subcab'></tr>")

                        for (var item in response['medias']) {
                            $("#tb-mapao-show thead .cab").append("<th style='border-right-width:4px' class='text-center'>" + response['medias'][item]['abv'] + "</th>");
                            $("#tb-mapao-show thead .subcab").append("<th style='border-right-width:4px' class='text-center'>Média</th>");
                        }                        
                    } else {
                        $("#btnshowmapao").attr('disabled', '');
                        $("#btn_gerar_conselho").attr('disabled', '');
                        $("#btn_dificuldades").attr('disabled', '');
                        $("#btn_import_dificuldades").attr('disabled', '');
                    }

                    $("#tb-geral").append("<tbody></tbody>");
                    $("#tb-mapao-show").append("<tbody></tbody>");

                    for (var item in response['alunos']) {

                        texto_dificuldades = "";

                        /*var lista_dificuldades = '<select id="multiple-checkboxes" class="mlt" multiple="multiple">';

                        for (var dif in dificuldades) {
                            lista_dificuldades += '<option value="' + dificuldades[dif]['id'] + '">' + dificuldades[dif]['title'] + '</option>';                            
                        }*/

                        //console.log(response['alunos']);

                        if ($("#cbBimestre").val() != 5) {
                            lista_dificuldades = '<div id="CampaignSelector' + response['alunos'][item]['ra'] + '" class="nav-item dropdown" data-bs-boundary="body">'
                                            +    '<button id="btnCampaignSelector' + response['alunos'][item]['ra'] + '" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">Escolher Dificuldades</button>'
                                            +    '<div id="ddCampaignSelector' + response['alunos'][item]['ra'] + '" class="dropdown-menu" aria-labelledby="ddCampaignSelector' + response['alunos'][item]['ra'] + '">';

                            for (var dif in dificuldades) {

                                if (response['alunos'][item]['dificuldade'].includes(dificuldades[dif]['id'])) {
                                    texto_dificuldades += dificuldades[dif]['id'] + ";";
                                    lista_dificuldades += '<div class="dropdown-item d-flex justify-content-between _campaign" data-campaign-id="' + dificuldades[dif]['id'] + '"><label><input class="form-check-input me-1" type="checkbox" name="check' + response['alunos'][item]['ra'] + '" value="' + dificuldades[dif]['id'] + '" checked>' + dificuldades[dif]['id'] + ' - ' + dificuldades[dif]['title'] + '</label></div>'
                                } else {
                                    lista_dificuldades += '<div class="dropdown-item d-flex justify-content-between _campaign" data-campaign-id="' + dificuldades[dif]['id'] + '"><label><input class="form-check-input me-1" type="checkbox" name="check' + response['alunos'][item]['ra'] + '" value="' + dificuldades[dif]['id'] + '">' + dificuldades[dif]['id'] + ' - ' + dificuldades[dif]['title'] + '</label></div>'
                                }
                            }

                            lista_dificuldades += '</div></div>';

                            if (texto_dificuldades != "") {
                                $("#tb-geral tbody").append("<tr data-ra='" + response['alunos'][item]['ra'] + "' data-dif='" + texto_dificuldades.slice(0, -1) + "'><td>" + response['alunos'][item]['num_chamada'] + "</td><td>" + response['alunos'][item]['nome'] + "</td><td>" + lista_dificuldades  + "</td></tr>");
                            } else {
                                $("#tb-geral tbody").append("<tr data-ra='" + response['alunos'][item]['ra'] + "'><td>" + response['alunos'][item]['num_chamada'] + "</td><td>" + response['alunos'][item]['nome'] + "</td><td>" + lista_dificuldades  + "</td></tr>");
                            }
                        } else {
                            if (response['alunos'][item]['abv1'] == "RETD") {
                                text_class = 'class="text-danger"';
                            } else if (response['alunos'][item]['abv1'] == "APROV") {
                                text_class = 'class="text-primary"';
                            } else {
                                text_class = '';
                            }

                            $("#tb-geral tbody").append("<tr data-ra='" + response['alunos'][item]['ra'] + "'><td>" + response['alunos'][item]['num_chamada'] + "</td><td>" + response['alunos'][item]['nome'] + "</td><td " + text_class + ">" + response['alunos'][item]['situacao'] + "</td></tr>");
                        }

                        $("#tb-mapao-show tbody").append("<tr style='border-left-width:4px' data-ra='" + response['alunos'][item]['ra'] + "'><td>" + response['alunos'][item]['num_chamada'] + "</td><td style='border-right-width:4px'>" + response['alunos'][item]['nome'] + "</td></tr>");
                        /*$("#tb-geral tbody tr[data-ra='" + response['alunos'][item]['ra'] + "']").append("<td>Afs</td>");
                        console.log(response['alunos']['ra']);
                        console.log(response['notas']);*/

                        if (texto_dificuldades != "") {
                            $("#btnCampaignSelector" +  response['alunos'][item]['ra']).addClass('btn-primary');
                            $("#btnCampaignSelector" +  response['alunos'][item]['ra']).removeClass('btn-secondary');
                            $("#btnCampaignSelector" +  response['alunos'][item]['ra']).text(texto_dificuldades.slice(0, -1));
                        }
                    }

                    if ($("#cbBimestre").val() != 5) {
                        $("#tb-mapao-show tbody").append("<tr style='border-left-width:4px;border-bottom-width:4px;border-top-width:4px;' class='table-info' data-id='prof'><th style='border-right-width:4px;' colspan='2'>Professor</th></tr>")
                        $("#tb-mapao-show tbody").append("<tr style='border-left-width:4px;border-bottom-width:4px;' class='table-info' data-id='ad'><th style='border-right-width:4px;' colspan='2'>Aulas Dadas</th></tr>")
                    } else {
                        $("#tb-mapao-show tbody").append("<tr style='border-left-width:4px;border-bottom-width:4px;border-top-width:4px;' class='table-info' data-id='prof'><th style='border-right-width:4px;' colspan='2'>Professor</th></tr>")
                    }

                    for (var item in response['notas']) {
                        for (var aluno in response['notas'][item]['notas']) {

                            if (parseInt(response['notas'][item]['notas'][aluno]['N']) < 5) {
                                $("#tb-mapao-show tbody tr[data-ra='" + response['notas'][item]['notas'][aluno]['ra_aluno'] + "']").append("<td class='table-danger text-center'>" + response['notas'][item]['notas'][aluno]['N'] + "</td><td class='text-center'>" + response['notas'][item]['notas'][aluno]['F'] + "</td><td style='border-right-width:4px' class='text-center'>" + response['notas'][item]['notas'][aluno]['AC'] + "</td>");    
                            } else if (response['notas'][item]['notas'][aluno]['N'] == "EP") {
                                $("#tb-mapao-show tbody tr[data-ra='" + response['notas'][item]['notas'][aluno]['ra_aluno'] + "']").append("<td class='table-wanger text-center'>" + response['notas'][item]['notas'][aluno]['N'] + "</td><td class='text-center'>" + response['notas'][item]['notas'][aluno]['F'] + "</td><td style='border-right-width:4px' class='text-center'>" + response['notas'][item]['notas'][aluno]['AC'] + "</td>");    
                            } else {
                                $("#tb-mapao-show tbody tr[data-ra='" + response['notas'][item]['notas'][aluno]['ra_aluno'] + "']").append("<td class='text-center'>" + response['notas'][item]['notas'][aluno]['N'] + "</td><td class='text-center'>" + response['notas'][item]['notas'][aluno]['F'] + "</td><td style='border-right-width:4px' class='text-center'>" + response['notas'][item]['notas'][aluno]['AC'] + "</td>");
                            }
                        }


                        $("#tb-mapao-show tbody tr[data-id='prof'").append('<td style="border-right-width:4px;" class="text-center" colspan="3">' + response['professores'][response['notas'][item]['disciplina']]['prof'] + '</td>')
                        $("#tb-mapao-show tbody tr[data-id='ad'").append('<td style="border-right-width:4px;" class="text-center" colspan="3">' + response['professores'][response['notas'][item]['disciplina']]['ad'] + '</td>')                    

                    }

                    for (var item in response['medias']) {
                        for (var aluno in response['medias'][item]['medias']) {

                            if (parseInt(response['medias'][item]['medias'][aluno]['M']) < 5) {
                                $("#tb-mapao-show tbody tr[data-ra='" + response['medias'][item]['medias'][aluno]['ra_aluno'] + "']").append("<td style='border-right-width:4px' class='table-danger text-center'>" + response['medias'][item]['medias'][aluno]['M'] + "</td>");
                            } else if (response['medias'][item]['medias'][aluno]['M'] == "EP") {
                                $("#tb-mapao-show tbody tr[data-ra='" + response['medias'][item]['medias'][aluno]['ra_aluno'] + "']").append("<td style='border-right-width:4px' class='table-wanger text-center'>" + response['medias'][item]['medias'][aluno]['M'] + "</td>");    
                            } else {
                                $("#tb-mapao-show tbody tr[data-ra='" + response['medias'][item]['medias'][aluno]['ra_aluno'] + "']").append("<td style='border-right-width:4px' class='text-center'>" + response['medias'][item]['medias'][aluno]['M'] + "</td>");
                            }
                        }  

                        $("#tb-mapao-show tbody tr[data-id='prof'").append('<td style="border-right-width:4px;" class="text-center">' + response['professores'][response['medias'][item]['disciplina']]['prof'] + '</td>')                                              

                    }

                    if ($("#cbBimestre").val() != 5) {
                        $("#modal_mapaoshowLabel").html("Mapão Salvo - " + $('#lista_geral .active').text() + " - <span class='text-danger'>" + $("#cbBimestre").val() + "º Bimestre</span>");
                    } else {
                        $("#modal_mapaoshowLabel").html("Mapão Salvo - " + $('#lista_geral .active').text() + " - <span class='text-danger'>Conceito Final</span>");
                    }
                    
                    //console.log(response);
                },
                error: function(err) {
                    console.log(err);
                }
            }); 
        }

        function editarProf(rg, nome, nome_ata) {
            $("#txt_rgprof").val(rg);
            $("#txt_nomeprof").val(nome);
            $("#txt_nomeata").val(nome_ata);
        }

        function editarDisc(codigo, desc, abv, classic) {
            $("#txt_coddisciplina").val(codigo);
            $("#txt_descricao").val(desc);
            $("#txt_abv").val(abv);
            $("#cbClassificacao").val(classic);
        }

        $("#txt_nomeprof").on('change', function() {
            
            const nome = $(this).val().toLowerCase();
            const nome_final = nome.replace(/(^\w{1})|(\s+\w{1})/g, letra => letra.toUpperCase()).replaceAll("De ", 'de ').replaceAll("Da ", 'da ').replaceAll("Dos ", 'dos ');

            array = nome_final.split(" ");

            console.log(array[0]);

            $("#txt_nomeata").val(array[0]);

            $(this).val(nome_final);
        });

        $( document ).ready(function() {
            let dataTable = new DataTable("#tabelaDisciplinas", {
                    order: [[3, 'asc']],
                    lengthMenu: [
                        [15, 30, 70, 100, 200],
                        [15, 30, 70, 100, 200],
                    ], 
                    "autoWidth": false,
                    "oLanguage": {
                        "sSearch": "Pesquisar:",
                    },
                    "language": {
                        "lengthMenu": "Exibir _MENU_ itens por página",
                        "zeroRecords": "Nada encontrado - Desculpe",
                        "info": "Exibindo _START_ até _END_ de um total de _TOTAL_ registro(s)",
                        "infoEmpty": "Sem registros",
                        "infoFiltered": "(filtrado de um total de _MAX_ registro(s))",
                        "paginate": {
                            "previous": "Anterior",
                            "next": "Próximo"
                        }
                    }                    
            }); 

            let dataTable_prof = new DataTable("#tabelaProfessores", {
                    order: [[1, 'asc']],
                    lengthMenu: [
                        [15, 30, 70, 100, 200],
                        [15, 30, 70, 100, 200],
                    ], 
                    "autoWidth": false,
                    "oLanguage": {
                        "sSearch": "Pesquisar:",
                    },
                    "language": {
                        "lengthMenu": "Exibir _MENU_ itens por página",
                        "zeroRecords": "Nada encontrado - Desculpe",
                        "info": "Exibindo _START_ até _END_ de um total de _TOTAL_ registro(s)",
                        "infoEmpty": "Sem registros",
                        "infoFiltered": "(filtrado de um total de _MAX_ registro(s))",
                        "paginate": {
                            "previous": "Anterior",
                            "next": "Próximo"
                        }
                    }                    
            });             
        });

    </script>
  </body>
</html>
