<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
</head>
<body>
     <h1>Teste</h1>
     <p>Este é um teste de template para usar javascript e puxar informação da SED diretamente.</p>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
        dados = {
            "codigoAluno": 10064667,
            "editar": false,
            "ConsultaProgramas": 'False',
            "alunoCeeja": "",
            "tipoTelaCEEJA":0
        };

        console.log("Dados do aluno:", dados);

        $.ajax({
                type: 'POST',
                async: true,
                dataType: 'html',
                data: ({
                        codigoAluno: parseInt(dados.codigoAluno),
                        editar: dados.editar,
                        ConsultaProgramas: dados.varPrograma,
                        alunoCeeja: dados.alunoCeeja,
                        tipoTelaCEEJA: dados.tipoTelaCEEJA
                }),
                url: 'https://sed.educacao.sp.gov.br/NCA/FichaAluno',
                success: function (data, textStatus, jqXHR) {
                        console.log("Dados recebidos:", data);
                        // Aqui você pode manipular os dados recebidos, por exemplo, exibir em um elemento HTML
                        //document.body.innerHTML += `<div>${data}</div>`;
                },
                        error: function (jqXHR, textStatus, errorThrown) {
                        console.error("Erro ao buscar dados:", textStatus, errorThrown);
                }
        });

      </script>
</body>

</html>