
<html>
    <head>
        <title>Rendereziação PDF</title>
        <style>

            @font-face {
                font-family:bebaskai;
                font-style:normal;
                font-weight:400;
                src:local('BebasKai'),
                url(/static/fonts/BebasKai-Regular.woff) format('woff')
            }

            #pagina {
                width: 729px;
                height: 1057px;
                border-width: 2px;
                border-style: solid;
                position: absolute;
                color: black;
                top:30px;
                left: 30px;
                background-color: white;
            }

            #tb-principal {
                width: 100%;
                border-collapse: separate;
                border-spacing: 2;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
            }

            #tb-principal th {
                border: 1px solid black;
                text-align: center;
                padding: 8px;
                font-family: Arial, Helvetica, sans-serif;
            }

            #tb-principal td {
                background-color: white;
                border: 1px solid black;
                text-align: center;
                padding: 4px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 11px;
            }      

            .vertical-text {
                writing-mode: vertical-rl; /* or vertical-lr */
                font-size: 25px !important;
                font-weight: bold;
                transform: rotate(180deg)
            }

            .gray {
                background-color: #f2f2f2 !important;
            }

            .d-2 {
                background-color: rgb(255, 242, 204) !important;    
            }

            .yellow {
                background-color: rgb(255, 242, 204) !important;
            }

            .d-none {
                background-color: orange !important;
            }

            .d-5 {
                background-color: rgb(204, 255, 204) !important;
            }

            .first-line {
                border-bottom: 2px solid black !important;
            }

        </style>
    </head>
    <body>
        <div id="pagina">
            
            <table id="tb-principal">
                <thead>
                    <tr>
                        <td></td>
                        <th class="gray">Horário</th>
                        
                        <th class="gray">1ª Série A</th>
                        
                        <th class="gray">1ª Série B</th>
                        
                        <th class="gray">2ª Série A</th>
                        
                        <th class="gray">2ª Série B</th>
                        
                        <th class="gray">3ª Série A</th>
                        
                        <th class="gray">3ª Série B</th>
                        
                    </tr>
                </thead>
                <tbody> 
                    

                    

                        
                        
                        <!-- Segunda feira -->
                        
                        <tr>
                            
                                <td class="vertical-text gray first-line" rowspan="9">Segunda</td>
                                <td class="gray first-line">07:00 - 07:50</td>

                                <!-- Agora se inicia o processo de inclusão das disciplinas -->
                                
                                <td class="d-1 first-line">EDF (Luiz)</td>
                                
                            
                                <td class="d-1 first-line">POR (Ana Maria)</td>
                                
                            
                                <td class="d-1 first-line">MAT (David)</td>
                                
                            
                                <td class="d-2 first-line">ROB (Tatiana)</td>
                                
                            
                                <td class="d-2 first-line">ROB (Marcílio)</td>
                                
                            
                                <td class="d-1 first-line">HIS (Lilia)</td>
                                
                            

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">07:50 - 08:40</td>

                                
                                <td class="d-2">ING (Ana Paula)</td>
                                
                                
                                <td class="d-1">GEO (Lilia)</td>
                                
                                
                                <td class="d-1">EDF (Luiz)</td>
                                
                                
                                <td class="d-1">FIS (Marcílio)</td>
                                
                                
                                <td class="d-1">MAT (Tatiana)</td>
                                
                                
                                <td class="d-2">AMD (Rosana)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">08:55 - 09:45</td>

                                
                                <td class="d-2">PE (Eliane)</td>
                                
                                
                                <td class="d-1">ART (Rosana)</td>
                                
                                
                                <td class="d-1">ING (Ana Maria)</td>
                                
                                
                                <td class="d-1">POR (Ana Paula)</td>
                                
                                
                                <td class="d-2">ROB (Marcílio)</td>
                                
                                
                                <td class="d-2">EMA (Luiz)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">09:45 - 10:35</td>

                                
                                <td class="d-1">MAT (David)</td>
                                
                                
                                <td class="d-2">PE (Eliane)</td>
                                
                                
                                <td class="d-1">POR (Ana Paula)</td>
                                
                                
                                <td class="d-2">PV (Rosana)</td>
                                
                                
                                <td class="d-1">MAT (Tatiana)</td>
                                
                                
                                <td class="d-2">ROB (Marcílio)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">10:35 - 11:25</td>

                                
                                <td class="d-1">POR (Ana Maria)</td>
                                
                                
                                <td class="d-2">ROB (Fabiana)</td>
                                
                                
                                <td class="d-1">HIS (Sirlene)</td>
                                
                                
                                <td class="d-1">MAT (David)</td>
                                
                                
                                <td class="d-2">EMP (Eliane)</td>
                                
                                
                                <td class="d-2">ROB (Marcílio)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">12:25 - 13:15</td>

                                
                                <td class="d-2">ROB (Fabiana)</td>
                                
                                
                                <td class="d-1">MAT (David)</td>
                                
                                
                                <td class="d-1">QUI (Eliane)</td>
                                
                                
                                <td class="d-1">EFI (Tatiana)</td>
                                
                                
                                <td class="d-1">POR (Jurandir)</td>
                                
                                
                                <td class="d-2">FSM (Sirlene)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">13:15 - 14:05</td>

                                
                                <td class="d-2">ROB (Fabiana)</td>
                                
                                
                                <td class="d-1">FIS (Marcílio)</td>
                                
                                
                                <td class="d-1">SOC (Lilia)</td>
                                
                                
                                <td class="d-1">HIS (Sirlene)</td>
                                
                                
                                <td class="d-2">PE (Eliane)</td>
                                
                                
                                <td class="d-1">POR (Jurandir)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">14:05 - 14:55</td>

                                
                                <td class="d-1">EFI (Eliane)</td>
                                
                                
                                <td class="d-2">EMA (Luiz)</td>
                                
                                
                                <td class="d-1">GEO (Lilia)</td>
                                
                                
                                <td class="d-2">LID (Sirlene)</td>
                                
                                
                                <td class="d-1">POR (Jurandir)</td>
                                
                                
                                <td class="d-2">PV (Rosana)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">15:10 - 16:00</td>

                                
                                <td class="d-None">TUTORIA </td>
                                
                                
                                <td class="d-None">TUTORIA </td>
                                
                                
                                <td class="d-None">TUTORIA </td>
                                
                                
                                <td class="d-None">TUTORIA </td>
                                
                                
                                <td class="d-None">TUTORIA </td>
                                
                                
                                <td class="d-None">TUTORIA </td>
                                
                                

                            
                            


                        </tr>
                        

                    

                        
                        
                        <!-- Segunda feira -->
                        
                        <tr>
                            
                                <td class="vertical-text gray first-line" rowspan="9">Terça</td>
                                <td class="gray first-line">07:00 - 07:50</td>

                                <!-- Agora se inicia o processo de inclusão das disciplinas -->
                                
                                <td class="d-1 first-line">QUI (Eliane)</td>
                                
                            
                                <td class="d-1 first-line">POR (Ana Maria)</td>
                                
                            
                                <td class="d-1 first-line">EFI (Marcílio)</td>
                                
                            
                                <td class="d-1 first-line">POR (Ana Paula)</td>
                                
                            
                                <td class="d-1 first-line">EDF (Luiz)</td>
                                
                            
                                <td class="d-2 first-line">FSM (Sirlene)</td>
                                
                            

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">07:50 - 08:40</td>

                                
                                <td class="d-1">HIS (Lilia)</td>
                                
                                
                                <td class="d-1">FIS (Marcílio)</td>
                                
                                
                                <td class="d-1">BIO (Fabiana)</td>
                                
                                
                                <td class="d-1">EDF (Luiz)</td>
                                
                                
                                <td class="d-2">EMP (Eliane)</td>
                                
                                
                                <td class="d-1">POR (Jurandir)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">08:55 - 09:45</td>

                                
                                <td class="d-2">EMA (Luiz)</td>
                                
                                
                                <td class="d-1">HIS (Lilia)</td>
                                
                                
                                <td class="d-1">MAT (David)</td>
                                
                                
                                <td class="d-1">ING (Ana Maria)</td>
                                
                                
                                <td class="d-2">PE (Eliane)</td>
                                
                                
                                <td class="d-2">GPO (Sirlene)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">09:45 - 10:35</td>

                                
                                <td class="d-1">POR (Ana Maria)</td>
                                
                                
                                <td class="d-1">MAT (David)</td>
                                
                                
                                <td class="d-5">CCMTA (Italo)</td>
                                
                                
                                <td class="d-2">PE (Fabiana)</td>
                                
                                
                                <td class="d-2">PRG (Tatiana)</td>
                                
                                
                                <td class="d-1">POR (Jurandir)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">10:35 - 11:25</td>

                                
                                <td class="d-1">ART (Rosana)</td>
                                
                                
                                <td class="d-1">REL (Jurandir)</td>
                                
                                
                                <td class="d-5">CCMTA (Italo)</td>
                                
                                
                                <td class="d-1">QUI (Eliane)</td>
                                
                                
                                <td class="d-2">BIOT (Fabiana)</td>
                                
                                
                                <td class="d-1">ING (Ana Paula)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">12:25 - 13:15</td>

                                
                                <td class="d-1">MAT (David)</td>
                                
                                
                                <td class="d-1">QUI (Eliane)</td>
                                
                                
                                <td class="d-5">MAA (Kesia)</td>
                                
                                
                                <td class="d-1">GEO (Lilia)</td>
                                
                                
                                <td class="d-2">BIOT (Fabiana)</td>
                                
                                
                                <td class="d-1">MAT (Tatiana)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">13:15 - 14:05</td>

                                
                                <td class="d-1">BIO (Fabiana)</td>
                                
                                
                                <td class="d-2">PV (Rosana)</td>
                                
                                
                                <td class="d-5">MAA (Kesia)</td>
                                
                                
                                <td class="d-1">MAT (David)</td>
                                
                                
                                <td class="d-1">POR (Jurandir)</td>
                                
                                
                                <td class="d-2">PE (Eliane)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">14:05 - 14:55</td>

                                
                                <td class="d-2">ING (Ana Paula)</td>
                                
                                
                                <td class="d-1">ART (Rosana)</td>
                                
                                
                                <td class="d-1">REL (Ana Maria)</td>
                                
                                
                                <td class="d-1">BIO (Fabiana)</td>
                                
                                
                                <td class="d-1">MAT (Tatiana)</td>
                                
                                
                                <td class="d-2">EMA (Luiz)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">15:10 - 16:00</td>

                                
                                <td class="d-None">CLUBE </td>
                                
                                
                                <td class="d-None">CLUBE </td>
                                
                                
                                <td class="d-None">CLUBE </td>
                                
                                
                                <td class="d-None">CLUBE </td>
                                
                                
                                <td class="d-None">CLUBE </td>
                                
                                
                                <td class="d-None">CLUBE </td>
                                
                                

                            
                            


                        </tr>
                        

                    

                        
                        
                        <!-- Segunda feira -->
                        
                        <tr>
                            
                                <td class="vertical-text gray first-line" rowspan="9">Quarta</td>
                                <td class="gray first-line">07:00 - 07:50</td>

                                <!-- Agora se inicia o processo de inclusão das disciplinas -->
                                
                                <td class="d-1 first-line">GEO (Lilia)</td>
                                
                            
                                <td class="d-2 first-line">ROB (Fabiana)</td>
                                
                            
                                <td class="d-1 first-line">MAT (David)</td>
                                
                            
                                <td class="d-1 first-line">FIS (Marcílio)</td>
                                
                            
                                <td class="d-1 first-line">ING (Ana Paula)</td>
                                
                            
                                <td class="d-1 first-line">EDF (Luiz)</td>
                                
                            

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">07:50 - 08:40</td>

                                
                                <td class="d-2">EMA (Luiz)</td>
                                
                                
                                <td class="d-1">MAT (David)</td>
                                
                                
                                <td class="d-1">FIS (Marcílio)</td>
                                
                                
                                <td class="d-1">POR (Ana Paula)</td>
                                
                                
                                <td class="d-1">MAT (Tatiana)</td>
                                
                                
                                <td class="d-2">AMD (Rosana)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">08:55 - 09:45</td>

                                
                                <td class="d-1">EFI (Eliane)</td>
                                
                                
                                <td class="d-2">ING (Ana Paula)</td>
                                
                                
                                <td class="d-1">ING (Ana Maria)</td>
                                
                                
                                <td class="d-1">MAT (David)</td>
                                
                                
                                <td class="d-1">FIS (Marcílio)</td>
                                
                                
                                <td class="d-1">MAT (Tatiana)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">09:45 - 10:35</td>

                                
                                <td class="d-1">MAT (David)</td>
                                
                                
                                <td class="d-1">POR (Ana Maria)</td>
                                
                                
                                <td class="d-1">POR (Ana Paula)</td>
                                
                                
                                <td class="d-2">EMA (Rosana)</td>
                                
                                
                                <td class="d-2">QUA (Eliane)</td>
                                
                                
                                <td class="d-1">MAT (Tatiana)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">10:35 - 11:25</td>

                                
                                <td class="d-1">FIS (Marcílio)</td>
                                
                                
                                <td class="d-1">QUI (Eliane)</td>
                                
                                
                                <td class="d-1">GEO (Lilia)</td>
                                
                                
                                <td class="d-2">ROB (Tatiana)</td>
                                
                                
                                <td class="d-2">PV (Rosana)</td>
                                
                                
                                <td class="d-1">ING (Ana Paula)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">12:25 - 13:15</td>

                                
                                <td class="d-1">QUI (Eliane)</td>
                                
                                
                                <td class="d-1">FIL (Sirlene)</td>
                                
                                
                                <td class="d-1">EFI (Marcílio)</td>
                                
                                
                                <td class="d-1">SOC (Lilia)</td>
                                
                                
                                <td class="d-2">PRG (Tatiana)</td>
                                
                                
                                <td class="d-2">ORA (Rosana)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">13:15 - 14:05</td>

                                
                                <td class="d-1">FIL (Sirlene)</td>
                                
                                
                                <td class="d-1">MAT (David)</td>
                                
                                
                                <td class="d-1">BIO (Fabiana)</td>
                                
                                
                                <td class="d-1">QUI (Eliane)</td>
                                
                                
                                <td class="d-1">HIS (Lilia)</td>
                                
                                
                                <td class="d-1">FIS (Marcílio)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">14:05 - 14:55</td>

                                
                                <td class="d-1">HIS (Lilia)</td>
                                
                                
                                <td class="d-1">EFI (David)</td>
                                
                                
                                <td class="d-1">HIS (Sirlene)</td>
                                
                                
                                <td class="d-1">BIO (Fabiana)</td>
                                
                                
                                <td class="d-1">FIS (Marcílio)</td>
                                
                                
                                <td class="d-2">PE (Eliane)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">15:10 - 16:00</td>

                                
                                <td class="d-None">TUTORIA </td>
                                
                                
                                <td class="d-None">TUTORIA </td>
                                
                                
                                <td class="d-None">TUTORIA </td>
                                
                                
                                <td class="d-None">TUTORIA </td>
                                
                                
                                <td class="d-None">TUTORIA </td>
                                
                                
                                <td class="d-None">TUTORIA </td>
                                
                                

                            
                            


                        </tr>
                        

                    

                        
                        
                        <!-- Segunda feira -->
                        
                        <tr>
                            
                                <td class="vertical-text gray first-line" rowspan="9">Quinta</td>
                                <td class="gray first-line">07:00 - 07:50</td>

                                <!-- Agora se inicia o processo de inclusão das disciplinas -->
                                
                                <td class="d-1 first-line">REL (Jurandir)</td>
                                
                            
                                <td class="d-1 first-line">EDF (Luiz)</td>
                                
                            
                                <td class="d-1 first-line">REL (Ana Maria)</td>
                                
                            
                                <td class="d-1 first-line">POR (Ana Paula)</td>
                                
                            
                                <td class="d-2 first-line">OEM (Tatiana)</td>
                                
                            
                                <td class="d-2 first-line">OEM (David)</td>
                                
                            

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">07:50 - 08:40</td>

                                
                                <td class="d-1">EDF (Luiz)</td>
                                
                                
                                <td class="d-1">REL (Jurandir)</td>
                                
                                
                                <td class="d-1">MAT (David)</td>
                                
                                
                                <td class="d-1">GEO (Lilia)</td>
                                
                                
                                <td class="d-2">OEP (Ana Maria)</td>
                                
                                
                                <td class="d-2">OEP (Ana Paula)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">08:55 - 09:45</td>

                                
                                <td class="d-1">POR (Ana Maria)</td>
                                
                                
                                <td class="d-1">HIS (Lilia)</td>
                                
                                
                                <td class="d-1">POR (Ana Paula)</td>
                                
                                
                                <td class="d-1">MAT (David)</td>
                                
                                
                                <td class="d-1">POR (Jurandir)</td>
                                
                                
                                <td class="d-2">ORA (Rosana)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">09:45 - 10:35</td>

                                
                                <td class="d-2">ELE (Ana Paula)</td>
                                
                                
                                <td class="d-2">ELE (Fabiana)</td>
                                
                                
                                <td class="d-5">MAA (Kesia)</td>
                                
                                
                                <td class="d-2">ELE (Marcílio)</td>
                                
                                
                                <td class="d-2">ELE (Luiz)</td>
                                
                                
                                <td class="d-2">ELE (Lilia)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">10:35 - 11:25</td>

                                
                                <td class="d-2">ELE (Ana Paula)</td>
                                
                                
                                <td class="d-2">ELE (Fabiana)</td>
                                
                                
                                <td class="d-5">MAA (Kesia)</td>
                                
                                
                                <td class="d-2">ELE (Marcílio)</td>
                                
                                
                                <td class="d-2">ELE (Luiz)</td>
                                
                                
                                <td class="d-2">ELE (Lilia)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">12:25 - 13:15</td>

                                
                                <td class="d-1">POR (Ana Maria)</td>
                                
                                
                                <td class="d-1">GEO (Lilia)</td>
                                
                                
                                <td class="d-1">POR (Ana Paula)</td>
                                
                                
                                <td class="d-1">EFI (Tatiana)</td>
                                
                                
                                <td class="d-1">REL (Jurandir)</td>
                                
                                
                                <td class="d-2">GPO (Sirlene)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">13:15 - 14:05</td>

                                
                                <td class="d-2">PV (Rosana)</td>
                                
                                
                                <td class="d-1">POR (Ana Maria)</td>
                                
                                
                                <td class="d-5">IALP (Fabricio)</td>
                                
                                
                                <td class="d-1">HIS (Sirlene)</td>
                                
                                
                                <td class="d-1">HIS (Lilia)</td>
                                
                                
                                <td class="d-1">REL (Jurandir)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">14:05 - 14:55</td>

                                
                                <td class="d-1">GEO (Lilia)</td>
                                
                                
                                <td class="d-1">FIL (Sirlene)</td>
                                
                                
                                <td class="d-5">IALP (Fabricio)</td>
                                
                                
                                <td class="d-1">REL (Ana Maria)</td>
                                
                                
                                <td class="d-2">EMA (Luiz)</td>
                                
                                
                                <td class="d-1">REL (Jurandir)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">15:10 - 16:00</td>

                                
                                <td class="d-None">CLUBE </td>
                                
                                
                                <td class="d-None">CLUBE </td>
                                
                                
                                <td class="d-None">CLUBE </td>
                                
                                
                                <td class="d-None">CLUBE </td>
                                
                                
                                <td class="d-None">CLUBE </td>
                                
                                
                                <td class="d-None">CLUBE </td>
                                
                                

                            
                            


                        </tr>
                        

                    

                        
                        
                        <!-- Segunda feira -->
                        
                        <tr>
                            
                                <td class="vertical-text gray first-line" rowspan="9" style="border-top: 2px solid black;">Sexta</td>
                                <td class="gray first-line">07:00 - 07:50</td>

                                <!-- Agora se inicia o processo de inclusão das disciplinas -->
                                
                                <td class="d-1 first-line">MAT (David)</td>
                                
                            
                                <td class="d-2 first-line">EMA (Luiz)</td>
                                
                            
                                <td class="d-2 first-line">OEM (Tatiana)</td>
                                
                            
                                <td class="d-2 first-line">OEM (Marcílio)</td>
                                
                            
                                <td class="d-2 first-line">OEP (Ana Maria)</td>
                                
                            
                                <td class="d-2 first-line">OEP (Ana Paula)</td>
                                
                            

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">07:50 - 08:40</td>

                                
                                <td class="d-1">ART (Rosana)</td>
                                
                                
                                <td class="d-1">EDF (Luiz)</td>
                                
                                
                                <td class="d-2">OEP (Ana Paula)</td>
                                
                                
                                <td class="d-2">OEP (Ana Maria)</td>
                                
                                
                                <td class="d-2">OEM (Tatiana)</td>
                                
                                
                                <td class="d-2">OEM (David)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">08:55 - 09:45</td>

                                
                                <td class="d-2">OEP (Ana Maria)</td>
                                
                                
                                <td class="d-2">OEP (Ana Paula)</td>
                                
                                
                                <td class="d-1">SOC (Lilia)</td>
                                
                                
                                <td class="d-2">ORA (Rosana)</td>
                                
                                
                                <td class="d-2">QUA (Eliane)</td>
                                
                                
                                <td class="d-1">FIS (Marcílio)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">09:45 - 10:35</td>

                                
                                <td class="d-1">FIS (Marcílio)</td>
                                
                                
                                <td class="d-1">EFI (David)</td>
                                
                                
                                <td class="d-1">QUI (Eliane)</td>
                                
                                
                                <td class="d-1">SOC (Lilia)</td>
                                
                                
                                <td class="d-2">OEP (Ana Maria)</td>
                                
                                
                                <td class="d-2">OEP (Ana Paula)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">10:35 - 11:25</td>

                                
                                <td class="d-1">FIL (Sirlene)</td>
                                
                                
                                <td class="d-1">BIO (Fabiana)</td>
                                
                                
                                <td class="d-5">CCMTA (Italo)</td>
                                
                                
                                <td class="d-1">ING (Ana Maria)</td>
                                
                                
                                <td class="d-2">OEM (Tatiana)</td>
                                
                                
                                <td class="d-2">OEM (David)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">12:25 - 13:15</td>

                                
                                <td class="d-1">BIO (Fabiana)</td>
                                
                                
                                <td class="d-2">ING (Ana Paula)</td>
                                
                                
                                <td class="d-1">FIS (Marcílio)</td>
                                
                                
                                <td class="d-1">REL (Ana Maria)</td>
                                
                                
                                <td class="d-1">REL (Jurandir)</td>
                                
                                
                                <td class="d-1">MAT (Tatiana)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">13:15 - 14:05</td>

                                
                                <td class="d-2">OEM (Tatiana)</td>
                                
                                
                                <td class="d-2">OEM (Marcílio)</td>
                                
                                
                                <td class="d-5">IALP (Fabricio)</td>
                                
                                
                                <td class="d-2">LID (Sirlene)</td>
                                
                                
                                <td class="d-1">ING (Ana Paula)</td>
                                
                                
                                <td class="d-1">POR (Jurandir)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">14:05 - 14:55</td>

                                
                                <td class="d-1">REL (Jurandir)</td>
                                
                                
                                <td class="d-1">BIO (Fabiana)</td>
                                
                                
                                <td class="d-5">IALP (Fabricio)</td>
                                
                                
                                <td class="d-2">EMA (Rosana)</td>
                                
                                
                                <td class="d-2">EMA (Luiz)</td>
                                
                                
                                <td class="d-1">HIS (Lilia)</td>
                                
                                

                            
                            


                        </tr>
                        
                        <tr>
                            
                                <td class="gray">15:10 - 16:00</td>

                                
                                <td class="d-None">TUTORIA </td>
                                
                                
                                <td class="d-None">TUTORIA </td>
                                
                                
                                <td class="d-None">TUTORIA </td>
                                
                                
                                <td class="d-None">TUTORIA </td>
                                
                                
                                <td class="d-None">TUTORIA </td>
                                
                                
                                <td class="d-None">TUTORIA </td>
                                
                                

                            
                            


                        </tr>
                        

                    


                </tbody>
            </table>

        </div>
    </body>
</htmL>