<html lang="pt-BR">
    <head>
        <title>Teste invasão da SED</title>
    </head>
    <body>
        <h1>Conferir Javascript</h1>

        <script src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script> 
        <script>
            $.ajax({
                type: 'POST',
                async: true,
                dataType: 'html',
                data: ({
                    codigoAluno: parseInt(10064667),
                    editar: false,
                    ConsultaProgramas: 'False',
                    alunoCeeja: '',
                    tipoTelaCEEJA: 0
                }),
                url: 'https://sed.educacao.sp.gov.br/NCA/FichaAluno/FichaAluno',
                success: function (data, textStatus, jqXHR) {
                    //console.log(data);
                    //console.log(textStatus);
                    console.log(jqXHR)
                }
            });            
                        
        </script>
    </body>

</html>